[2019-05-16 23:38] andrewmclagan commented on #982
@billriess I'd like to see you go ahead with your current implementation around each `oauth_client` having a provider. Over the last few years my team has been looking at ways to implement multi-auth with passport - all seem a hack as there is no native support.

+1 for your implementation. I think to get things moving a fully fledged PR would go along-way. Also be very appreciated by the communit

[2019-05-17 03:09] billriess commented on #982
Sorry all, I've been placed on a very hectic project (I'm sure you all know what that's like!) I have not had a chance to write a proper PR for this. I can share the code I have in place to help you guys somewhere to start. Hopefully this will be allowed until I do get a chance to write a proper PR.

**/app/Passport/PassportServiceProvider.php**
[code]

**/app/Passport/TokenGuard.php**
[code]

**/

[2019-05-18 04:58] pneves001 opened #1019 "grant_type not being recognized."
- Passport Version: #.#.#
"laravel/passport": "^7.2"
- Laravel Version: #.#.#
"laravel/framework": "5.8.*",
- PHP Version: #.#.#
"php": "^7.1.3",
- Database Driver & Version:
pgsql
### Description:
The following parameters are returning the specified error:

grant_type: password
client_id: 2
client_secret: Dy1hUVkIPM9hWb2dMGrtf6GxpkSzRX6PwGZICYN6
username: KNENbAdYGM@gmail.com
password: secret
sco

[2019-05-18 05:28] pneves001 commented on #1019
https://www.youtube.com/watch?v=isTZTfJV0-I&t=619s

[2019-05-18 05:30] pneves001 commented on #1019
This appears to be some sort of incompatibility with laravel passport and laravel 5.8.  Not sure why its doing it. But I've now tried installing multiple versions of passport and it still doesn't work.

[2019-05-18 09:18] jeraldpunx commented on #1015
Sorry I need to closed this, it's `oauth` not `oath`

[2019-05-18 21:59] 3alampro opened #1020 "[Feature Request] passport:keys with Load Balancer"
Hello,

when working with load balancer and many application servers we have an issue generating api authentications keys since `php artisan passport:keys` will generate different key files on each server when we deploy our code.

in the latest updates in passport we can specify locations to load keys from path for api authentications keys via `Passport::loadKeysFrom('/secret-keys/oauth')` or stor

[2019-05-19 12:30] bellalMohamed opened #1021 "Token expires before time."
- Passport Version: ^7.2
- Laravel Version: 5.7.*
- PHP Version: 7.3.1
- Database Driver & Version: mysql, 5.7.26

### Description:
The token is expired also the expiration time is still one year ahead

### Steps To Reproduce:
I'm using a multi-auth technique in laravel passport by changing the guard provider on the fly to match my desired Model, and it works fine - not sure if that is the problem

[2019-05-19 14:52] Sephster commented on #1019
Strange that it says authorization grant type in the error message. Are you sure you are issuing a password grant request?

[2019-05-20 12:13] driesvints commented on #1020
Heya, thanks for suggesting. I personally don't see why this would be useful besides loading the keys directly. If you just provision the keys on each server and load them in with the default solution why would you still use something like the above instead?

[2019-05-20 12:14] driesvints commented on #1021
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-05-20 12:14] #1021 closed

[2019-05-20 12:14] driesvints commented on #1019
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-05-20 12:14] #1019 closed

[2019-05-21 05:58] 3alampro commented on #1020
Hello @driesvints,

when working with multiple application server behind load balancer and use `php artisan passport:keys` this command will generate different keys on each server This means an access token issued on one server might not be accepted on another.

So to fix it we need to store the keys on one location that all server can access something like s3 or cache driver to generate the same

[2019-05-21 07:47] driesvints commented on #1020
But you don't need to use `php artisan passport:keys` on each server separately. You only need to run it once and then use the same keys on each server.

[2019-05-21 15:02] 3alampro commented on #1020
Yes you can but it’s easier to have artisan command to achieve the same result without copying files from one server to many each time you create new server or update it when needed on all servers

We use Laravel Forge to provision servers and link each site with github repo with simple artisan command we can generate or update the files on all servers without accessing any server from our staff o

[2019-05-21 15:38] dwinjnr commented on #267
This worked!!

[2019-05-21 16:55] driesvints commented on #1020
I'm sorry but at the moment we aren't considering to add support for this. A best practice is to use the same keys on each server. You may use several solutions for this. I think the `.env` option might work best for you.

[2019-05-21 16:55] #1020 closed

[2019-05-22 14:21] hamidafghan opened #1023 "Multiple findForPassport ? e.g Login with username and phone number"
I have tried the ``` findForPassport ```. It is good if there is just one field instead of the default but I want to log in either with ```username or phone number ```. For the basic login what I did is
[code]

So here I can log in with username and phone number. How it is possible for the passport too.

[2019-05-23 14:52] juarezfranco commented on #342
I checked source and recently added `CheckClientCredentialsForAnyScope`.
It worked for me.

[2019-05-25 13:15] tcdsantos commented on #734
I have Laravel Passport implemented in my project and it is everything working well except the cookie expiration time where the tokens are being stored (that is just 1 hour).

My project consists in a backend Laravel 5.8 api (with Laravel Passport) that serves a front SPA app (Vue).

Users from my app can login successfully using a page with a Vue component that makes a POST request with the user

[2019-05-27 13:43] driesvints commented on #1010
This is implemented now/

[2019-05-27 13:43] #1010 closed

[2019-05-27 13:44] driesvints commented on #1023
This seems like a duplicate of https://github.com/laravel/passport/issues/982 and https://github.com/laravel/passport/issues/161

[2019-05-27 13:44] #1023 closed

[2019-05-28 03:06] bluegeek opened #1024 "I want to change table name in the migrations"
I create my model about AuthCode AccessToken .

I find oauth_refresh_tokens table name is written in the code, passport do not provide api with changing it

[2019-05-28 06:23] driesvints commented on #1024
This is already implemented for the next release: https://github.com/laravel/passport/pull/966

There aren't that many updates for the next Passport release yet so atm I'm unsure when we're going to release it.

[2019-05-28 06:23] #1024 closed

[2019-05-28 14:02] sullivanrander commented on #94
Any news about this issue?

[2019-05-28 22:58] AlisonPrietoTello commented on #665
Aro cole

[2019-05-29 13:05] BartReymenants opened #1025 "table oauth_clients does not exists"
I have installed Passport without problems
but now I'm on the frontend quickstart there's an issue for creating new client/token
my users model uses a custom DB connection using the connection var in the user model and setup in the database config:

    protected $connection = 'customDBConnection';

though I'm not yet able to override the connection in the $clientModel (= Laravel\Passport\Client)

[2019-05-29 14:23] ProteanCode opened #1026 "How to use Passport as a SSO instance?"
On example Server A is a SMS microservice, Server B is a SSO server

Can I include passport in both server instances (with only one of them calling Passport::routes() method), and instruct them to reuse same database for authentification?

In this way, the SMS Server A could use middleware and scopes out of the box, but requesting the access tokens could be done only through Server B as its the on

[2019-05-30 07:27] cntoss opened #1027 "laravel 5.8"
- Guzzle Oauth2
- Laravel Version: 5.8

### Description:when i try this below code i got error as:GuzzleHttp \ Exception \ ClientException (400)
Client error: `GET https://login.mailchimp.com/oauth2/token` resulted in a `400 Bad Request` response

### Steps To Reproduce:the code is:

  Route::get('/hello', function () {
     $query = http_build_query([
        'client_id' => 455,
        'redirect

[2019-05-30 10:12] yogeshkoli commented on #713
I also had the error on Laravel 5.6 using MySQL 5.7.  so to describe main reason behind this cause is Read & Write Connections.
Solution: Add `'sticky' => true,` to you database.php config file. and you are good to go.

[2019-05-30 12:08] driesvints commented on #1025
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-05-30 12:08] #1025 closed

[2019-05-30 12:09] driesvints commented on #1026
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-05-30 12:09] #1026 closed

[2019-05-30 12:10] driesvints commented on #1027
Please fill out the full issue template.

[2019-05-31 13:02] radic4 opened #1028 "Laravel Passport response from same endpoint at same time with two different access_tokens from two users in both cases return first user."
Hello,

I am using Laravel 5.8 with Passport 7.2 for building API for my application. I am using password_grant for authentication.

I have created everything from registration to login and everything seems to function properly. I am able to get access_token and refresh_token and to access routes that has middleware auth:api attached.

In my routes i have this:

`
Route::group(['middleware' => ['a

[2019-05-31 18:44] KieronWiltshire commented on #97
Why was this closed, the dude is right and nothing has appeared to have changed?

[2019-06-01 14:38] radic4 commented on #1028
I have found a solution. It is not Laravel or Passport problem.

The problem was:
on my server we have Nginx and https://engintron.com/ configured and this Engintron has some micro-caching mechanism.

This micro-cache could be completely disabled or can be disabled with headers in request (Cache-Control: private).

Micro-cache is caching GET request to URL for 1 second and ignoring different Autho

[2019-06-01 14:38] #1028 closed

[2019-06-04 10:42] DanielaGenerali commented on #225
Right, but i think the route has to be like this:
Route::post(**'token**', [
    'uses' => 'Auth\CustomAccessTokenController@issueUserToken'
]);

Thank you very very much @etelford, it is the perfect solution!

[2019-06-07 05:37] sustained commented on #452
None of the things in the comments fixed this for me and I tried them all. I was [following this guide](https://medium.com/@woganmay/consume-laravel-apis-from-vuejs-with-passport-47c9b512b5d3). Any ideas?

[2019-06-09 12:51] gtox14 commented on #267
I tried this solution and also worked for me, but after an hour or 2 (don't know exactly), the keys are deleted, so I need to run the lines again on terminal cli. Any ideas? Did you have problems with that too?

[2019-06-09 19:28] dwinjnr commented on #267
@gtox14, I experienced the same thing. I had to add the script below to composer.json

`
     "post-create-project-cmd": [
            "@php artisan key:generate --ansi"
        ],
        "post-install-cmd": [
            "Illuminate\\Foundation\\ComposerScripts::postInstall",
            "echo \"$OAUTH_PUBLIC_KEY\" > storage/oauth-public.key",
            "echo \"$OAUTH_PRIVATE_KEY\" > storage/o

[2019-06-10 19:00] mattac commented on #909
It's worth mentioning that even if you don't use the `CreateFreshApiToken` middleware a route is [registered by default](https://github.com/laravel/passport/blob/758e143052f0a353df8dff9349f84601579e457d/src/RouteRegistrar.php#L99) that allows [creating the JWT](https://github.com/laravel/passport/blob/758e143052f0a353df8dff9349f84601579e457d/src/Http/Controllers/TransientTokenController.php#L37),

[2019-06-10 20:25] matt-allan commented on #909
It's worth mentioning that even if you don't use the `CreateFreshApiToken` middleware a route is [registered by default](https://github.com/laravel/passport/blob/758e143052f0a353df8dff9349f84601579e457d/src/RouteRegistrar.php#L99) that allows [creating the JWT](https://github.com/laravel/passport/blob/758e143052f0a353df8dff9349f84601579e457d/src/Http/Controllers/TransientTokenController.php#L37),

[2019-06-11 10:16] aventrax commented on #734
@tcdsantos I'm also using CreateFreshApiToken and it works, but I have kinda same issues as you got.

Firstly, the laravel scaffolding puts the CSRF token automatically on axios. Why? Shouldn't be CSRF useless on an API endpoint? How can I disable this? Disabling it on bootstrap.js results in 401 (unauthorized) on every request performed by axios! I can't get the reason why CSRF is requested using

[2019-06-11 11:26] tcdsantos commented on #734
@aventrax Thank you!

About your first question, Laravel puts the CSRF token automatically on axios because you can use it not only to make calls to your API routes (that don't need the CSRF token) but also to your web routes (and these will require CSRF token). I am not using axios... i am using jQuery but it is configured the same way: it always sends the CSRF token (even in requests to my API).

[2019-06-11 15:20] meyer59 opened #1030 "Passport get expires_at through tokensExpireAt()"
- Passport Version: v7.3.0
- Laravel Version: 5.8.19
- PHP Version: PHP 7.3.3-1+020190307202245.32+stretch1.gbp32ebb2 (cli) (built: Mar  7 2019 20:22:46) ( NTS )
- Database Driver & Version:
Mysql
### Description:
Hi
I am currently writing some test for routes behind Passport oauth.
Is this normal that we return `new static` instead of returning the actual `$tokensExpireAt` date ?
If we want to ge

[2019-06-11 16:14] meyer59 opened #1031 "token()->expires_at not properly mocked"
-Passport Version: v7.3.0
-Laravel Version: 5.8.19
-PHP Version: PHP 7.3.3-1+020190307202245.32+stretch1.gbp32ebb2 (cli) (built: Mar 7 2019 20:22:46) ( NTS )
-Database Driver & Version: Mysql

### Description:
 If we use  `Passport::actingAs($user)`
and then we try to get the `expires_at`, it will return `false` instead of the expires date.
### Steps To Reproduce:
Assuming you have a Passport oAut

[2019-06-11 16:15] #1030 closed

[2019-06-11 21:13] myckhel commented on #658
This code works with no error for installing passport on shared hosting

shell_exec('php ../artisan passport:install');

[2019-06-12 10:49] aventrax commented on #734
@tcdsantos supposing axios doesn't use CSRF header on API calls, why removing them results in a not-working calls (Unauthenticated)? My SPA, once loaded from laravel with initial values,  uses only API calls and theese are not working without the CSRF header auto-added by laravel's bootstrap.js . That's what I don't understand, because the `CreateFreshApiToken ` should auth the calls based on the

[2019-06-12 19:08] neverovski commented on #94
@bigyanshr
Many functions are deprecated. I made the changes to the 1 step.

1. Created an AccessToken class (overrides convertToJWT)
[code]

[2019-06-13 11:40] tcdsantos commented on #734
@aventrax yes, you are right! I made some tests here and if i don't send the CSRF token when using API routes i algo get the Unauthenticated error.

I searched the web trying to figure out why is this happening (because API guard doesn't use the `CreateFreshApiToken` middleware) but i didn't find any answer - and Laravel official docs doesn't helped me too...

If you figure out where is the magic,

[2019-06-13 12:25] driesvints commented on #1031
Heya, thanks for reporting.

I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets.

Thanks!

[2019-06-13 14:12] meyer59 commented on #1031
Hi
Thanks for your response,
You can reproduce this bug by cloning this repo (see instructions there) [https://github.com/meyer59/laravel-passport-bug](url)

[2019-06-13 14:22] gtox14 commented on #267
@dwinjnr I added those lines and that generated me a failed deploy on Heroku. Any idea?

[2019-06-13 14:45] rgillera commented on #94
Any updates?

[2019-06-14 11:47] driesvints commented on #1031
@meyer59 I can't get the MySQL file to import in my local db. Not sure what's going on.

[2019-06-14 13:02] meyer59 commented on #1031
Any errors to show?
The file will create a db `test` so you may have a conflit if you already have one with the same name . You can open the file and copy/paste queries in a fresh db of your choice.
Let me know if i can help

[2019-06-17 20:30] hkarami1811 opened #1032 "problem after upgrading to 4.1"
hi. I have upgraded package but i got this error:
Symfony\Component\Debug\Exception\FatalThrowableError: Argument 1 passed to Illuminate\Auth\Middleware\Authenticate::authenticate() must be of the type array, object given, called in C:\Shahrino\vendor\smartins\passport-multiauth\src\Http\Middleware\MultiAuthenticate.php on line 83 in file C:\Shahrino\vendor\laravel\framework\src\Illuminate\Auth\Mi

[2019-06-17 20:30] #1032 closed

[2019-06-18 04:20] Patskimoto commented on #382
Just did an audit of my SQL queries and notice this is still happening as of Laravel 5.8 - any progress on this?

[2019-06-18 07:28] almas1992 commented on #903
Has there been any progress on that front?

[2019-06-18 09:27] abdullah-abunada opened #1033 "Laravel 5.8 passport always return unauthenticated"
Hello,

After installing and configuring as documentation passport on Laravel 5.8, it always return unauthenticated  401.
I notice the api skip passport driver and goes throw token driver, because when I call it it throw database error api_token column not found on user table.

Thanks!

[2019-06-18 10:57] abdullah-abunada commented on #1033
Hello,

I found the problem, it is because the app configuration are cached, just I run
`php artisan config:cache  `
and every thing are going fine.
Thanks

[2019-06-18 10:57] #1033 closed

[2019-06-19 04:57] bhanuka commented on #452
It is possible that your current session had expired. Relogin and see if the error appears within 120 seconds which is the default setting in session.php.

[2019-06-19 11:26] nazreen commented on #418
my context was that I was running a Gitlab CD pipeline and the laravel app is hosted in an ec2 instance.
because I was using rsync, I had to update the folder permissions recursively to my ec2-user.

the solution for me was to run `chown apache oauth-public.key`

[2019-06-23 15:23] meyer59 commented on #1031
Hi @driesvints
Did you have a chance to review the issue?

[2019-06-24 08:50] driesvints commented on #382
@Patskimoto We're open to pull requests.

[2019-06-24 16:18] driesvints commented on #1031
@meyer59 no I'm afraid not. Not sure when I'll get to this sorry... bit swamped atm.

[2019-06-24 19:45] narwy commented on #1031
It's working fine, looks like an issue on your end. Latest version of laravel/passport + Laravel.

`return  $request->user()->token()->expires_at;`
returns `2019-06-24T20:26:04.000000Z`

Try see what data you have in `$request->user()` print it out, if it's null you have an issue passing the token and getting the user data in the request.

[2019-06-25 04:24] msdavid1296 commented on #382
is there any way to avoid these repeated queries?

[2019-06-26 15:33] HenkPoley commented on #452
Small tip:

Double check you are connecting (e.g. with Postman) to the a server that knows about the Bearer token that you just made in your browser (probably the **same server** as in the browser).

[2019-06-28 04:19] tanmay-das commented on #379
Any progress on this? I am in a situation where my SPA which is a standalone vue project, is isolated from the backend. I am unable to create clients because I can't provide the `csrf_token` from the SPA. At this moment I have to drop the entire passport package from my project and have to build my own auth mechanism. Please do something about it.

[2019-07-02 17:20] danieldevsquad opened #1035 "Invalid scope(s) provided when authorizing `*`"
- Passport Version: v7.3.0
- Laravel Version: v5.8.26
- PHP Version: 7.3.4
- Database Driver & Version: MySQL

### Description:
When requesting the scope `*` we are assuming that all scopes will be related to that authorization request, however, when protecting the route with the middleware

[code]

I get an exception `Invalid scope(s) provided.`

### Steps To Reproduce:

[code]

Then protect a ro

[2019-07-03 01:56] MikeJones29 opened #1036 "Laravel_token not generating when multiple guards"
- Passport Version: 7.3
- Laravel Version: 5.8
- PHP Version: 7.3.4
- Database Driver & Version:
Server version: 10.3.14-MariaDB-1:10.3.14
### Description:
Issue is: Laravel_token is not generating when using consume own API
I mentioned more details on: https://stackoverflow.com/questions/56846006/laravel-passport-wont-create-laravel-token-and-then-error-401-unauthenticated-wi

But I believe there

[2019-07-03 19:21] alshf89 commented on #1035
According to Laravel passport documentation `*` only work for `Password Credentials` & `Client Credentials` Grant type and it is not working for `authorization code` Grant type.

Please read these sections:
[Requesting all scopes](https://laravel.com/docs/5.8/passport#requesting-all-scopes)

[Assinging scopes to tokens](https://laravel.com/docs/5.8/passport#assigning-scopes-to-tokens)

[2019-07-04 09:20] driesvints commented on #1035
Please see the docs above.

[2019-07-04 09:20] #1035 closed

[2019-07-04 12:58] driesvints commented on #1036
Multi-guard isn't supported atm. Please see https://github.com/laravel/passport/issues/161 and https://github.com/laravel/passport/issues/982

[2019-07-04 12:58] #1036 closed

[2019-07-05 06:31] ashishchauhan05 commented on #267
For following issue:
![Screenshot from 2019-07-05 11-45-56](https://user-images.githubusercontent.com/12724850/60702268-1616bb80-9f1c-11e9-97d9-19b2a86aceb5.png)

This issue cause when you use existing running code which has passport enable functions
First comment all passport class form config/app.php
and all dependency form AuthServiceProvider

![Screenshot from 2019-07-05 11-47-06](https://user

[2019-07-06 18:02] driesvints commented on #691
Will be in the next major release.

[2019-07-06 18:02] #691 closed

[2019-07-08 12:58] game5413 opened #1042 "Converting Authorization code to access token"
Hai... i had difficult with converting authorization codes to access token, i'm already followed step to create route name callback and redirect
[code]
it work perfectly until redirect to default passport template for grant authorize access, but when i hit the button, the proccess just loading and i check dev tools it was pending request.
when i realize something was inserted to table oauth_auth_c

[2019-07-08 13:43] driesvints commented on #1042
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-08 13:43] #1042 closed

[2019-07-08 14:00] game5413 opened #1043 "Converting Authorization code to access token"
Hai... i had difficult with converting authorization codes to access token, i'm already followed step to create route name callback and redirect
[code]
it work perfectly until redirect to default passport template for grant authorize access, but when i hit the button, the proccess just loading and i check dev tools it was pending request.
when i realize something was inserted to table oauth_auth_c

[2019-07-09 10:58] driesvints commented on #1043
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-09 10:58] #1043 closed

[2019-07-10 06:06] AmirRezaAzizi opened #1045 "verification code and OTP"
Passport is really good and powerful but I think it has some deficiencies, one of them is:
Working with OTP and verification codes.
I mean It would be great if there was something like "verification code grant".

[2019-07-10 06:43] parimahziyi commented on #452
as this forum said, I add these lines to .htaccess file in my project but nothing happened! can anyone help me?

[2019-07-10 12:02] Sephster commented on #1045
I don't think there is any standard for this.

[2019-07-11 13:23] driesvints commented on #1045
No plans to add support for this right now, sorry.

[2019-07-11 13:23] #1045 closed

[2019-07-12 12:19] rodriigomedeiros commented on #363
Hey, let me open this again. It seems to me that this issue has not yet been seen and nobody he asked in [league/oauth2-server ](https://github.com/thephpleague/oauth2-server) also. I'm right?

[2019-07-12 12:24] Sephster commented on #363
@rodriigomedeiros do you believe this is still an issue? If so, I will look into it

[2019-07-12 14:10] rodriigomedeiros commented on #363
Not exactly a problem, but as mentioned by @ MattiJarvinen-BA, it is against the specifications of JWT. Some clients are complaining about the size of the token and without this duplication we would save, after encoding in base64, some bytes. What do you think?

[2019-07-12 14:21] Sephster commented on #363
Sorry @rodriigomedeiros I wasn't clear in my comment. I meant have you confirmed that this is still an issue in the latest versions of the respective packages? This issue was initially raised back in 2017 so a lot has changed since.

If you don't know, it is no problem. I will take a look into it, but if you have confirmed this is still happening, it would save me some time investigating. Cheers

[2019-07-12 14:36] rodriigomedeiros commented on #363
Alright @Sephster , I really did not understand your question. Sorry.

Replying now, yes, it's still a problem in recent versions. Currently, in another project, I'm using Passport v7.3.0 and I still see the duplicate JTI even though I know this is a [league/oauth2-server](https://github.com/thephpleague/oauth2-server) problem. Thank you for fast response. Cheers.

[2019-07-12 18:52] shawnfromportland commented on #886
I was able to resolve this error that dozens or hundreds of people report online, but none of the existing solutions worked for me. Laravel 5.8, following docs to set up Passport.
In my case, although I was including the csrf token in a meta tag, it was not being picked up as the Passport documentation says laravel will by default. from the docs (https://laravel.com/docs/5.8/passport#consuming-you

[2019-07-12 18:54] shawnfromportland commented on #839
I was able to resolve this error that dozens or hundreds of people report online, but none of the existing solutions worked for me, except for the following.
using  Laravel 5.8, following docs to set up Passport.

In my case, although I was including the csrf token in a meta tag, it was not being picked up as the Passport documentation states that laravel will by default. from the docs (https://la

[2019-07-12 18:58] shawnfromportland commented on #255
For others still encountering this, I was able to resolve this error that dozens or hundreds of people report online, but none of the existing solutions worked for me, except for the following.
using  Laravel 5.8, following docs to set up Passport.

In my case, although I was including the csrf token in a meta tag, it was not being picked up as the Passport documentation states that laravel will b

[2019-07-13 10:58] Sephster commented on #363
Cool. I will take a look at this today to see if there is an easy solution. Cheers!

[2019-07-13 17:24] Sephster commented on #363
The JTI has now been removed from the header. This change will be in version 8 which I'm releasing today. Cheers

[2019-07-13 18:53] Sephster commented on #837
I've now released version 8 with the updated PKCE implementation. Thanks for everyone's patience. If anyone notices any issues please shout. Cheers

[2019-07-13 18:54] Sephster commented on #984
I've released version 8. Cheers for everyone's patience. :+1:

[2019-07-13 21:52] tanthammar opened #1046 "Lumen w Passport Application::configurationIsCached() error"
- Passport Version: 7.3.2
- Lumen Version: 5.8.1
- Dusterio Lumen Passport ^5.6
- PHP Version: 7.3.7
- Database Driver & Version: sqlite local db

### Description:
[code]

### Steps To Reproduce:
Freshly installed Lumen app, composer require Laravel Passport and dusterio/lumen-passport.
Try to run php artisan list

[Related issue on Dusterio](https://github.com/dusterio/lumen-passport/issues/106)

[2019-07-14 07:38] driesvints commented on #1046
We don’t support Passport integration with Lumen. Please see https://lumen.laravel.com/docs/5.8#compatibility

[2019-07-14 07:38] #1046 closed

[2019-07-14 12:44] rodriigomedeiros commented on #363
Great, @Sephster. Cheers.

[2019-07-14 18:37] #1027 closed

[2019-07-15 09:33] driesvints commented on #984
@Sephster thanks. Now we can add this to Passport as well. If anyone wants to get this into Passport, feel free to send in a PR to the master branch.

[2019-07-15 09:33] driesvints commented on #837
@Sephster thanks. Now we can add this to Passport as well. If anyone wants to get this into Passport, feel free to send in a PR to the master branch.

[2019-07-16 04:23] rbourtoutian commented on #839
SOLVED: I am pretty sure you followed all the configurations of Laravel Passport and you have a functioning login page. Your only issue is that when you try hitting an auth:api protected route you get this 401 error.

MY PROBLEM was that I wasn't sending the bearer token with the request to the route. Now, this might be a BAD way to solve this problem, but it is a start and I am gonna read up on t

[2019-07-16 04:24] rbourtoutian commented on #914
SOLVED: I am pretty sure you followed all the configurations of Laravel Passport and you have a functioning login page. Your only issue is that when you try hitting an auth:api protected route you get this 401 error.

MY PROBLEM was that I wasn't sending the bearer token with the request to the route. Now, this might be a BAD way to solve this problem, but it is a start and I am gonna read up on t

[2019-07-16 13:46] danieldevsquad commented on #1035
I understand that, but I wonder why they are accepted in the first place. Passing `*` as a scope for the authorization code flow is as valid as passing `Feb 31, 2020` to a date.
Any ideas on how to prevent that from happening?

[2019-07-16 21:12] matt-allan commented on #837
I've started working on this. Hopefully I will have a PR up in the next few days.

[2019-07-17 01:50] gitstashgithub opened #1048 "Passport issueToken throttles requests based on IP not username"
- Passport Version: v7.3.0
- Laravel Version: v5.7.28
- PHP Version: 7.2
- Database Driver & Version:
MySql 5.7
### Description:
If I add throttle middleware to issueToken, it throttles requests only based on the IP not the username.
[code]
When users in the same LAN shares same public IP, if one user attempts too many times, it will throttle all users.

### Steps To Reproduce:

[2019-07-17 15:08] matt-allan commented on #1048
The throttle middleware is [part of Laravel](https://github.com/laravel/framework/blob/5.8/src/Illuminate/Routing/Middleware/ThrottleRequests.php), not Passport. Since this is a feature request it should probably be posted to [laravel/ideas](https://github.com/laravel/ideas/) instead.

That being said, only 1 of the 6 supported grant types includes a username so if Passport tried to throttle by us

[2019-07-17 17:05] gitstashgithub commented on #1048
Thanks @matt-allan, my project is an API so it doesn't have login page route. I guess I have to remove the throttle middleware.

[2019-07-17 20:26] matt-allan commented on #984
Version 8 requires the client_secret again for password grant so there is nothing that can be done in Passport at the moment. This issue should probably be closed in favor of https://github.com/thephpleague/oauth2-server/issues/889.

[2019-07-18 04:24] liftyourgame commented on #917
@driesvints
Any update on this?

[2019-07-18 09:13] Sephster commented on #917
This is an ideal case for the token revocation RFC. The problem with the original OAuth2 RFC is that it described lots of different ways to obtain an access token but never how to revoke one. It was kind of left up to the implementer.

This effectively meant that you could login to a system but you couldn't reliably log out. The token revocation RFC resolves this. It would provide an end point tha

[2019-07-18 09:42] lorisleiva commented on #379
Hi everyone 👋

I'm thinking of working on a PR for this. I'm making a SPA course so I've been digging into OAuth2 and Laravel Passport quite heavily recently and I was surprised to find out that Laravel Passport was basically only designed for server-rendered applications.

I also think like @matt-allan that the switch from stateful to stateless should be optional as it is an official Laravel plug

[2019-07-18 09:48] liftyourgame commented on #917
When are you planning on merging the PR and resolving this issue?

Regards,

Greg

[2019-07-18 09:53] Sephster commented on #917
I can't say at the moment. As I do this in my spare time, it really depends on how much work/life stuff I have coming up. I will prioritise this though now version 8 is out.

[2019-07-18 10:06] liftyourgame commented on #917
Thanks Andrew for your attention. Really appreciate your response. Look forward to any updates. All the best to you and your teams and families.

Regards,

Greg

[2019-07-18 12:55] lorisleiva commented on #379
I've managed to make my last point work by adding an extra `passport::login` view when Laravel Passport is marked as `stateless` (in a Service Provider).

[code]

![Kapture 2019-07-18 at 13 44 57](https://user-images.githubusercontent.com/3642397/61458505-9993cc00-a962-11e9-8753-0e496a0f02a8.gif)

However, what if users also want the "forgot password" option, etc. I'm starting to think it might ma

[2019-07-18 13:20] #1048 closed

[2019-07-18 13:21] driesvints commented on #984
@matt-allan okay, thanks.

[2019-07-18 13:21] #984 closed

[2019-07-18 14:20] driesvints commented on #379
@lorisleiva I'd just make Passport stateless by default tbh. I still have a picture in mind how I want to tackle this but probably won't have the time in the upcoming months. Feel free to send in a pr if you want.

[2019-07-18 14:40] matt-allan commented on #379
Although the original issue was about making the JSON API endpoints stateless it sounds like now everyone is talking about making the authorize prompt and auth routes stateless too?

I Passport is stateless by default how would the authorization code grant work? Is the user expected to log back in every time a token needs to be granted?

Despite what the comment linked to above says, it's consider

[2019-07-18 17:00] lorisleiva commented on #379
@driesvints Thanks, I will do. Feel free to describe what you have in mind to make sure I implement something that’s more or less expected.

@matt-allan Yes, you make some very good points. First of all, the example I’ve shared above is actually using sessions to authenticate the user on the server side. So if the user clicks again on the login button, they will no longer need to authenticate. For

[2019-07-19 09:54] driesvints commented on #379
@lorisleiva I was thinking of a way to entirely ditch the csrf requirements and let everything passport related go through API routes. But I don't have time atm to describe/think this over in detail, sorry.

[2019-07-19 09:57] lorisleiva commented on #379
@driesvints No worries Dries that's already helpful. Let us worry about the details.

[2019-07-19 13:51] driesvints commented on #837
PR was merged. Thanks @matt-allan!

I'll probably look into releasing a new major version for passport in august somewhere.

[2019-07-19 13:51] #837 closed

[2019-07-20 13:32] lorisleiva commented on #379
I've been thinking about how to implement that PR a lot and I'd like to add a few points.

**1. The easy bit**
First of all, out of the 15 routes provided by Laravel Passport, 12 of them can easily become stateless by simply updating the middleware from `['web', 'auth']` to `['api', 'auth:api']`. Instead of having some kind of `Passport::middleware()` option, I think it would be beneficial to expo

[2019-07-21 18:25] matt-allan commented on #379
@a8c71 could you explain how you would use this feature?

If the route to create a client is authenticated with an access token, but you need a client to create an access token, how do you get the access token?

It sounds like you might want dynamic client registration instead? (#804)?

[2019-07-21 22:56] Helveg opened #1051 "Why are there no foreign keys on the user_id columns?"
I've noticed that there aren't any foreign keys on the `user_id` columns of for example the `oauth_access_tokens` table. First off, maybe this is already changed? If so, how do I 'republish' the passport migrations if I've upgraded to a newer version? If this is still the case, why aren't the foreign keys included?

[2019-07-21 22:59] Helveg commented on #1051
Continuing on this: the newer versions of Laravel use a bigInt for the `id` columns. The column type for `user_id` is still a regular int with size 11, again this might be due to my dated passport migrations.

[2019-07-21 23:02] drbyte commented on #1051
Aside: You can go look at the latest migrations by clicking above, on `Code`, then `database/migrations`.

I can't answer your question about "why" on the foreign keys, other than to surmise that that's being left to you to decide to implement if you want it.

Others may have deeper insights to offer though.

[2019-07-24 17:23] ajaymarathe commented on #418
this helps me lot :P thanks

[2019-07-25 20:07] mastacheata commented on #903
@Sephster
I think you have an off-by-one error in the first and last digit of the issue number. ;)

This issue is referring to the Out-of-bounds device flow / device grant used on stuff like TVs, STBs, Home Stereos and Car Infotainment devices etc that don't have a browser or a comfortable user input.
While that is implemented on many devices, it is not yet an internet standard, but still in the d

[2019-07-25 20:41] mastacheata opened #1053 "Private and Provisional URI schemes are disallowed for redirect_uri"
- Passport Version: 7.0

### Description:
Since Passport uses Laravel's own url Validator to check for valid redirect URIs it's impossible to use most private or provisional schemes as recommended by "RFC8252 - OAuth 2.0 for Native Apps" (see:  https://tools.ietf.org/html/rfc8252#page-4) for use with mobile apps or non-web-clients that can't listen on the loopback interface in general. (The latter

[2019-07-26 10:23] MuhammadZaheerUdDin commented on #452
use
content-type : application/json

[2019-07-28 09:57] CaddyDz commented on #76
issue still persists in version 7 as of mid 2019 and your solution still works
Thanks @MarkLL

[2019-07-29 07:46] pramanikriju commented on #982
What's the timeframe for this issue, if any at all?

[2019-07-30 08:31] driesvints commented on #1051
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-07-30 08:31] #1051 closed

[2019-07-30 08:37] driesvints commented on #982
@pramanikriju whenever someone submits a PR

[2019-07-30 08:38] driesvints commented on #1053
Isn't the main issue here that we should use a separate "urn" validator for this?

[2019-07-30 09:21] Helveg commented on #1051
@driesvints There's 2 possible bugs I've mentioned but I'm not familiar enough with the package to decide:

* The foreign keys are missing on where there clearly should be some, unless the standard preferred behaviour is to have your database littered with access tokens of deleted users.
* The user_id column type does not match the type of the referenced column for current Laravel versions.

[2019-07-30 22:08] mastacheata commented on #1053
What definition of URN do you use here?
1.   The urn-scheme or the general class of URIs that aren't hierarchical or are not included in the too specialized and too generic URL validator of Laravel?
2.   Or the generic term URN that might apply to private-use schemes and other stuff that isn't covered by the URL validator, but would make sense to use as a redirect_uri nonetheless?

If we're talkin

[2019-07-31 05:43] mohanlar96 commented on #452
The same issue still.

[2019-08-01 07:08] tejas-k-sb commented on #848
Hi, can you elaborate the solution? Even I'm facing the same issue. Thanks

[2019-08-01 12:09] driesvints commented on #1051
I haven't had the need to use foreign keys myself before when using passport. Feel free to publish the migrations and add these yourself. Foreign keys aren't always available in every database language.

That's true. Feel free to send in a PR or I'll send one in later.

[2019-08-01 12:13] driesvints commented on #1053
Think I'd first try B and then C if B doesn't makes it into the core.

[2019-08-05 02:29] reishou opened #1056 "Out of range value for column 'user_id' in `oauth_clients`"
- Passport Version: 7.3.4
- Laravel Version: 5.8.12
- PHP Version: 7.2
- Database Driver & Version:

### Description:
My user_id is a big Integer, so cannot insert to oauth_clients. I can change column type myself. I think all coumn integer in `https://github.com/laravel/passport/tree/7.0/database/migrations` should change to BigInteger for fresh install.

[2019-08-05 09:45] driesvints commented on #968
Heya. For some reason this issue slipped past by my, sorry for that.

Can you please provide a thorough explanation why you need this?

[2019-08-05 09:45] driesvints commented on #1056
Yep. Feel free to send in a PR.

[2019-08-05 13:54] reishou commented on #1056
I created a PR for this issue. https://github.com/laravel/passport/pull/1057
Please review it. Thank you.

[2019-08-05 19:36] tentus opened #1058 "Passport::tokensExpireIn() used in PassportServiceProvider::registerAuthorizationServer() rather than Passport::refreshTokensExpireIn()"
- Passport Version: 1 though 7 (up to 7.3.4 at the time of this writing)

### Description:
I haven't observed this actually causing any bugs, but it seemed off, so I thought I should mention it.

On https://github.com/laravel/passport/blob/7.0/src/PassportServiceProvider.php#L107 the `AuthorizationServer` is passed `Passport::tokensExpireIn()` for the TTL of the 1RefreshTokenGrant1, while the actu

[2019-08-06 07:41] driesvints commented on #1058
Hey @tentus. If you look a little bit below you'll see that the `refreshTokensExpireIn` is correctly passed when making the grants. Why this was done in this fashion I don't know because the code was built before I joined Laravel. If there's no bug atm let's just leave it as is for now. Thanks for mentioning this.

[2019-08-06 07:41] #1058 closed

[2019-08-06 13:23] Atom-Technologies commented on #1015
Solutions? Anybody?

[2019-08-06 21:16] mycarrysun opened #1059 "Not redirecting to login page when unauthenticated visits oauth/authorize"
- Passport Version: 7.3.5
- Laravel Version: 5.8.31
- PHP Version: 7.2
- Database Driver & Version: MySQL

### Description:
For the life of me I cannot figure out why this is happening...thinking it is a bug.
When I visit the `oauth/authorize` URL as an unauthenticated user, I would expect the request to be redirected to the login page. This only happens in my dev and local environment, but not in

[2019-08-07 03:04] mycarrysun commented on #1059
Oh boy...this was 2 full days of bugging out because of ONE setting in the .env file related to dingo/api.

There is a setting call `API_DOMAIN` which I must have set when I first created the app 3 years ago. I believe what it does is wraps the dingo exception handler around any routes that have that domain. And since the passport routes have that domain, it got wrapped and that's where the `Authe

[2019-08-07 03:04] #1059 closed

[2019-08-07 15:04] corbosman commented on #94
It looks like the issue in oauth2-server was closed by the author, and I dont see any obvious way in the latest oauth2-server how an application like laravel could add claims to the bearer token.  Anyone look into this?

[2019-08-08 07:31] narwy opened #1061 "MongoDB - Refresh Token - Trying to get property 'revoked' of non-object"
- Passport Version: `Latest`
- Laravel Version: `Latest`
- PHP Version: `php:latest`
- Database Driver & Version: `mongodb:latest`

### Description:
When doing a call to `/oauth/token` using the `jenssegers/laravel-mongodb` for MongoDB it will throw this:
`Trying to get property 'revoked' of non-object at /var/www/vendor/laravel/passport/src/Bridge/RefreshTokenRepository.php:80`

### Steps To Repr

[2019-08-08 07:43] narwy commented on #1061
People also reporting the same issues: https://github.com/laravel/passport/issues/848#issuecomment-517151166

Seem's to be the only thing stopping support for MongoDB, surely we can add this to support an additional driver? It's becoming used more on a daily basis.

[2019-08-08 13:32] driesvints commented on #1061
Hi there. This has been completely refactored for the next major Passport release: https://github.com/laravel/passport/blob/master/src/Bridge/RefreshTokenRepository.php#L76

We'll probably see a new release in a few months. In the meantime you're free to use dev-master if but be aware that it's not stable yet.

[2019-08-08 13:32] #1061 closed

[2019-08-08 15:24] narwy commented on #1061
Hey, thanks for the response. Will look into it, cheers.

[2019-08-08 17:58] Raimundo-Neto commented on #452
i fix it by refreshing my migrations `php artisan migrate:refresh` and then  generate new clients
 with `php artisan passport:install` , after this, you just need to create a new valid token

PS: but be careful, do not use `php artisan migrate:refresh` in production

[2019-08-09 13:53] TimWolla opened #1062 "master: HandlesOAuthErrors middleware unable to actually handle errors"
- Passport Version: dev-master with commit 7959c6c4d181090de5f064971a9fca035f759513
- Laravel Version: 5.8.30
- PHP Version: 7.3.4 (Debian Buster)
- Database Driver & Version: MySQL 8.0.17

### Description:

The new `HandlesOAuthErrors` middleware is unable to actually handle errors, because Laravel intercepts `Exception`s of the final destination of the middleware pipeline:

https://github.com/la

[2019-08-10 03:08] Andrew-Kang-G opened #1063 "Why is "#" is added instead of "?" before access_token?"
- Passport Version: 7.3.5
- Laravel Version: 5.8.31
- PHP Version: 7.3.7
- Database Driver & Version: mysql & 8.0

### Description:

Why is the "#" is added instead of "?"  before the key param "access_token"?
So my client Laravel server does not understand it.

### Steps To Reproduce:

I am using the "Token implicit?"(Passport::enableImplicitGrant();).

[Auth server : localhost:8000]

Route::get(

[2019-08-10 04:25] #1063 closed

[2019-08-12 10:25] colighto commented on #382
in mysql the function `uuid()` generates a unique string key for primary keys that are defined as varchar or char it could also be called using a simple query like `select uuid()` more details are provided about this function on this https://dev.mysql.com/doc/refman/8.0/en/miscellaneous-functions.html#function_uuid although there are equivalent functions on laravel that implements this like `\Illu

[2019-08-13 15:20] matt-allan opened #1067 "Support hashing tokens"
It would be great if Passport supported hashing tokens, similar to the way [you can hash tokens with the API guard](https://laravel.com/docs/5.8/api-authentication#hashing-tokens).

I looked through the existing issues and saw #641 but that issue is about hashing the client ID and secret.

Hashing the access and refresh tokens is a bigger win for security in my opinion because:
- The client secret

[2019-08-13 20:02] SalahMadih commented on #1033
I have the same error,

[2019-08-13 20:10] SalahMadih commented on #452
really I do all those stype but I have the same error (laravel 5.8)

[2019-08-15 03:17] kingrgdev commented on #452
This works for me, I just added these line of codes. Thanks mate!!!!

[2019-08-15 10:18] driesvints commented on #1067
Wouldn't this technically break existing Passport apps if this was implemented?

[2019-08-15 11:05] MuhammadZaheerUdDin commented on #452
send auth in     ( authentication : bearer AuthCode)

On Thu, Aug 15, 2019 at 8:18 AM Richard Guevara <notifications@github.com>
wrote:

[2019-08-15 12:06] matt-allan commented on #1067
I was thinking it would be opt in like it is with the api guard.

[2019-08-15 12:07] driesvints commented on #1067
@matt-allan that definitely makes sense. Feel free to attempt a PR :)

[2019-08-15 17:34] nerg4l commented on #734
@aventrax @tcdsantos You can disable the check for CSRF token with `Passport::ignoreCsrfToken()` but I would advise not to do that. Cookie authentication happens automatically so a malicious code could be able to send a request to your site from the client browser which would send the cookie as well.

[2019-08-16 12:35] randyclassen commented on #914
In case it helps some else having this problem... In my case this error was happening because we had never [set `X-CSRF-TOKEN` in the header for all requests](https://laravel.com/docs/5.6/csrf#csrf-x-csrf-token) so it was failing here: https://github.com/laravel/passport/blob/7.0/src/Guards/TokenGuard.php#L254-L259

It would be nice if we could turn on logging to see more information about unauthe

[2019-08-18 23:33] rootmap commented on #957
Still not working

[2019-08-19 01:00] rootmap commented on #452
After tried to login i am getting these info but when trying to retrieve logged user data using below access token showing unauthenticated.

`[{`
    "token_type": "Bearer",
    "expires_in": 86400,
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjU3NDQxZTgyOGQzMTkzN2Y3ZDQwODY4MzY3ZDU1YmNmNDA0YTc3YjhlNGE3OGMyMmI2NDliM2FmOTMyODBiOWEyMDc0NGRmNjVkYmYxNjBmIn0.eyJhdWQiOiI0IiwianRpIjoi

[2019-08-19 05:58] MuhammadZaheerUdDin commented on #452
Could you send me details of what you are sending (also it's post  or get)
And also the code if it's on live server plz send me link

On Mon, Aug 19, 2019, 6:00 AM MD MAHAMUDUR ZAMAN BHUYIAN <
notifications@github.com> wrote:

[2019-08-19 07:11] HusDev commented on #401
+1

[2019-08-19 19:42] AmirrezaNasiri commented on #14
Is there any update on this after **1097** days?

[2019-08-19 19:56] diadal commented on #14
Not sure you can try this https://github.com/diadal/passport

[2019-08-20 02:23] webwizard02 commented on #1015
Hello! Please check your apache's httpd.conf file. Make sure that you enabled t h `LoadModule rewrite_module modules/mod_rewrite.so` by removing the # from the start line of the code.

And also change inside the httpd.conf from Require all denied to Require all granted, AllowOverride All, and Options Indexes FollowSymLinks

Like This:
`<Directory />
    Options Indexes FollowSymLinks
    AllowOver

[2019-08-20 11:33] uphlewis commented on #94
@corbosman You'd need to follow the process set out by @bigyanshr above, whereby you extend the AccessToken and AccessTokenRepository classes and override their bindings in an extended PassportServiceProvider (also perhaps disabling auto-discovery of the laravel/passport service provider to prevent clash).

It's a bit hacky, but unfortunately looking at how long this issue and its discussion has b

[2019-08-20 11:56] driesvints commented on #14
@AmirrezaNasiri this is open source software. If you need this then feel free to put some work into a PR.

[2019-08-20 11:57] driesvints commented on #14
@grEvenX I think if a new PR was attempted with a very good an thorough explanation and tests that it has a chance of being merged in. Best if you targeted master.

I'm planning on doing some Passport work in September after Laracon EU.

[2019-08-20 12:12] corbosman commented on #94
@uphlewis sure, ive been doing that for ages. It's not too bad really.  But the whole idea of this ticket was to not have to override all kinds of classes. I provided a possible solution here https://github.com/laravel/passport/issues/94#issuecomment-438190183 , but Sephster said laravel should just wait until the league server implemented some changed, referring to a specific ticket. But that tic

[2019-08-20 12:40] SalahMadih commented on #452
I think the problem in my server doesn't send Authorization header

[2019-08-21 06:39] MuhammadZaheerUdDin commented on #452
Have u tested on localhost,
Are u trying postman for this testing

On Tue, Aug 20, 2019, 5:40 PM Salah Madih <notifications@github.com> wrote:

[2019-08-21 13:44] SalahMadih commented on #452
yes it working on localhost

[2019-08-21 14:50] MuhammadZaheerUdDin commented on #452
Send me code I could try
And also use postman for live server testing I was also facing same problem

[2019-08-21 21:20] mikebronner commented on #552
@driesvints it seems those two methods don't include personal access tokens?

[2019-08-22 08:45] driesvints commented on #452
Hey everyone,

I'm locking this issue because it either has gone off-topic, become a dumping ground for things which shouldn't be in an issue tracker or is just too old. Please try to discuss things further on one of the below channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/l

[2019-08-24 03:08] asiraky opened #1071 "Published migrations being ignored, even with Passport::ignoreMigrations() called"
I have published the migrations and modified them (changed some integer id's to uuid).

I have run `Passport::ignoreMigrations();` in my `AuthServiceProvider`'s `boot` method.

Issue: my custom migrations are being ignored, and the ones stored in vendor/passport/... are firing instead.

When I perform a line by line debug of `php artisan migrate`, I can see that the `PassportServiceProvider`'s `bo

[2019-08-24 09:55] driesvints commented on #1062
The PR for this was merged into master.

[2019-08-24 09:55] #1062 closed

[2019-08-26 12:01] driesvints commented on #1071
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-26 12:01] #1071 closed

[2019-08-29 03:30] billriess commented on #982
I've submitted a PR for this that details how it works.

[2019-08-29 09:33] jmosul commented on #968
We need this as we use MongoDB so our Token class extends a different base Model.

This causes an issue when the TokenRespository save function is called.  It is type hinted to only accept the Token from laravel-passport.  Which we can't override in our own extension of Laravel Passport designmynight/laravel-mongodb-passport

Can I suggest a Token interface as the type hint?

[2019-08-29 10:23] mkumarjha opened #1074 "Unable to create controller after installing passport"
- Passport Version: v7.4.0
- Laravel Version: 5.8
- PHP Version: 7.1.3
- Database Driver & Version: mysql 5.6

### Description:
I have installed passport now when i am trying to create a controller it showing error like
In api.php line 25:

  syntax error, unexpected end of file

### Steps To Reproduce:
https://medium.com/techcompose/create-rest-api-in-laravel-with-authentication-using-passport-13

[2019-08-29 10:28] #1074 closed

[2019-08-29 19:23] billriess commented on #982
So I started a PR for this but one thing I'm stuck on is how to retrieve the string name of the `provider` inside the TokenGuard without passing it directly. I don't see a method on the UserProvider to retrieve which provider is currently being used.

Otherwise, the only way around it is to pass the `$config['provider']` to the TokenGuard from the service provider which feels wrong.

[2019-09-02 08:19] driesvints commented on #786
PR was attempted here: https://github.com/laravel/passport/pull/1075

I'll take a look at this somewhere this month.

[2019-09-02 09:01] driesvints commented on #968
Since Taylor rejected the PR I don't think we'll provide support for this soon, sorry.

[2019-09-02 09:01] #968 closed

[2019-09-03 17:31] ElizeuBraga commented on #267
Works fine for me, I removed the "php artisan optimize" becouse i have an error with routes. Thanks

[2019-09-04 02:13] mrhili commented on #418
Dont do this line untill you have keys in a specific location for the file

in AuthServiceProvider.php

//Passport::loadKeysFrom('/secret-keys/oauth');

[2019-09-04 22:43] adrianorsouza opened #1077 "Undefined property: stdClass::$auth_code_id"
- Passport Version: v7.4.0
- Laravel Version: v6.0.0
- PHP Version: 7.3.2
- Database Driver & Version: MySQL 8.0.15

### Description:

In a fresh install of Laravel and Passport an error happen if you try to send a POST request to `/oauth/token` with a refresh_token as the code for the request params.

### Steps To Reproduce:

- Request an Access Token `/oauth/token`
- Get the refresh_token from t

[2019-09-06 14:28] driesvints commented on #1077
I'm not sure. I see the error happens within the oauth-server library but the JSON is correctly decoded as an object. I guess the `auth_code_id` wasn't passed along but I can't find that identifier anywhere in Passport.

@sephster do you might know what's going on here?

[2019-09-06 14:57] driesvints commented on #382
Can anyone please pinpoint the exact locations where these double calls are made in the current Passport code? Things have changed a bit since and I can't find them. And not inside the TokenRepository I mean. Where the calls to the repository are made.

[2019-09-09 06:05] mviljoen commented on #1019
@pneves001 did you ever solve this problem? I'm experiencing the same.

[2019-09-09 06:30] pneves001 commented on #1019
I think I did fix it. I can't remember how though. It's been several months.

Oh I think it was an issue with my routes file.

Your route needs to be preceded by the following:

Route::middleware('auth:api')->post('/your-route', 'yourcontroller@yourfunciton');

This is the functions you wish to secure with authentication.

The login function doesn't contain this.  I think you need to assign a name

[2019-09-09 10:07] HenkMaller commented on #382
Any update?

[2019-09-09 12:23] HenkMaller opened #1079 "When authorizing an client, it stores 2 entries in oauth_auth_codes"
- Passport Version: ^7.4
- Laravel Version: ^6.0
- PHP Version: 7.3.9
- Database Driver & Version:  MySQL 8.0.15

### Description:
When authorizing an client, it stores 2 entries in oauth_auth_codes

### Steps To Reproduce:
Create a client, and authorize it

[2019-09-09 12:37] driesvints commented on #1079
We'll need more code to reproduce this. Please create a sample app and upload it to a github repo so we can reproduce this.

[2019-09-09 12:39] HenkMaller commented on #1079
Its a fresh installation of Laravel and Passport

[2019-09-10 04:56] kevinpijning commented on #837
Do you have a new estimate? 🙈 @driesvints

[2019-09-10 08:12] driesvints commented on #837
@kevinpijning I was gonna work in September on Passport but it's been a little too crazy with the 6.0 release the last couple of days 😐

I'll try to get started on it when I get back from vacation in 2 weeks.

[2019-09-10 15:11] apachish opened #1080 "ErrorException : file_put_contents(/secret-keys/oauth/oauth-public.key): failed to open stream: No such file or directory"
vendor/laravel/passport/src/Console/KeysCommand.php:46
    42|             $this->error('Encryption keys already exist. Use the --force option to overwrite them.');
    43|         } else {
    44|             $keys = $rsa->createKey($this->input ? (int) $this->option('length') : 4096);
    45|

    47|             file_put_contents($privateKey, Arr::get($keys, 'privatekey'));
    48|
    49|

[2019-09-10 15:12] driesvints commented on #1080
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-10 15:12] #1080 closed

[2019-09-10 21:48] Sephster commented on #1077
Nice find. The problem here is that we aren't checking if an `auth_code_id` exists in the payload before we try and retrieve it, causing the 500 error.

It is a weird one. We encrypt the refresh token and the access token using the same key which is why the decrypt mechanism doesn't detect any issues with the payload. Normally this would be enough to root out a malicious actor.

We hadn't really a

[2019-09-11 07:12] #1079 closed

[2019-09-11 08:03] foxted commented on #982
@billriess Would it be possible to see your work so far please? I checked your forked but can't seem to find your work related to this issue :/

I think keeping the option open to specify the provider dynamically would be nice, to allow a token request like this:

[code]

[2019-09-11 11:28] iBet7o commented on #734
Hello,

Once you have logged in and the "laravel_token" cookie has been created, how does it validate that the user has logged in?

[code]

Regards,

[2019-09-13 05:29] kolirt opened #1084 "undefined method hasSetMutator"
- Passport Version: v7.4.1
- Laravel Version: v5.8.35
- PHP Version: 7.2.19

### Description:
[code]

### Steps To Reproduce:
User model
[code]

Controller
[code]

[2019-09-13 12:36] driesvints commented on #1084
Is this on a fresh Laravel app?

[2019-09-15 06:35] kolirt commented on #1084
Weird. After a few days everything started to work

[2019-09-16 17:27] musamamasood commented on #1048
I am facing the same situation, @gitstashgithub please let me know if you found any solution for this.

[2019-09-17 13:19] gitstashgithub commented on #1048
@musamamasood no, I just removed the middleware.

[2019-09-18 01:37] kevinb1989 commented on #552
Is it possible for me to retrieve the ACCESS TOKEN string from a Laravel\Passport\Token object?

[2019-09-18 08:17] rizkyarlin commented on #398
@jbbr Your solution is for successful login, correct?
do you know how can I fire an event at the Auth Attempt? like the Illuminate\Auth\Events\Attempting.
I am trying to make access logs that include invalid login

do I have to override the Passport::routes and add a middleware for it?

[2019-09-18 11:39] BikashPokhrel commented on #762
Unable to determine authentication model from configuration. i am trying to solve this problem now :D damn i too can't find the solution for this yet

[2019-09-18 14:39] rizkyarlin commented on #398
I exactly did what I was planning, which is add a middleware.  [here](https://stackoverflow.com/a/57995302/4577905) is my answer in SO

But I really prefer handling it with events.

[2019-09-19 00:36] sanjitkung commented on #221
I run into same problem. When I use Postman, I get token successfully. But when I try to get token using guzzle I get invalid_client error.

I was receiving this error, because I was running both application (client and server) on the same port using Laragon.

When I run oauth server on different port. I work fine.

[2019-09-19 06:42] marlocorridor commented on #914
fixed mine by running this after setup

`php artisan optimize:clear`

reference:
https://github.com/laravel/passport/issues/839#issuecomment-452889461

[2019-09-21 19:16] lpfalcon commented on #267
sois un pro! Terrific

[2019-09-23 08:12] driesvints commented on #514
This was merged in.

[2019-09-23 08:12] #514 closed

[2019-09-23 09:37] 383819640 commented on #898
if you want to use the same entry point in api.php
1) setup the route with middlware = > 'client' for your single api.

2) Please try to use below function to get your login user from password token in your controller function:
$user = Auth::guard('api')->user();

if $user is null, just do the process without auth in your controller.
else if you get $user, you can differ the process in the same  f

[2019-09-23 09:46] mohammedaktaa commented on #898
After searching and trying many solutions i create this one
I create middleware for both api and client and its handle fn is :
`    public function handle($request, Closure $next, ...$scopes)
    {
        $auth_guard_middleware = app()->make(AuthGuardMiddleware::class);

        try {
            $response = $auth_guard_middleware->handle($request, $next, 'api');
        } catch (AuthenticationEx

[2019-09-23 11:59] #1084 closed

[2019-09-24 08:58] vyuldashev opened #1085 "Illegal offset type when using auth:api middleware"
- Passport Version: 7.4.1
- Laravel Version: 6.0.3
- PHP Version: 7.3.9
- Database Driver & Version: not relevant

### Description:

I am getting ErrorException with "Illegal offset type" message when adding `auth:api` middleware to route group. Full error is available here: https://flareapp.io/share/b353Z67W#F27

### Steps To Reproduce:

Basic Laravel Passport setup with adding `auth:api` middlew

[2019-09-24 09:14] vyuldashev commented on #1085
That was my error. So if you override `App\Http\Middleware\Authenticate::handle` method make sure you destruct guards before passing to `parent::handle`:

[code]

[2019-09-24 09:14] #1085 closed

[2019-09-25 01:30] richieamir commented on #247
you go to passport directory in your project. passpoty->src:
-Authcode.php
-client.php
-HasApiToken.php
-PersonalAccessClient.php
-token.php

you can add "protected $connection = '[database-name]'"
[database-name] is based on .env and database.php in config folder.

example

protected $connection = 'sqlsrv'
![image](https://user-images.githubusercontent.com/31822661/65562003-c53cbf00-df6e-11e9-9e4

[2019-09-25 09:30] zhovtyj commented on #763
Hi! Have you found how to do this (get refresh token)?

[2019-09-26 12:51] divarsoy commented on #314
If you put

`RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
`
in the .htaccess file then make sure
`AllowOverride All`
is set in the virtual host file for your domain (Apache) to allow the .htaccess file to be run

https://stackoverflow.com/questions/18740419/how-to-set-allowoverride-all

[2019-09-26 19:24] strongholdmedia commented on #221
It is exactly this kind of error which https://github.com/thephpleague/oauth2-server/pull/1054 is striving to solve.
Currently, if you "fail" to quote the client id *only when it is an integer* or perhaps a floating-point number,  it will return this error.

[2019-09-27 01:50] jointothedarkside opened #1086 "Migrations Error"
When I run migrations to install passport I get this error:

***************************************

Exception trace:

  1   Doctrine\DBAL\Driver\PDOException::("SQLSTATE[22004]: Null value not allowed: 1138 Invalid use of NULL value")
      /home/gomatetrix/public_html/project/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php:119

  2   PDOException::("SQLSTATE[22004]: Null value no

[2019-09-27 02:06] hihuangwei opened #1087 "Client_ID change to random string"
Client_ID change to random string

[2019-09-27 02:14] jointothedarkside commented on #1086
Second error just wen't to mysql and removed the null value from user_id in 'oauth_clients' table
Illuminate\Database\QueryException  : SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'user_id' cannot be null (SQL: insert into `oauth_clients` (`user_id`, `name`, `secret`, `redirect`, `personal_access_client`, `password_client`, `revoked`, `updated_at`, `created_at`) values (?, Laravel

[2019-09-27 02:40] jointothedarkside commented on #1086
While using making a login call to retrieve a token I got this error:
 "message": "SQLSTATE[HY000]: General error: 1364 Field 'name' doesn't have a default value (SQL: insert into `oauth_access_tokens` (`id`, `user_id`, `client_id`, `scopes`, `revoked`, `created_at`, `updated_at`, `expires_at`) values (49d9941962d6efee4556a4cbfb0d0f15ae44380a742d04245693ad0de1967909a6b3aa48c381d5f3, 1, 1, [], 0, 2

[2019-09-27 10:29] #1087 closed

[2019-09-27 10:29] driesvints commented on #1086
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-27 10:29] #1086 closed

[2019-09-27 16:00] jointothedarkside commented on #1086
@driesvints Hi there well I believe it has to be a bug I made clean install and migrations were not installing properly, I'm describing the problems and errors I faced to help other if they stumble across the same problem but it also may be helpfull to you to find this problem, tables should not have a null value if the passport:install command leave some fields unfilled OR you can add the null st

[2019-09-27 19:15] strongholdmedia commented on #221
Please note that you **will** start receiving "invalid_request" errors _automatically_ if upgrading to php 7.3 and switching off emulated prepares on PDO.
See the discussion at thephpleague/oauth2-server#1054 for reference.

[2019-09-27 19:59] nicolaslima321 opened #1088 "Exception when trying to test RefreshToken"
- PHP Version: 7.2
- Laravel Version: 6.0
- Laravel Passport Version: 7.2

Hi Everyone! In last days i'm been dealing with some difficults to make tests for an API that uses Laravel Passport. The trouble is when i do one of my feature tests, i have to test if i can login an user that i created before, after log this test user, i need to refresh his token, i tried to do this directly on the endpoin

[2019-09-27 20:07] driesvints commented on #1088
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-09-27 20:07] #1088 closed

[2019-09-29 17:47] strongholdmedia opened #1089 "Invalid request error with MySQL & emulated prepares OFF"
- Passport Version: 7.5.0
- Laravel Version: 5.8.35
- PHP Version: 7.3.9
- Database Driver & Version: PDO over mysqlnd, emulated prepares off; MySQL 5.7.29 & MariaDB 10.3.16

### Description:
When not using emulated prepares on MySQL, you will always get "invalid_request" error because the client_id should be string, but is returned (properly) as an integer from the database
### Steps To Reproduce

[2019-09-29 17:52] strongholdmedia commented on #1089
I am glad to send a PR given consensus that there is
* willingness to fix, and
* preferred/excluded methods of doing so
_Otherwise I currently use the "fix" linked in the pull request above, and encourage anyone to do so, even that it is somewhat hardcore to override the used grant(s)._
(Basically one needs to override the whole chain above starting from the provider.)

[2019-09-30 11:26] techouse commented on #94
Any news on this issue? Are we still sticking to these quickfixes?

[2019-09-30 12:04] driesvints commented on #1089
Has this changed in v8 of oauth2-server? This never was giving issues before.

[2019-09-30 14:40] Sephster commented on #1089
Hey @driesvints. This hasn't changed for v8. I am assuming most people don't bother with turning off emulated prepares so this hasn't been raised as an issue before because no one has noticed it.

[2019-09-30 15:25] driesvints commented on #1089
Okay, let's see how we can get this fixed then. Probably type casting before sending in the parameter?

[2019-09-30 16:50] Sephster commented on #1089
Yeah I think that is the easiest way. Just ensure it is cast to an string in advance. Cheers Dries.

[2019-10-01 09:54] narwy commented on #1061
@driesvints Any update on this major release? However I'm using the `dev-master` at the moment and It's still throwing issues like `Call to a member function prepare() on null` when using another database driver such as MongoDB, with the full restructure, I might have to fork and do changes for a MongoDB driver support? Or maybe another branch?

[2019-10-01 09:58] driesvints commented on #1061
Not yet. Haven't found time yet to work on it.

[2019-10-01 12:15] Asjamuar commented on #1019
I am facing this exact same issue.

![image](https://user-images.githubusercontent.com/25499043/65960976-40bcd580-e473-11e9-94c0-73485499aa31.png)

Did anyone find a solution?

[2019-10-01 14:56] narwy commented on #1061
@driesvints Just so you are aware of the changes:

I changed this line:
https://github.com/laravel/passport/blob/master/src/Bridge/RefreshTokenRepository.php#L76

To:
[code]

This allowed document database structures to work correctly, `revoked` is undefined. If I return a bool it will work fine for MySql and MongoDB. I have updated my package for people to have support for MongoDB for Laravel.

[2019-10-01 17:23] strongholdmedia commented on #1089
Exactly. I tested it yesterday with Laravel 5.6.39, Passport 5.0.3 and OAuth2 Server 6.1.1 - same results.

The thing why nobody bothered with turning emulated prepares off may well be the decade-old microsecond bug with native driver.
(That here: https://github.com/laravel/framework/issues/24214)
But since that got fixed in PHP 7.3 that is now well into mainline, I expect this to become more and

[2019-10-01 17:32] strongholdmedia commented on #1089
It seems work was done on this back in Laravel 4.0 (https://github.com/laravel/passport/pull/550), but it was not completely bulletproof.

[2019-10-02 12:01] chadidi commented on #382
Same issue here using `Laravel 5.8` and `Laravel Passport 7.2`

[2019-10-03 10:57] driesvints commented on #382
Please stop reporting this or asking when this will be fixed. We need to pinpoint the exact locations where the calls are made (like I've asked above). The comments above don't help to solve the issue at hand.

[2019-10-03 16:25] #1089 closed

[2019-10-03 18:30] jmoraleswk commented on #697
so in the end, you didnt use the middleware ?? use 2 endpoints ?? @paulm17

[2019-10-03 20:42] AdrienPoupa commented on #247
@benbjurstrom has the good answer, but you should add  `        Passport::useRefreshTokenModel(RefreshToken::class);` for recent releases :)

[2019-10-04 09:19] KristianI commented on #124
For anybody looking, the "Parser" class used here is
\Lcobucci\JWT\Parser

"Token" class used here is:
\Laravel\Passport\Token

( I think?)

[2019-10-04 11:08] electron93 commented on #382
@driesvints

L127, begins in `authenticateViaBearerToken($request)`
https://github.com/laravel/passport/blob/5def15db98230dbf859292d7ca6b597c3c58051f/src/Guards/TokenGuard.php#L125-L129

L175, calls [`TokenRepository::isAccessTokenRevoked($id)`](https://github.com/thephpleague/oauth2-server/blob/2eb1cf79e59d807d89c256e7ac5e2bf8bdbd4acf/src/AuthorizationValidators/BearerTokenValidator.php#L87-L90)

[2019-10-04 14:52] matt-allan commented on #984
Just in case anyone is still following this issue, this will be possible in the next major version: https://github.com/laravel/passport/blob/d77c727fe7611ac69635ef436fca04a98ffee9af/tests/BridgeClientRepositoryTest.php#L77

[2019-10-08 04:31] najathi commented on #37
If like to upgrade Laravel 5.3 to Laravel5.4

You change the laravel/framework: 5.3.* to 5.4.*
You change the phpunit/phpunit: ̴5.7
you chnage the : "laravelcollective/html": "^5.4.0",
Then move to your terminal and run composer update
If it exists, you may delete the bootstrap/cache/compiled.php file. It is no longer used by the framework.
After upgrading all packages, you should run php artisan

[2019-10-12 13:02] agamyrat301 commented on #713
wqdqwdqwdqwdqd

[2019-10-14 09:03] shivanibenosoft commented on #418
Since

Since `/storage/*.key` is in .gitignore so if you pull the project, that might be missing the key, so running install command create new keys for you

[2019-10-17 12:07] johenel commented on #247
Could not find the Refresh token model alongside the others from the latest release

![image](https://user-images.githubusercontent.com/28248756/67007344-c1d5c700-f119-11e9-8263-6e2c6dbb902b.png)

Please help thanks

[2019-10-17 15:54] AdrienPoupa commented on #247
It's in the future 8.x that is there https://github.com/laravel/passport/tree/master/src

[2019-10-18 05:01] jlubeck commented on #984
@matt-allan would that be v8? Any idea if that is going to be this year? Thank you!

[2019-10-18 07:28] souravt1992 opened #1093 "Laravel Passport :The resource owner or authorization server denied the request"
- Passport Version: "^7.2"
- Laravel Version:"5.8.0"
- PHP Version:"^7.1.3"
- Database Driver & Version:postgres

### Description:

we have used passport as api middle ware authentication in one our project and when user login and performs some action on the website after some time there is error which is coming on
 production.ERROR: The resource owner or authorization server denied the request
by

[2019-10-18 08:24] driesvints commented on #984
I still haven't found time to work on it, sorry. But I think that within a week or two I'll have some availability.

[2019-10-18 09:02] driesvints commented on #1093
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-10-18 09:02] #1093 closed

[2019-10-21 06:37] YWatchman opened #1094 "Api guard is hardcoded"
- Passport Version: *
- Laravel Version: 5.8^
- PHP Version: 7.3
- Database Driver & Version: MariaDB 10.2

### Description:
The api guard is hardcoded in some spots (https://github.com/laravel/passport/blob/7.0/src/Token.php#L80), this wasted +/- 2 hours of my time figuring out why I can't use 2 guards (userapi and frontendapi). I renamed my frontendapi guard back to api.

### Steps To Reproduce:

[2019-10-21 10:52] Nyratas commented on #864
Hi!

I'm using custom models & table names for a project, and I'm encountering an issue due to hardcoded table names in [`Laravel\Passport\Bridge\RefreshTokenRepository`](https://github.com/laravel/passport/blob/7.0/src/Bridge/RefreshTokenRepository.php#L53). Should I make a PR or is this already planned for a new release soon?

Thanks for the great work, btw!

[2019-10-21 11:43] Nyratas commented on #864
Update: the changes made to `RefreshTokenRepository` in the merged PR #966 do not seem to be applied to the file in the `7.0` branch, but they were merged into `master` last February. Is there a reason to this? Is it safe to use the `master` branch instead of the default `7.0`?

[2019-10-21 18:00] SamyOteroGlez commented on #248
Any updates on this one?

[2019-10-21 21:55] sanhar opened #1095 "unsupported_grant_type"
- Passport Version: 7.5.
- Laravel Version: 6.3.0
- PHP Version: 7.2.22
- Database Driver & Version: 10.4.6-MariaDB

### Description:
can not login with . '/oauth/token'

### Steps To Reproduce:
laravel new project
composer require laravel/passport
php artisan migrate
php artisan passport:install
php artisan:tinker
--create users

--with postman or insomnia ( in my case )

I sent the following req

[2019-10-23 04:43] carlomigueldy commented on #267
Thanks bro it works for me too!

[2019-10-24 01:36] SeeHong commented on #76
@MarkLL  u r my lifesaver! been working for this for 2 days and yet cant figure out the problem myself. thanks for your solution

[2019-10-26 19:52] jdavidbakr commented on #398
I just ran into this as well.  I found the easiest workaround with staying in the Laravel-y way is to add an observer on the `Laravel\Passport\Token` model (and refresh token, if you are wanting that too) and putting my code in the `created` method (for my app I wanted to keep track of the first and last login as well as revoke any other tokens):

[code]

[2019-10-27 06:56] daniyum21 opened #1096 "passport:client command fails if you change user_id to something else"
- Passport Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:
The documentation says you can change user_id to whatever you want after you publish like so 'php artisan vendor:publish --tag=passport-migrations'

However, user_id is hard coded in ClientRepository, therefore the create command always fails.

[code]

### Steps To Reproduce:

1.

[2019-10-28 04:04] sniper7kills commented on #982
#### Intro

I'm currently working on something very closely related to this. And will be working on testing some changes locally that may help resolve this; #1094 and #1006

I apologize that this post is a bit long and goes slightly off topic / in depth; but figured this may end up being a great solution for others beyond just myself.

But thought I'd share what I'm thinking of trying in the event

[2019-10-28 10:41] driesvints commented on #1094
Atm this isn't a problem because Passport doesn't implement multi auth. But this will indeed need to be made configurable if multi auth is to be supported. Please see https://github.com/laravel/passport/issues/982

[2019-10-28 10:41] #1094 closed

[2019-10-28 10:42] driesvints commented on #864
@Nyratas you could use dev-master but we can't give any guarantees on it being stable enough until the final v8 release has been made.

[2019-10-28 10:42] driesvints commented on #1095
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-10-28 10:42] #1095 closed

[2019-10-28 10:45] driesvints commented on #837
Hey @frekel. Sorry, still haven't been able to get to this. I'm gonna try to focus on v8 in November.

[2019-10-28 10:54] Nyratas commented on #864
Hi @driesvints,

Thanks for your feedback. Do you have an idea when v8 will be released?

Greetings from a fellow Belgian! :)

[2019-10-28 11:11] driesvints commented on #1096
You can overwrite the default models: https://laravel.com/docs/6.x/passport#overriding-default-models

[2019-10-28 11:11] #1096 closed

[2019-10-28 11:14] driesvints commented on #1096
Hey sorry, I now saw your note about the `user_id` key. This is indeed fixed. We already allow for overwriting the default models but we can only go so far in terms of customization. Unfortunately you'll have to use the `user_id` key in this case.

[2019-10-28 11:15] driesvints commented on #864
I'll try to focus on v8 in November but not sure yet when it'll be released.

[2019-10-28 13:28] code-mark opened #1097 "Compatibility for custom Token model"
[code]

[2019-10-28 13:40] driesvints commented on #1097
You need to extend the base Passport Token model.

[2019-10-28 13:40] #1097 closed

[2019-10-30 09:14] infostreams commented on #175
I found myself in a situation where I had to extract the user from a Bearer token that had not and *could not* be passed in through the 'Authorization' header. You can use the following code to find the user associated with any given bearer token, and optionally to authorize them.

https://gist.github.com/infostreams/1b827a688c76250e7acb7626906469a8

Hope it helps someone.

[2019-10-30 12:07] divyashrestha2019 opened #1100 "installation issue"
[image](https://user-images.githubusercontent.com/53654689/67856965-d06ea600-fb3d-11e9-9567-7a4d94c2726b.png)

![image](https://user-images.githubusercontent.com/53654689/67856998-e1b7b280-fb3d-11e9-9c47-7b21dc633159.png)

[2019-10-30 14:53] narwy commented on #1100
Update Laravel to v6+

[2019-10-30 15:01] yebor974 opened #1101 "Error code on bad credentials in password grant type"
- Passport Version: 8
- Laravel Version: 6.2
- PHP Version: 7.2
- Database Driver & Version: pgsql 12

### Description:
When i send bad credentials (username or password) to the oauth/token route, i receive a invalig_grant error (HTTP status 400 bad request). ? Why not receive a 401 status code

Response in error:
`{
    "error": "invalid_grant",
    "error_description": "The provided authorizatio

[2019-10-30 23:01] Sephster commented on #1101
This is functioning correctly as per the OAuth2 spec. A 401 would require returning some kind of challenge which is why the RFC authors opted for a 400

[2019-10-31 08:29] driesvints commented on #1100
See the upgrade guide: https://github.com/laravel/passport/blob/8.x/UPGRADE.md

[2019-10-31 08:29] #1100 closed

[2019-10-31 08:30] driesvints commented on #1101
Please seethe comments above.

[2019-10-31 08:30] #1101 closed

[2019-10-31 12:04] donmbelembe commented on #984
V8 is out but i'm still confused on how to work with this

[2019-11-05 10:02] rezarabbbani commented on #195
As @simonhamp said you can check if the requested scope is valid in `getScopeEntityByIdentifier` and return the  object but for checking if user is allowed to take the scopes you'd better go to `finalizeScopes` method and check it there and return the finalized array of scopes.By the way the scopes array should be returned in `finalizeScopes` method or you'll have error

[2019-11-05 11:37] donmbelembe commented on #1062
I'm still getting a generic error on passport 8.0

[2019-11-06 01:33] kourtzaridisr88 opened #1108 "ClientCommand Type Hinting Issue"
- Passport Version: 8.0
- Laravel Version:6.4
- PHP Version: 7,2
- Database Driver & Version: MongoDB 3.6

### Description:
When you change the Client Model ClientCommand not working because of the Client
type hint

### Steps To Reproduce:

In your AuthServiceProvider boot method just change the client model
Passport::useClientModel(Client::class);

[2019-11-06 09:39] madman-81 commented on #898
I have the same use case as @jcharcosset and @fer8a: an API that should be accessible with both client access tokens and personal access tokens. My implementation was roughly the same as @fer8a has posted, but as of v8 of Passport this isn't working any more due to PR #1040.

Is there anybody who has a suggestion how this can be fixed (except for writing my own middleware)?

[2019-11-06 13:48] gdebrauwer commented on #898
I also have the same problem as @madman-81 and @jcharcosset and @fer8a.

In a lot of our projects we have for example an api route to register a new user. This route is protected with the `client` middleware. An access token is obtained via `client_credentials` grant type using a password oauth client. That client is also used to authenticate as user with `password` grant type.

Because of the cha

[2019-11-06 16:21] garrettjoecox opened #1109 "Unable to retrieve access_token using public client"
- Passport Version: 8.0.0
- Laravel Version: 6.5.0
- PHP Version: 7.3.9
- Database Driver & Version: Sqlite

### Description:
I am unable to retrieve an access token using a public client, using the changes merged in #1065

### Steps To Reproduce:
- Create a new laravel project
- Install laravel/ui auth scaffolding
- Install passport
- Walk through [frontend quickstart](https://laravel.com/docs/6.

[2019-11-06 16:39] garrettjoecox commented on #1109
Actually, I seem to have misunderstood PKCE, as it seems it is only viable for the `authorization_code` grant type. Disregard.

[2019-11-06 16:39] #1109 closed

[2019-11-07 09:55] madman-81 commented on #898
Since already 4 people run into this issue, shouldn't this issue be reopened?

[2019-11-07 09:59] mohammedaktaa commented on #898
@gendronb @madman-81 you can see my solution above your comments
I created middleware that I called `ClientOrApi` and handle function of it is:
[code]

[2019-11-07 10:40] madman-81 commented on #898
It seems link the AuthGuardMiddleware and ClientCredMiddleware are classes of your own?

For now I've done something similar and created my own middleware as well, but as an extension of the CheckClientCredentials middleware from Passport. I've overridden the handle() function and left out the firstparty-check that has been added in the PR. It looks like this now:

[code]

I guess it could be nice

[2019-11-09 08:06] satyakresna commented on #703
Hi, I just solve the problem and provide the gist below:

[Fixed problem Laravel Passport doesn't redirect back to authorization form after login](https://gist.github.com/satyakresna/5031ee18b25e317341c52bc6a7c39671)

I hope it helps you all.

[2019-11-09 08:07] satyakresna commented on #248
Hi, I just solve the problem and provide the gist below:

[Fixed problem Laravel Passport doesn't redirect back to authorization form after login](https://gist.github.com/satyakresna/5031ee18b25e317341c52bc6a7c39671)

I hope it helps you all.

[2019-11-09 16:58] joandylevi commented on #221
That error is displayed in case that under “APIs & auth” -> “Consent screen” you have empty field “PRODUCT NAME” – you need to select e-mail address as well.

You can find “Consent screen” under a link!, click on project name and then go to “APIs & auth” -> “Consent screen”

Full Source Available At [Here](https://icetutor.com/question/error-invalid_client-no-application-name/)

[2019-11-09 18:28] ingria commented on #248
@satyakresna, cool :+1:. @themsaid please pay attention

[2019-11-10 14:35] patrickomeara opened #1113 "oauth2-server now throws an uncaught exception on incorrect credentials"
- Passport Version: 8.0.0
- Laravel Version: 6.5.0
- PHP Version: 7.3.11
- Database Driver & Version: Mysql 8.0.16

### Description:
The league/oauth2-server 8.0 upgrade now throws 400 Bad Request instead of the previous 401 Unauthorized.

This is currently not handled gracefully in Passport and bubbles up to bug reporting.

@driesvints is this by design, and if so how/where should we catch the er

[2019-11-10 15:46] satyago opened #1114 "`CreateFreshApiToken` middleware modifies / drops request parameters"
- Passport Version: v8.0.0
- Laravel Version: 6.5.0
- PHP Version: 7.2.23
- Database Driver & Version: 8.0.17

### Description:
When adding the `CreateFreshApiToken` middleware to the `App\Http\Kernel::class`'s `$middlewarePriority` config, it seems to modify / drop the existing request parameters. That is if it is added prior to any other middleware that is hooking into submitted request paramete

[2019-11-11 09:32] driesvints commented on #1108
You need to extend the original model.

[2019-11-11 09:32] #1108 closed

[2019-11-11 09:52] driesvints commented on #1114
Hey @satyago. Correct. The middleware needs to be the last one. Please see the docs here: https://laravel.com/docs/6.x/passport#consuming-your-api-with-javascript

[code]

As well as the note below the code snippet:

[2019-11-11 09:52] #1114 closed

[2019-11-11 09:55] driesvints commented on #1113
Hmm, I don't see that change in the changelog here: https://github.com/thephpleague/oauth2-server/blob/master/CHANGELOG.md

@sephster do you maybe know?

[2019-11-11 12:19] satyago commented on #1114
@driesvints thank you, but I've read these doc entries many times before and they told me nothing. That is until I REALLY took a hard look at the implied order on the example, realizing that this was in fact (not anymore) the last entry in our codebase.

The excerpt from the warning is especially confusing:

 This gives the impression it is ok to be placed anywhere, with the exception of `EncryptC

[2019-11-11 12:42] Sephster commented on #1113
Hi @driesvints - I think it might be this change:

It was modified to match the OAuth2 Spec. We previously returned a 401 but this was not correct.

PR is here https://github.com/thephpleague/oauth2-server/pull/967

[2019-11-11 12:56] driesvints commented on #1113
@Sephster thanks! Looks like we need to convert the exception somewhere with the `HandlesOAuthErrors` trait.

@patrickomeara can you let me know what is exactly needed to reproduce this? Please share some code.

[2019-11-12 05:56] patrickomeara commented on #1113
@driesvints This repo will log the error when running the `curl` command in the `README`

https://github.com/patrickomeara/passport_error

[2019-11-12 12:05] driesvints commented on #1113
@patrickomeara I get a proper response back from the API when I test with the exact steps you've provided in the readme:

[code]
<details><summary>Stacktrace</summary>
<p>

[code]

</p>
</details>

So this leads me to believe you might have some missing dependencies or there might be something else we're missing.

Can you first please try one of the support channels below? If you can actually iden

[2019-11-12 12:05] #1113 closed

[2019-11-12 15:30] patrickomeara commented on #1113
@driesvints yep, I get the same response back. But since the upgrade we are now notified of incorrect logins through bugsnag, whereas previously incorrect logins were handled gracefully.

This could be something we ignore through bugsnag, but that feels like an extra step for passport users.

I’ll keep an eye on this, I’m sure others will have similar issues. It seems like a common setup.

[2019-11-12 15:43] driesvints commented on #1113
@patrickomeara okay. Since @Sephster indicated that this change happened to conform more to the OAuth spec and it was indicated in the changelog of their library I'm gonna leave it as this. Thanks for making use aware though 👍

[2019-11-12 20:27] julesgraus commented on #552
I would like to know this too! In passport it is pretty easy to create tokens and clients, but not so easy (not documented well enough) to get tokens after they are created.

[2019-11-13 16:29] danieldevsquad opened #1116 "Error outputting client details after overriding default modules"
- Passport Version: v7.5.1
- Laravel Version: v6.3.0
- PHP Version: 7.3.11
- Database Driver & Version:  irrelevant

### Description:

After overriding default models you will get an error when running:

[code]

This is the output (that matters):

[code]

### Steps To Reproduce:

In `AuthServiceProvider`:

[code]

In the terminal run:

[code]

[2019-11-14 01:13] gerardojbaez commented on #527
I'm experiencing this myself. Based on [this StackOverflow](https://stackoverflow.com/a/56622469/3204745) post, there seems to be a way to refresh the token by sending a POST request to [this route](https://github.com/laravel/passport/blob/758e143052f0a353df8dff9349f84601579e457d/src/RouteRegistrar.php#L99): `oauth/token/refresh`.

[2019-11-14 08:54] driesvints commented on #1116
You need to extend the original model. Several people have had this problem so I'll send in a PR to the docs to make this more clear. Thanks.

[2019-11-14 08:54] #1116 closed

[2019-11-14 09:53] alagiesellu commented on #763
Any solution?

[2019-11-14 11:28] zhovtyj commented on #763
Hi. I used this article to implement refresh token functionality.
http://esbenp.github.io/2017/03/19/modern-rest-api-laravel-part-4/

чт, 14 лист. 2019 о 11:53 Alagie Sellu <notifications@github.com> пише:

[2019-11-15 13:49] kaushikkhambhadiya commented on #762
does anyone come to any solution?having same issue.after composer update ,i am getting Unable to determine authentication model from configuration error.

[2019-11-16 00:32] Garanaw opened #1118 "Auth driver [passport] for guard [api] is not defined. after updating"
- Passport Version: 8.0.0
- Laravel Version: 6.5.1
- PHP Version: 7.2.19
- Database Driver & Version: MySQL 5.7
- System: Windows 7
- Server: Laragon

### Description:
After updating Laravel from 5.8 to 6.5 and Passport from 7.2 to 8.0, this message appears, no configuration has changed, nor anything that might affect the functioning of Passport.

### Steps To Reproduce:

- Install Laravel V5.6
-

[2019-11-18 05:24] DelphiWorlds commented on #147
Not sure if I misunderstand the answer, or whether my situation is different.

Consider a Laravel app started from scratch, and Passport is installed. When the home page (accessed via a web route) is shown, I want the home link to show only if the user has authenticated with Passport, and the Login/Register links to show only if they're not authenticated via Passport.

Actually, I'd like to be abl

[2019-11-18 08:33] alwintom commented on #1118
Same issue here.

Versions:
Laravel: v6.5.1
Passport: v8.0.0

During debugging I also find that the closure in registerGuard() is not getting executed.
Workaround by @Garanaw works for me too. Thanks

[2019-11-18 11:30] driesvints commented on #1118
This is related to https://github.com/laravel/passport/pull/1003 I believe.

Ping @crynobone

[2019-11-18 12:13] crynobone commented on #1118
Need more information.

All the code are executed on `ServiceProvider::register()`. Unless for some reason `auth` was resolved by some service provider during `register()` instead of `boot()` then it is possible this could cause an issue.

[2019-11-18 12:20] crynobone commented on #1118
[code]

A solution is to add `static::$app->resolved($abstract)` check to cover such edge cases.

[2019-11-18 12:23] driesvints commented on #1118
@crynobone okay. Can you maybe PR that to the framework?

[2019-11-18 12:53] crynobone commented on #1118
@driesvints https://github.com/laravel/framework/pull/30616

[2019-11-18 13:10] driesvints commented on #1118
@crynobone thanks!

[2019-11-18 13:31] driesvints commented on #1118
PR was merged. We can try this out tomorrow when the next framework version is released.

[2019-11-18 15:22] lucadegasperi commented on #982
I was working on yet another multi-auth PR for passport and some considerations came to my mind:

How can we specify the auth provider to use?

- At first I thought we could inform the server of the auth provider to use by passing an additional parameter in the query string like this:
[code]
The problem with this approach (at least for the password grant type) is that the grant type provided by le

[2019-11-18 15:39] armenpetrosyan993 opened #1121 "Able to take grant_type client_credentials client access token with password client data, but unable to use it."
- Passport Version: 8.0
- Laravel Version: 6.5.1
- PHP Version: 7.2.12
- Database Driver & Version: mysql

### Description:
I had client middleware and auth:api middleware in my application. I had one password client token  and it was possible to use for client credentials too.
In new version i am able to get access token via grant_type client_credentials but i am not able to use it as it is check

[2019-11-19 06:49] francsiswanto opened #1122 "Streamline DB Access"
- Passport version: 5.0
- Laravel version: 5.6

in my spare time I casually check what laravel/passports do when serving every guarded requests for data query using SQL Profiler, and this is what I can capture:
[code]
Real data query is on the fifth. Since these query is always called for every request, can you make it more optimal to only 1 query maybe? Thank you.

[2019-11-19 07:20] francsiswanto commented on #1122
It seems this issue https://github.com/laravel/passport/issues/382 are same AND still no solution yet. I close this issue.

[2019-11-19 07:20] #1122 closed

[2019-11-19 07:25] francsiswanto commented on #382
I need solution for this issue also. I'm still using Passport 5.0 on Laravel 5.6 installed on my client server, and there is no way to upgrade into latest version. I hope somebody can help. Thank you.

[2019-11-19 13:46] driesvints commented on #1121
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-11-19 13:46] #1121 closed

[2019-11-19 14:26] WouterFlorijn opened #1123 "Support issuing tokens without a request or response"
I simply want to issue access tokens in a controller method. The request includes everything that's needed to authenticate and issue a token with the password grant client (email and password), but it doesn't include `client_id`, `client_secret` and `grant_type`.

If I want to call `AccessTokenController::issueToken` or `AuthorizationServer::respondToAccessTokenRequest` directly, I have to provide

[2019-11-19 17:32] gdebrauwer commented on #1121
@armenpetrosyan993 This was changed in 8.0 because of #691. It should not be allowed to use a 'client_credentials' access token, issued with password client, to access a route protected with 'client' middleware. Routes protected with that middleware should only be used for internal machine-to-machine communication.

@driesvints is it not strange that you still can use the 'client_credentials' gran

[2019-11-20 05:24] armenpetrosyan993 commented on #1121
@gdebrauwer thanks. Do you have any idea how it can be done in new version? i have public roues and private routes. but also want that public routes will be available only for our application and no one outside couldn't use them and see data. before as added that routes in middleware client and password grant token can use it too. now can't

[2019-11-20 17:06] gdebrauwer commented on #1121
@armenpetrosyan993 that's not possible anymore. You will have to remove the 'client' middleware if you want to use the route both as client and as user.

[2019-11-20 17:26] armenpetrosyan993 commented on #1121
@gdebrauwer  okay thank you

[2019-11-21 06:21] mhfuad commented on #839
If you are using client credentials to generate your access_token.
1. Add to the routeMiddleware in \App\Http\Kernel.php 'client_credentials' => \Laravel\Passport\Http\Middleware\CheckClientCredentials::class,
2. Use 'client_credentials' middleware in your route too.

Route::group(['prefix' => 'v1','middleware' => 'client_credentials'], function () {
//your route
});

[2019-11-21 11:29] driesvints commented on #1121
@gdebrauwer maybe we can do better here. Feel free to send in a pr if you want 👍

[2019-11-21 15:31] tommiekn opened #1124 "Personal Access Tokens 401 unauthorized after updating to Passport 8"
- Passport Version: 8.0.1
- Laravel Version: 6.0
- PHP Version: 7.2.23
- Database Driver & Version: Maria

### Description:
I have an application that make use of the Personal Access Tokens functionality to allow machine-to-machine talks.
We do create users and personal access tokens and give the users the personal access tokens to auth their applications directly with no need to use the whole aut

[2019-11-21 16:13] driesvints commented on #1118
@Garanaw can you try again with the latest Laravel release?

[2019-11-21 16:14] driesvints commented on #1124
This behavior was changed for the new release and is documented in the upgrade guide here: https://github.com/laravel/passport/blob/8.x/UPGRADE.md#fixed-credential-checking

[2019-11-21 16:14] #1124 closed

[2019-11-21 16:31] tommiekn commented on #1124
@driesvints i have read that upgrade file many times before posting the issue but i am unable to understand why edit affects how i am using personal access feature.

It is very unclear on how to amend the use of it thru docs or either in the update file. Could you advise some extra info here please?

[2019-11-21 16:42] driesvints commented on #1124
Personal access tokens aren't available for machine-to-machine communication. You're looking for client credentials grant tokens: https://laravel.com/docs/6.x/passport#client-credentials-grant-tokens

[2019-11-21 16:52] tommiekn commented on #1124
@driesvints  Thanks, that is exactly what i am using, apologize for the missleading machine to machine thing.

Still, i am unable to understand what i need to change here.
In the pull for that edit you referred i see:

How can i give client credentials grant type?
The problem could be i need to re-generate tokens ?

The tokens i use have already scopes associated and i am checking it in my route:

[2019-11-21 17:02] driesvints commented on #1124
You can't use the `client` middleware in combination with `'auth:api'`.

It's probably best if you continue with this on a support channel where you'll get better and faster answers than here:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/i

[2019-11-21 17:19] tommiekn commented on #1124
Ok, just one last thing tho because i missreaded at first what you said, you have mentioned earlier i were looking for client credentials tokens, but actually that is not correct, what i am using are the personal access tokens.

https://laravel.com/docs/6.x/passport#personal-access-tokens

I need to allow users to use bearer tokens they generate to connect directly to the api without the need of a

[2019-11-21 18:03] tommiekn commented on #1124
The issue was simply to delete "client" from the middleware on each.

[2019-11-21 19:07] Garanaw commented on #1118
@driesvints @crynobone
Confirmed: after updating Laravel Framework to v6.5.2 and Laravel Passport to v8.0.1 (although it wasn't required, I decided to also go with the latest release), the AuthManager is extended with the Passport's guard, doesn't throw errors and lets me login with a token. This can be marked as solved.
Thank you

[2019-11-21 19:20] driesvints commented on #1118
Great!

[2019-11-21 19:20] #1118 closed

[2019-11-22 02:14] JuanDMeGon opened #1125 "Client credentials middleware should allow any sort of valid/existing client"
- Passport Version: 8.0.1
- Laravel Version: 6.5.2
- PHP Version: 7.3.11
- Database Driver & Version: Any driver and version

### Description:
Currently, it is not possible to get access to any action protected by the ClientCredentials middleware (CheckClientCredentials) if using a password or a personal client. BUT it should be possible, as those clients still being valid clients.

Now, even when

[2019-11-22 03:13] alvirbismonte commented on #1125
Just to add up to this issue, it should be either a Personal Access Client or Password Grant Client to replicate the Unauthorized response and not simply a Client Credentials Grant.

[2019-11-22 03:15] alvirbismonte commented on #898
[#1125](https://github.com/laravel/passport/issues/1125) is opened for this issue.

[2019-11-22 03:16] JuanDMeGon commented on #1125
Thanks. I fixed that now to get it more clear.

[2019-11-22 10:53] driesvints commented on #1125
I'll need @Sephster & @alshf89 to both weigh in here. Even @matt-allan if you're willing to.

We need to get a consensus about this once and for all so that we don't go back and forth changing things all the time.

[2019-11-22 10:55] driesvints commented on #1125
@billriess @soundsgoodsofar would be cool if you both could also give your insights here given your involvement on the original issue here: https://github.com/laravel/passport/issues/691

[2019-11-22 12:57] driesvints commented on #786
After looking into this again I agree with @rickmacgillis that this isn't necessary because the timestamps are indeed getting set manually. If you still want to customize this behavior you can override the model with https://laravel.com/docs/6.x/passport#overriding-default-models

[2019-11-22 12:57] #786 closed

[2019-11-22 13:00] driesvints commented on #1123
*Why* do you want this?

[2019-11-22 13:12] billriess commented on #1125
In our apis we use both password and client_credentials grants using the same oauth client. We require the consumer apps to use client credentials for non-user apis like pulling app configuration or registering new users then password grants for authenticating. All of our apps are first party though so we can trust this use case.

While I agree that the middleware should work for all grant types,

[2019-11-22 13:42] T0miii commented on #1125
Has some one got a workaround going for this, while it will or not will be changed?

[2019-11-22 13:47] driesvints commented on #1125
@T0miii on't upgrade to 8.0 for now

[2019-11-22 15:29] JuanDMeGon commented on #1125
I am not so sure to understand your issue here. If a token is obtained using the client credentials grant, it will be allowed to pass ONLY through the routes protected by the CheckClientCredentials middleware. A token issued using client credentials grant does not pass through a route protected by auth:api. Only the tokens that have a user associated with it can pass the auth:api middleware (those

[2019-11-22 16:07] billriess commented on #1125
I agree that the middleware should only care about authenticating the client, for any grant type. The issue for our implementation is the opposite of what you described. In our case, we don't want the `password` grant to access non-user specific APIs which this change would allow. So we're leveraging the fact that it does not work as it should according to the specification. We would just need to

[2019-11-22 16:15] JuanDMeGon commented on #1125
OK, I think I understand now. So, I think this should be resolved, of course, at app level and not in the package as currently seems to be.

Just to provide a possible solution to your case, you can add one middleware or condition checking the client type and blocking access the case it is not the client type you want (basically the same segment is currently causing the issues here).

I think we a

[2019-11-23 12:16] alshf89 commented on #1125
as long as I remember, I faced with this issue when I had some API routes that didn't belong to User scope API but `CheckClientCredentials` middleware didn't care about it... so when someone issued an access token via `Password Credential` they could access these `Client Credential` API Routes as well.

[2019-11-23 16:18] JuanDMeGon commented on #1125
OK, I get your point, but the implementation is not correct, so. As it is restricting the client and not the token itself.

ANY client can issue a token using client_credentials grant type, so you should not restrict based on the client type but in the grant used to obtain that specific token (following your idea).

Now, in the RFC, there is not any detail about this, so even when your point is va

[2019-11-25 07:06] shivanibenosoft commented on #957
Stiil does not work

[2019-11-25 08:44] WouterFlorijn commented on #1123
@driesvints In our application, users are able to file a complaint while in the same form registering an account. Therefore, it would be great if I could create the complaint and user, and return the tokens in the same request/response.

[2019-11-26 20:49] Sephster commented on #1125
Hey @driesvints sorry for the late response. I don't think the check is required. Apologies for the wall of text as you will no doubt be aware of all that I'm writing. I've mainly laid it out to get my thoughts down.

The middleware is called `CheckClientCredentials` so I would assume that it is checking if the client's credentials provided are valid. The _only_ method that is doing this is the `h

[2019-11-26 21:06] JuanDMeGon commented on #1125
I very agree with everything. Anyway, our main purpose (at least for this issue) is to remove the client type verification (the call to `firstParty()`).
Now, even when it seems to be a breaking change, it is basically a fix to return Passport to the regular and accurate behavior. Of course, it is a decision from the maintainers if put it as a fix or bump the version and consider this a breaking ch

[2019-11-27 05:18] jadvillafania opened #1128 "Getting unexpected response: {message: "Server Error"}"
- Passport Version: 8.0.1
- Laravel Version: 6.5.2
- PHP Version: 7.3.7
- Database Driver & Version: 10.3.16-MariaDB

### Description:
Getting unexpected response: {message: "Server Error"} when calling to an api route. It does not happen all the time but maybe 3 of 10 times. I am using password client. Authentication bearer token is properly configured on the axios instance.

### Steps To Reprodu

[2019-11-28 12:41] marija-bogdanovic opened #1129 "AccessTokenTrait changed function convertToJWT from public to private"
Hi,
why did you change this, was this necessary?
There is a good way for adding claims into passport access token by overriding function convertToJWT and now I cannot do it anymore. I upgraded Laravel to 6.* but still, need to use "laravel/passport": "7.*", in order to make it work in the same way.
 Would it be some security issue if you revert it?
Thanks in advance.

[2019-11-28 12:55] frekel commented on #837
@driesvints
Can we re-open this issue? We really want the PKCE!

We all know time is very limited, so just a reminder.... not trying to annoy you!

[2019-11-28 13:00] driesvints commented on #837
@frekel it's implemented in the current release (8.x)

[2019-11-28 13:01] Sephster commented on #1129
This was changed in the OAuth2-Server, not Passport. The change was made two years ago. From memory, it was because we added a `_toString()` method to generalise the access token interface so that in future, you could perhaps use paseto if they wished. We wanted to remove references to specific outputs if possible.

We do need to add a native way to add custom claims and there is an issue open for

[2019-11-28 13:11] frekel commented on #837
@driesvints GREAT NEWS!!!
I feel stupid I didn't see the new release :0

[2019-11-28 14:47] marija-bogdanovic commented on #1129
Oh, ok then,  thank you Sephster for your answer.

[2019-11-28 17:10] driesvints commented on #1123
@WouterFlorijn that would be under the idea that the client already exists right?

[2019-11-28 17:11] driesvints commented on #1128
Did you upgrade from an older version? Or is this a fresh install?

[2019-11-28 17:12] #1129 closed

[2019-11-28 17:13] driesvints commented on #1123
I think there could be a potential implementation for this. @WouterFlorijn if you could describe a little more into detail how exactly you'd use this code-wise that'd be great. Feel free to send in a PR.

[2019-11-28 17:23] driesvints commented on #1125
Can you list the exact changes you'd like to make? Then we can determine if it can go to 6.x or master.

[2019-11-28 18:13] JuanDMeGon commented on #1125
This is literally a small segment. In [this line](https://github.com/laravel/passport/pull/1040/files#diff-0c3d06260bd30e05008f5b46e3acf3e6R87) the condition would change from `if (! $token || $token->client->firstParty())` just to `if (! $token)`

I would need to check locally if there is any test involved on this which could need any change as well. So even when it is a minor fix, it changes the

[2019-11-28 23:17] alshf89 commented on #1125
We have same structure...

[2019-11-28 23:48] JuanDMeGon commented on #1125
Yes, following those possibilities, even when that was not the correct way to go, that would be a breaking change for some projects so probably need to be in a major release.

[2019-11-29 06:29] mohamednizar opened #1130 "The Auth pop up instead of redirecting to the client"
- Passport Version: v7.5.1
- Laravel Version: v5.8.35
- PHP Version: 7.2
- Database Driver & Version: Mysql:5.7

### Description:
I have Mysql user base and and oAuth redirect to the login page , it's popup auth in loop instead of login.

### Steps To Reproduce:
This is  oAuth config in grfana:

[code]

this is showing up
![Screenshot from 2019-11-29 11-58-49](https://user-images.githubusercontent

[2019-11-29 09:20] WouterFlorijn commented on #1123
@driesvints I guess it could look something like this:

[code]

Alternatively, passing the `client_id` and `client_secret` through the array instead of the first parameter would also be fine. And semantically, something called `AuthorizationServer`, might not be the best class for this if the `getAccessToken` method doesn't use any requests/responses.

Unfortunately, it looks to me like all the re

[2019-11-29 12:19] driesvints commented on #1130
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-11-29 12:19] #1130 closed

[2019-11-29 12:55] driesvints commented on #1125
@billriess @alshf89 do you both agree that the change mentioned here is the correct one and that we should implement it?

https://github.com/laravel/passport/issues/1125#issuecomment-559577089

[2019-11-29 13:57] alshf89 commented on #1125
In my opinion I’m sort of agree with @JuanDMeGon, but this issue (#691) is really important for lots of people and one of them was me and talked about it a lot so we decided about it and we create a PR and fix it on that moment.

Everyone have different use cases for this scenario so we should find the best practices and best approach for this section, @JuanDMeGon did some research about it and he

[2019-11-29 14:13] alshf89 commented on #1125
J

[2019-11-29 16:36] JuanDMeGon commented on #1125
I understand the use-cases exposed. I think the solution proposed was functional BUT not correct, especially at the package level.
The package (Passport) should care about following OAuth standards and practices and restricting the usage of an access token based on the client type is not correct.
If someone needs to restrict the usage of a token ONLY to some specific clients, can fix that by its o

[2019-11-29 20:21] alshf89 commented on #1125
I like the idea of `OnlyClientCredentialsTokens` middleware ...

[2019-11-29 21:53] Sephster commented on #1125
I think @JuanDMeGon has hit the nail on the head. There was a misunderstanding of the middleware in #691. If people want to restrict certain grants this should be a userland issue and not a Passport implementation. This is not something the OAuth spec deals with (nor should it). Effectively, it is the scopes that typically restrict what actions you can do with an access token, not the client type.

[2019-11-29 22:22] JuanDMeGon commented on #1125
Very agree. So, I think I would make the PR to the next major release. Anyway, I think this release should be released as soon as possible to return Passport to its regular/correct behavior.

I will wait a few, in case @driesvints or someone else has something to add, and then will send a small PR with the fix.

Thank you all for the comments. I am glad we get into a solution.

[2019-11-30 18:08] ReArmedHalo commented on #575
So I couldn't really wait for the PRs or this functionality to be added to the base Passport package. I created my own Introspection package that handles both introspection on the Passport side as well as provides the middleware and authentication guard for a resource server. This is my first attempt at anything of this scale if I'm being honest and a bit nervous about sharing ;)

Please let me kn

[2019-12-02 05:01] jadvillafania commented on #1128
This is a fresh install. I checked the Laravel logs and it error was about app key not specified (even though there is already APP_KEY generated by `php artisan key:generate`.

I cached the config and so far not getting the error again.

[2019-12-02 05:01] #1128 closed

[2019-12-02 11:35] driesvints commented on #1125
We only just released a new major version so we probably won't be releasing a new one anytime soon. If this gets merged on master you could use `dev-master` for the time being if you really need it.

Feel free to send in a PR to master.

[2019-12-02 13:27] Qaisnezami commented on #774
composer require paragonie/random_compat=~2.0
composer require laravel/passport=^7.0

[2019-12-02 19:56] dmitrirussu opened #1131 "Call to undefined method Illuminate\Events\Dispatcher::fire()"
"laravel/framework": "5.8.*",
        "laravel/passport": "^7.5.1",
- PHP Version:7.2.24-0ubuntu0.18.04.1
- Database Driver & Version:

### Description:

Call to undefined method Illuminate\Events\Dispatcher::fire()

src/Bridge/RefreshTokenRepository.php
line: 60
$this->events->fire(new RefreshTokenCreated($id, $accessTokenId));

### Steps To Reproduce:
        $tokenRequest = Request::create(

[2019-12-02 20:07] dmitrirussu commented on #1131
Temporary fix
`
<?php
namespace App\Providers;

use Laravel\Passport\Events\RefreshTokenCreated;
use League\OAuth2\Server\Entities\RefreshTokenEntityInterface;

class RefreshTokenRepository extends \Laravel\Passport\Bridge\RefreshTokenRepository
{
    /**
     * {@inheritdoc}
     */
    public function persistNewRefreshToken(RefreshTokenEntityInterface $refreshTokenEntity)
    {
        $this->da

[2019-12-03 00:37] JuanDMeGon commented on #1125
Ok, I understand that. I hope there does not pass so much time on it.
I already sent the PR (#1132). Please let me know if something else.

[2019-12-03 10:36] driesvints commented on #1131
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-12-03 10:36] #1131 closed

[2019-12-04 10:41] richard457 commented on #423
how do we make it return date time?

[2019-12-05 03:06] aurigadl commented on #1019
Unfortunately, there is no support that really provides a solution to this problem. The solution for my case is to install the latest version of Laravel with the passport version 7.5.1. With this version, it works correctly and this error does not occur.
It is not a problem of bad use of the tool is a bug present in some specific conditions.

{
"error": "unsupported_grant_type",
"error_description

[2019-12-05 05:30] mohamednizar opened #1133 "oauth/authorize 401 Unauthorized"
- Passport Version: v7.5.1
- Laravel Version: 5.8
- PHP Version: v7.1.32

### Description:
I have been fired this error message after login using passport for authenticate my application.
`{"error":"invalid_client","error_description":"Client authentication failed","message":"Client authentication failed"}`

Found this URL with parameters which are passed: ` http://localhost:3004/oauth/authorize?a

[2019-12-05 10:53] driesvints commented on #1133
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-12-05 10:53] #1133 closed

[2019-12-05 11:17] mohamednizar commented on #1133
@driesvints , Thanks in advanced , I have Upgraded!

Passport Version: v8.0
Laravel Version: v6.2
PHP Version: v7.3.11

Still no luck.

[2019-12-05 11:27] driesvints commented on #1133
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-12-05 11:32] mohamednizar commented on #1133
I have done and dusted. Well, seems no solutions for this. Then I'll move from this. Since It's beginning of the implementation I can find a best which is working for me.

[2019-12-05 12:12] Sephster commented on #1133
Looking at the strack trace, I think you have an issue with your redirect URI. It seems it hasn't been registered against the client.

[2019-12-05 14:44] driesvints commented on #1125
We merged this into master. Thanks for everyone's participation in figuring this out!

[2019-12-05 14:44] #1125 closed

[2019-12-06 11:34] RedFernLiam opened #1135 "invalid_grant error for password client non existing user"
- Passport Version: 8.0.2
- Laravel Version: 6.6.2
- PHP Version: 7.3.11
- Database Driver & Version: MySQL 5.7.23

### Description:
When I try and get an access token for a user that I know does not exist I get and invalid_grant error instead of an invalid_credentials error.

### Steps To Reproduce:

My feature test fails

[code]

I can successfully login with a user that exists.

[code]

**Downg

[2019-12-06 12:32] driesvints commented on #1135
Is there code we're missing here? How's the client setup?

[2019-12-06 12:46] RedFernLiam commented on #1135
@driesvints  This is how I setup the test to create the password client

[code]

[2019-12-06 12:53] driesvints commented on #1135
Can you post the full testcase?

[2019-12-06 13:04] RedFernLiam commented on #1135
@driesvints

[code]

[2019-12-06 13:05] RedFernLiam commented on #1135
[code]

[2019-12-06 14:18] driesvints commented on #1135
This is a change in OAuth 2 server: https://github.com/thephpleague/oauth2-server/pull/967

See https://github.com/thephpleague/oauth2-server/blob/master/CHANGELOG.md#changed-1

[2019-12-06 14:18] #1135 closed

[2019-12-08 19:06] matt-allan commented on #1123
The underlying grant in league/oauth2-server [requires the request](https://github.com/thephpleague/oauth2-server/blob/4c05600c6a606036d1d67af97ba26397827c1531/src/Grant/PasswordGrant.php#L46) so if Passport offered this it would need to create a request and parse the response like you are doing now, similar to [how the personal access token factory works](https://github.com/laravel/passport/blob/

[2019-12-09 01:12] anas919 commented on #221
@remymumoh 's answer works fine for me

[2019-12-09 10:54] driesvints commented on #1123
@themsaid mentioned to me that he also needed this a couple of times. @sephster do you have any thoughts on this?

[2019-12-09 10:55] driesvints commented on #1123
@matt-allan the note about the standards compliancy is a good one though. Let's review this a bit more before we create a pr.

[2019-12-10 08:11] Douglasdc3 opened #1138 "Inherited scopes ignored when using actingAs"
- Passport Version: 7.5.1
- Laravel Version: 6.6.2
- PHP Version: 7.2.24
- Database Driver & Version: n/a

### Description:

When using inherited scopes and you attempt to set scope inside `Passport::actingAs($user, ['api'])` the can method returns false when checking scope `api:users:index`

### Steps To Reproduce:

[code]

The issue related to `Passport.php` acting as method:

[code]

`Token.php

[2019-12-10 09:18] driesvints commented on #1138
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-12-10 10:03] Douglasdc3 commented on #1138
@driesvints  This issue isn't fixed in v8. Same result in the above mentioned test cases and the code in the `actingAs` method is still the same.

[2019-12-10 11:31] SagarNaliyapara commented on #909
😳

[2019-12-10 12:08] Douglasdc3 opened #1139 "Inherited scopes ignored when using actingAs"
- Passport Version: 8.0.2
- Laravel Version: 6.6.2
- PHP Version: 7.2.24
- Database Driver & Version: n/a

### Description:

 When using inherited scopes and you attempt to set scope inside `Passport::actingAs($user, ['api'])` the can method returns false when checking scope `api:users:index`

Reference to #1138 since the issue also occurs on the latest version

### Steps To Reproduce:

[code]

Th

[2019-12-10 12:13] driesvints commented on #1139
You don't need to open duplicate issues

[2019-12-10 12:13] #1139 closed

[2019-12-10 12:14] driesvints commented on #1138
At the moment this doesn't works like this. You'll always need to pass in the explicit scopes you want to check against. We can, however, perhaps add support for this. Feel free to send in a PR.

[2019-12-10 19:15] Sephster commented on #1123
It would be good to find out more about the use case but this doesn't seem to fit with what OAuth was intended for so I would question the applicability of use Passport in this manner and suggest this isn't progressed.

In general OAuth is used to provide a client access to protected resource. The client will either act for itself or on behalf of a user.

In this scenario described, it seems the e

[2019-12-10 19:38] WouterFlorijn commented on #1123
@Sephster I understand your points, just to clarify:

The resource in my case would be the user's account, which is created in the same request. Therefore it doesn't exist when the request is sent, but it is created during the request.

A slightly different suggestion could be to decouple Passport from requests as much as possible and accept arrays or individual arguments to pass data instead. The

[2019-12-10 20:39] Sephster commented on #1123
Thanks for the quick response @WouterFlorijn. The creation of users is not something that is handled by OAuth. It is always expected that the user or client will already have a presence on the protected resource and I think this is where your issues are coming in.

If we were to apply this to the OAuth flow as it is expected, it should work something more like this. I'm assuming there is a web app

[2019-12-11 01:01] clzola opened #1140 "AccessTokenRepository does not throw UniqueTokenIdentifierConstraintViolationException exception"
- Passport Version: 8.0.2
- Laravel Version: 6.7.0
- PHP Version: 7.3.11
- Database Driver & Version:

### Description:
This is more question then bug report (I did not know where to post for the question). So I was examining source code of thephpleague/oauth2-server and this repository, and in class AbstractGrant there is method called issueAccessToken() which tries to create new access token for

[2019-12-11 08:17] aircokol commented on #914
This helped me too (Laravel 5.5.48).
Thanks.

[2019-12-12 10:12] driesvints commented on #1140
Hey @clzola. When you attempt to open up a new issue you'll see the list below.

![Screen Shot 2019-12-12 at 11 11 33](https://user-images.githubusercontent.com/594614/70703365-48e58c80-1cd0-11ea-9539-1e9ea5f06231.png)

[2019-12-12 10:12] #1140 closed

[2019-12-12 14:21] driesvints commented on #1123
We're going to follow @Sephster here on this one, sorry.

@Sephster Thanks for the thorough review of this one.

[2019-12-12 14:21] #1123 closed

[2019-12-12 15:16] #917 closed

[2019-12-13 10:39] chrisngure2599 opened #1142 "Validation error on linux"
- Passport Version: v7.5.1
- Laravel Version: 6.4.0
- PHP Version: 7.2.0
- Database Driver & Version:

### Description:
 have a Laravel application that I built on Windows. It is an api by passport and frontend by Vuejs and on windows and works perfect. But the problem is now that it is in a Linux server when I am authenticating always returns "Unauthorized error" even though the password and user

[2019-12-13 11:07] driesvints commented on #1142
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-12-13 11:07] #1142 closed

[2019-12-19 11:40] YoussF opened #1143 "Socialite Support"
Hello everyone,

I'm building a REST api exclusively with Laravel 6, and i wanted to know if there is a plan to make Laravel Passwort to work with Socialite in the futur. I think that there is a lot of people in the world that would love to see this feature implemented in the framework without having to use other plugins to be able to achieve this.

Thanks a lot.

[2019-12-19 11:41] driesvints commented on #1143
Socialite and Passport are two very different libraries with each their own core purpose. We have no plans on making them compatible atm.

[2019-12-19 11:41] #1143 closed

[2019-12-21 06:03] DIMITA commented on #644
note that your problem was not the adequacy between laravel and passport but more your php version

[2019-12-21 15:32] sebastiaanluca commented on #14
I'm currently in the process of setting up a Laravel Passport API. Enabling UUIDs was quite trivial given the few blog posts about it, yet having a more difficult experience enabling hashed client secrets. Will share my progress and code once I have it figured out.

One thing I want to note is that you probably want to use UUIDs for your API clients (either by storing incremental IDs in your datab

[2019-12-22 16:28] sebastiaanluca commented on #14
Working WIP for hashed client secrets: #1145.

***

Not sure how to go about properly introducing UUIDs in the current setup. It'll either be:

- A breaking change without the option to upgrade (otherwise all existing APIs would have to change their IDs)
- An optional setting for those starting new projects or willing to accept the downside of upgrading existing IDs themselves (using a fresh migra

[2019-12-24 10:24] hihuangwei opened #1146 "Client_ID support random string"
Client_ID support random string

[2019-12-25 12:43] mitul69 opened #1147 "Need A way i can access same url with and without access"
Hello,

I want to call same request with or without login.

Scenario,
product/list API end point

Now i want to check if user logged in and added in bookmark  so i will put the condition in code but cant access the same end point with and without login

[2019-12-27 14:22] sebastiaanluca commented on #14
For those interested, the PR to optionally use hashed secrets has been merged: https://github.com/laravel/passport/pull/1145#event-2910811211. Will probably be available in the next (major, minor?) release.

Not planning on doing a PR to introduce UUIDs as I have no answer on the questions above and you can implement this yourself quite easily by extending the client model.

[2019-12-27 17:59] #1146 closed

[2019-12-30 10:19] wannymiarelli commented on #165
This still very relevant and, in my humble opinion, quite a complex problem to solve

[https://stackoverflow.com/questions/53678019/laravel-5-6-passport-jwt-httponly-cookie-spa-authentication-for-self-consuming](https://stackoverflow.com/questions/53678019/laravel-5-6-passport-jwt-httponly-cookie-spa-authentication-for-self-consuming)

I think is very important to find some kind of "solution" to t

[2019-12-30 14:17] driesvints commented on #1147
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-12-30 14:17] #1147 closed

[2019-12-31 10:25] javidsapand commented on #225
I get this error after calling issueToken function
Call to a member function respondToAccessTokenRequest() on null

[2020-01-02 12:29] niraj-lal-rahi opened #1153 "I would like to allow a static token for any request contain token using passport"
Sample Code from postman :

curl -X PUT \
  '{URL}/status?referrer_token=27aysoEVcFAWcqOWYv2H92gj6trR2nzl+Rdrl3i7vf4=' \
  -H 'Accept: */*' \

  -H 'Content-Type: application/json' \

  -d '{
    "order": {
        "id": 407,
        "status": "unassigned"
    }
}'

In the above code i m passing token from params but I want passport authorization allow this token from authorization Bearer token li

[2020-01-02 12:29] driesvints commented on #1153
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-01-02 12:29] #1153 closed

[2020-01-03 09:16] shouvikfullstack commented on #339
I found the correct solution in below link:
https://stackoverflow.com/questions/43318310/how-to-logout-a-user-from-api-using-laravel-passport

which has below solution:
You need to delete the token from the database table oauth_access_tokens you can do that by creating a new model like OauthAccessToken

Run the command php artisan make:model OauthAccessToken to create the model.

Then create a rel

[2020-01-05 06:39] Mehrdad-Dadkhah opened #1156 "issueToken latency"
- Passport Version: 4.0.3
- Laravel Version: 5.5.48
- PHP Version: 3.3.11
- Database Driver & Version: MariDB 10.4.8

### Description:
Sometimes ```Laravel\Passport\Http\Controllers\AccessTokenController@issueToken``` take long time to response/process.

![Screenshot-91](https://user-images.githubusercontent.com/3860685/71776219-ea47c180-2fa2-11ea-8e86-8faa205cc6a9.png)

What's the reason or probl

[2020-01-06 08:15] souravt1992 commented on #1093
While resolving this issue I have some learning so I want to share it across .

This issue is basically linked to Auth provider of Laravel i.e. while making a request from api to backend server in middle of some request there is EOF error.
For understanding this I have done debugging and gone through the documentation of Laravel and tried to interpret the scenario.
By default Laravel auth is desig

[2020-01-06 09:31] Devamit2016 commented on #613
want to generate the token without password for the third party or api using email only....

[2020-01-07 11:58] driesvints commented on #1156
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-01-07 11:58] #1156 closed

[2020-01-08 18:33] Sephster commented on #165
PKCE should be used for SPAs

[2020-01-09 15:53] nvelthorst opened #1162 "Refresh tokens invalid after upgrade."
- Passport Version: 8.2.0
- Laravel Version: 6.10.1
- PHP Version: 7.3.12
### Description:
I'm working on upgrading an application from Laravel 5.3 to Laravel 6, and it seems that refresh_tokens generated with passport 1.0 are not valid for passport 8.

### Steps To Reproduce:
I've created an OAuth app on the older version and via grant_type password I've received a refresh_token, if I try to use

[2020-01-09 15:55] driesvints commented on #1162
Upgrading from Passport 1 to Passport 8 sounds like quite a steep upgrade path. There's been many changes over the year (including to league/oauth2-server. It will be a bit impossible to determine what would have caused this.

Afaik the current implementation of access and refresh tokens works as expected.

[2020-01-09 15:55] #1162 closed

[2020-01-09 20:55] thamibn commented on #14
using uuid i am getting error when i run ``` php artisan passport:install ```

General error: 1364 Field 'id' doesn't have a default value

even after moding the boot method of AppServiceProvider.php to somethign like this

[code]

[2020-01-09 20:59] sebastiaanluca commented on #14
You're missing the setup for the `creating` event. Here's a Passport client model you can use that takes care of this for you: https://gist.github.com/sebastiaanluca/d4b5d2b5611fe9320b7ffa525c5ea0fa

[2020-01-09 21:15] thamibn commented on #14
@sebastiaanluca thanks for your quick reply so how can i create them UUIDs except using the command ``passport:install ```

[2020-01-09 21:16] thamibn commented on #14
@sebastiaanluca cause i have tried UUIDs for user tablle and it works if i sue postman however if use the command ``` db:seed ``` it generate the error of id need default value, does that mean when using commands the boot function is not triggered?

[2020-01-10 07:16] thamibn commented on #14
@sebastiaanluca i have used that model like ```Passport::useClientModel(\App\Models\Passport\Client::class); ``` but still i am getting the error?

[2020-01-10 08:27] sebastiaanluca commented on #14
I was mixing things up yesterday, sorry 😅 `Field 'id' doesn't have a default value` means that Passport wants to create a client, but there's no value for that ID field specified since the migration doesn't allow it to be nullable. Since your code seems correct (as per https://codeburst.io/laravel-passport-assigning-a-uuid-to-your-oauth-clients-211a9bbd5a6e and https://mlo.io/blog/2018/08/17/larav

[2020-01-10 09:32] thamibn commented on #14
@sebastiaanluca thanks for your help it is now working i made a mistake on the migrations and change all 'id' fields to uuid, only client_id fields needs to be uuid.

test repo https://github.com/thamibn/testrepo.git

[2020-01-10 14:46] introwit opened #1163 "No option to create a password grant token other than writing an additional http call."
[Link to current docs for reference](https://laravel.com/docs/6.x/passport#password-grant-tokens)

### Current Issue:
- Currently, to create or generate a password grant token the only option is to make an additional http call inside our project code base.
- An extra unnecessary http call inside the code base can be the source for many issues which can be easily avoided in the first place.

### Ha

[2020-01-10 14:51] driesvints commented on #1163
This has already been discussed in another issue and rejected. Please see the details here: https://github.com/laravel/passport/issues/1123

[2020-01-10 14:51] #1163 closed

[2020-01-11 03:35] socheatsok78 commented on #1006
This is great, I've been waiting for this. Either using `getAuthIdentifier` or implement `setUserResolver` and `getUserResolver` like the `Request` class implemented is also a good idea.

Anyway I'm happy for this and wait for the next release. Hopefully it will be soon.

[2020-01-12 13:08] edsel77 commented on #839
thanks for this

[2020-01-13 10:45] michaelbeers opened #1164 "Invalid grant_type error message and error code, if credentials are invalid."
- Passport Version: 8.8.8
- Laravel Version: 6.2.x
- PHP Version: 7.2.x
- Database Driver & Version: Mysql 5.7

### Description:
The `example.com/oauth/token` call is returning error code 400 instead of error code 401, like previous Laravel Passport version(s)

### Steps To Reproduce:
- Clean Laravel install.
- Clean Laravel Passport install, using the documentation (instead of the `passport:insta

[2020-01-13 12:38] driesvints commented on #1164
This was a change in league/oauth2-server. Please check their changelog.

[2020-01-13 12:38] #1164 closed

[2020-01-13 14:17] rbaaboud opened #1165 "Composer install fails with laravel/framework ^5.8"
- Passport Version: 8.2.0
- Laravel Version: 5.8.36
- PHP Version: 7.2.14
- Database Driver & Version: n/a

### Description:

I just tried to `composer require laravel/passport` and composer install failed.

Result:

[code]

### Steps To Reproduce:

Just use a very simple composer.json like this:

[code]

Thanks by advance for your feedback.

[2020-01-13 14:20] driesvints commented on #1165
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-01-13 14:20] #1165 closed

[2020-01-13 14:30] rbaaboud commented on #1165
Ooops.

My bad.

This composer.json works like a charm:

[code]

Sorry for disturbing.

[2020-01-13 17:06] no0by5 opened #1166 "Private pusher channels with a Client Credentials Grant client from Laravel Passport"
- Passport Version: 8.2.0
- Laravel Version: 6.10.1
- PHP Version: 7.2.19

### Description:
You are not able to use a private pusher channel with a passport Client Credentials Grant client.
That's because of this check in src\Illuminate\Broadcasting\Broadcasters\PusherBroadcaster.php:
[code]
The call to `isGuardedChannel(...)` returns true, because it's a private channel. The call to `retrieveUser

[2020-01-14 08:07] chrisngure2599 commented on #1142
Hello if i may ask what "this Version" means is it the php, laravel or passport?

[2020-01-14 13:00] driesvints commented on #1142
@chrisngure2599 Passport is currently at v8.x

[2020-01-14 13:11] driesvints commented on #1166
Transferred to the passport repo. Please indicate the passport version you're using.

[2020-01-15 09:03] no0by5 commented on #1166
I'm using passport version 8.2.0

[2020-01-15 12:43] driesvints commented on #1166
We unfortunately don't support Passport in combination with broadcasting. We have a dedicated JS library to work with broadcasting which you can use: https://github.com/laravel/echo

[2020-01-15 12:43] #1166 closed

[2020-01-15 18:23] raulfdias commented on #109
Hi guys.
I had the same problem, but when I copied the database settings that were in `.env` to `config/database.php` and ran the `php artisan config:cache` command it worked. I am using two applications on the same notebook, one on port 7305 and one on port 7309 using windows and xampp.

[2020-01-18 05:22] mhfuad commented on #839
thank you so much

On Sun, Jan 12, 2020 at 7:08 PM edsel77 <notifications@github.com> wrote:

[2020-01-19 03:43] camboYY opened #1167 "Package zendframework/zend-diactoros is abandoned, you should avoid using it. Use laminas/laminas-diactoros instead"
- Passport Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2020-01-20 11:42] #1167 closed

[2020-01-21 03:33] KieronWiltshire opened #1168 "Passport authorization?"
Is it possible to add custom policies/gates to certain passport routes/actions, such as creating clients etc

I want to be able to limit which users can do what

[2020-01-21 12:04] driesvints commented on #1168
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-01-21 12:04] #1168 closed

[2020-01-22 22:39] di1606 opened #1170 "Get the token access at dispatch with FormRequest"
- Passport Version: 8.1
- Laravel Version: 6.2
- PHP Version: 7.3.9
- Database Driver & Version: n/a

### Description:

I create the login using an instance of `formRequest` as a parameter, once I have validated the user's accesses, I add to the request the parameters that needs the oauth server.

however, I get an error from the server oauth:

[code]
but when I change the instance of my parameter

[2020-01-23 10:31] driesvints commented on #1170
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-01-23 10:31] #1170 closed

[2020-01-25 12:20] taifalemarat2 commented on #281
It is working for me and not working for my colleague. Its is getting on his system.

[2020-01-27 18:56] JakeBooher commented on #1167
@driesvints why was this closed?

[2020-01-27 19:06] driesvints commented on #1167
It's already fixed in the latest release

[2020-01-28 13:17] aedork commented on #1165
Hello @rbaaboud 😄

How did you fix this issue?

Did you update the version of laravel?

[2020-01-28 13:45] myischen opened #1172 "I use #71 found an error"
- Passport Version: 8.2.0
- Laravel Version:6.12.0
- PHP Version:7.4.1
- Database Driver & Version:n/a

### Description:
I use  [#71](https://github.com/laravel/passport/issues/71#issuecomment-330506407)     `sendBearerTokenResponse` I found an error. How can I change
### Steps To Reproduce:
[code]

![image](https://user-images.githubusercontent.com/29190298/73268994-eb24e980-4216-11ea-97e0-f2a5da

[2020-01-28 14:05] rbaaboud commented on #1165
Hi @aedork :)

Yes I did :)
All is ok ;)

Thanks for the feedback.

[2020-01-28 14:30] driesvints commented on #1172
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-01-28 14:30] #1172 closed

[2020-01-28 19:20] robbieaverill commented on #600
Hi team, I'd just like to say that now that password and implicit grants are considered [legacy](https://oauth2.thephpleague.com/authorization-server/which-grant/), and recommend using auth code grant with PKCE instead, I had the same confusion as this issue highlights.

Recommending password grant instead is likely not to be a solution for much longer, if at all now.

[2020-01-28 20:24] driesvints commented on #600
@robbieaverill this issue is two years old

[2020-01-28 20:25] robbieaverill commented on #600
Yes, but is now relevant again =)

[2020-01-28 22:41] adumskis opened #1173 "Migrations fails"
- Passport Version: v8.3.0
- Laravel Version: 6.13.1
- PHP Version: 7.3.14
- Database Driver & Version: MariaDB 10.4

### Description:
Migrations after fresh install fails:
`PDOException::("SQLSTATE[HY000]: General error: 1005 Can't create table db.oauth_auth_codes (errno: 150 "Foreign key constraint is incorrectly formed")")`

2016_06_01_000001_create_oauth_auth_codes_table.php contains a foreign

[2020-01-28 22:51] lloricode commented on #1173
same as mine

[2020-01-28 22:58] lloricode commented on #1173
[code]

Passport Version: v8.3.0
Laravel Version: 6.13.1
PHP Version: 7.2.26
Database Driver & Version: MySQL 5.7.28-0ubuntu0.18.04.4 - (Ubuntu)

[2020-01-28 23:18] jimmyaldape commented on #1173
Same issue

[code]

Passport Version: v8.3.0
Laravel Version: v6.13.0
PHP Version: 7.2.18
MySQL: 5.7.21

[2020-01-28 23:27] jimmyaldape commented on #1173
So looking at the migration, it looks like the order that the migrations happens is out of order.  `2016_06_01_000001_create_oauth_auth_codes_table.php` runs first then `2016_06_01_000004_create_oauth_clients_table.php` runs after a couple of migrations.

They either have to be switched or the foreign has to be added after the fact

[2020-01-29 01:15] KieronWiltshire commented on #1173
this is actually my bad, im submitting a PR to fix the issue

[2020-01-29 01:54] lloricode commented on #1173
waiting to merge and release this https://github.com/laravel/passport/pull/1174

[2020-01-29 08:15] anilcancakir commented on #1173
Temporary solution.

Publish passport migrations
[code]

Comment `up` function body in `2016_06_01_000004_create_oauth_clients_table.php` file
[code]

Add create table code to `up` function body in `2016_06_01_000001_create_oauth_auth_codes_table.php` file
[code]

[2020-01-29 09:16] lloricode commented on #1173
i think just use `v8.2.0`, and its all good

[2020-01-29 09:52] HamadAlsoghayer commented on #1173
Commit 32d5d60 caused this issue, it references an ID on a table that is not yet migrated. Fixed this by changing the order of migrations.

[2020-01-29 10:53] lloricode commented on #1173
yes, but there are already PR, that much better

[2020-01-29 12:36] VladSerebro commented on #1173
Same issue!
SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `oauth_auth_codes` add constraint `oauth_auth_codes_client_id_foreign` foreign key (`client_id`) references `oauth_clients` (`id`) on delete cascade)
So, I have resolved this problem as follows:
1. Remove strings with adding constraints from all passport migrations
2. Add all constraints to last cu

[2020-01-29 12:39] EvhenZhykov commented on #1173
The same problem!

Migrating: 2016_06_01_000001_create_oauth_auth_codes_table

   Illuminate\Database\QueryException  : SQLSTATE[HY000]: General error: 1824 Failed to open the referenced table 'oauth_clients' (SQL: alter table `oauth_auth_codes` add constraint `oauth_auth_codes_client_id_foreign` foreign key (`client_id`) references `oauth_clients` (`id`) on delete cascade)

To solve this problem,

[2020-01-29 13:27] driesvints commented on #1173
We've removed the foreign keys all together in v8.3.1. Feel free to add these in your published migrations.

[2020-01-29 13:27] #1173 closed

[2020-01-29 14:57] Mina-R-Meshriky commented on #984
I don't think that this issue should be closed, as the PKCE is only implemented for the "Authorization Grant" and is still not implemented for the password grant

[2020-01-30 13:23] MohitVisions commented on #713
My file have already 'sticky' => true but still show same error i am using laravel 6 .

[2020-01-31 06:11] mortezamoradi72 opened #1177 "Create Access and Refresh Token Without Password"
- Passport Version: 8.3
- Laravel Version: 6.13.1
- PHP Version: 7.2.1
- Database Driver & Version: mysql

### Description:
Hello i want to create access and refresh token with passport for user manually without use password , i searched and people say this message ( #71 comment) is true but problem is this comment not work in laravel 6.13.1

the error is in line 80 in file PassportToken.php that

[2020-01-31 12:17] driesvints commented on #1177
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-01-31 12:17] #1177 closed

[2020-01-31 18:34] ZayRTun commented on #1173
I am having the same problem. Amy updates?

[2020-02-01 17:12] jareerzeenam commented on #886
Thank you so much, this worked !!

[2020-02-01 20:50] LordOfDav11 opened #1178 "Generating client by command return Aborted."
- Passport Version: 8.3.1
- Laravel Version: 6.13.1
- PHP Version: 7.4.0
- Database Driver & Version:  10.4.10 MariaDB

### Description:
I want create client with PKCE feature, so I have create client by _php artisan passport:client --public_, but I'm getting:
E:\project> php artisan passport:client --public
 Which user ID should the client be assigned to?:

  Aborted.
E:\project>

I'm getting thi

[2020-02-02 21:21] LordOfDav11 commented on #1178
So I downgrated php to 7.3.12 version and commands works. Also I noticed that I always received invalid_client error status when grant_type=authorization_code and authorization informations was correct. This problem was also solved and OAuth now works fine. I hope this helps to find potential bug.

[2020-02-03 10:45] driesvints commented on #1178
I can run the above command just fine with the above versions.

[2020-02-03 10:45] #1178 closed

[2020-02-03 14:32] derekrprice opened #1179 "BC Break, 7.5 -> 8.3, laminas-diactoros?"
- Passport Version: 8.3.1
- Laravel Version: 6.9.0
- PHP Version: 7.4.0
- Database Driver & Version: MySQL

### Description:
After upgrading from passport 7.5.1 -> 8.3.1, with no other changes, a client token request crashes with this error:
[code]
### Steps To Reproduce:
1. Upgrade laravel/passport to 8.3.1.
1. Make an /oauth/token request using a client token. **_Request fails._**
1. Revert lara

[2020-02-03 14:36] derekrprice commented on #1167
I'm not sure this was ready.  See issue #1179.  It looks like there is some sort of BC break in laminas-diactoros.

[2020-02-04 03:26] matt-allan commented on #984
@Mina-R-Meshriky PKCE is a technique to mitigate the authorization code being intercepted. Because the password grant does not use an authorization code it isn’t possible to use the PKCE extension.

[2020-02-04 10:26] driesvints commented on #1179
Please open an issue on the laminas repo.

[2020-02-04 10:26] #1179 closed

[2020-02-04 14:41] derekrprice commented on #1179
Opened laminas/laminas-diactoros#34.

[2020-02-04 14:43] driesvints commented on #1179
It's best that you reformat the message to point out the BC break in laminas. Otherwise you'll issue will get closed as they'll think it being a passport issue.

[2020-02-04 14:46] derekrprice commented on #1179
I'm not sure how to do that.  The first line in the stack trace is coming out of a third party package complaining about expecting a different return value from a laminas method.  I wasn't even sure I should blame laminas and not passport or even a new version of the third party package.  That is why I opened the ticket here in the first place.

[2020-02-04 17:22] ruchisheth commented on #83
I wirte below mention code in my app/Providers/AuthServiceProvider and its working. It won't removke old token and allow me login from multiple devicess

[code]

[2020-02-04 21:23] Mina-R-Meshriky commented on #984
@matt-allan  you are right my bad the [Specification](https://tools.ietf.org/html/rfc7636) clearly states that the PKCE is for the Authorization Code Grant.

[2020-02-05 12:59] parsakafi opened #1180 "Key file permissions are not correct on windows: Key file "file://F:\\......\\oauth-private.key" permissions are not correct, recommend changing to 600 or 660 instead of 666"
Hello
I have a problem with Laravel Passport version ^7.3 on Windows 10

[code]

[code]

I checked value of $keyPathPerms variable on CryptKey.php line 53
This variable set to 666

I changed this line and worked for me
`if (in_array($keyPathPerms, ['400', '440', '600', '640', '660','666'], true) === false) `

[2020-02-05 14:00] Sephster commented on #1180
This is a user notice rather than an error. I think your script will continue to run regardless. It is intended for Linux based systems and doesn't apply to Windows. For this reason, we have a parameter on the CryptKey class which allows you to disable this check if you want. I don't think this feature has been implemented into Passport though.

[2020-02-05 14:58] errawn commented on #14
ff

[2020-02-09 09:51] kusman28 commented on #267
exactly the same problem. any solution?

[2020-02-09 19:39] SuperlativeEntity commented on #473
I know that this is an old post, but I had to make the consumer APP_KEY the same as the passport.dev app key.

[2020-02-09 20:04] SuperlativeEntity opened #1183 "Error when trying to publish Passport's Views to customize the authorization approval screen (Unable to locate publishable resources.)"
- Passport Version: 8.3.1
- Laravel Version: 6.14.0
- PHP Version: 7.2.19
- Database Driver & Version: N/A

### Description:

Error when trying to publish Passport's Views to customize the authorization approval screen (Unable to locate publishable resources.)

### Steps To Reproduce:

php artisan vendor:publish --tag=passport-views
Unable to locate publishable resources.

[2020-02-09 22:54] Ilyes512 opened #1184 "Why is publishing of the config file separated from the rest of the assets?"
- Passport Version: 8.3.1

### Description:
Is there a specific reason for the `offerPublishing`-method located @ https://github.com/laravel/passport/blob/v8.3.1/src/PassportServiceProvider.php#L300-L312

Why can't this be added with the rest of the "publishing": https://github.com/laravel/passport/blob/v8.3.1/src/PassportServiceProvider.php#L42-L56

Am I missing something and is there actually a

[2020-02-10 10:56] #1180 closed

[2020-02-10 10:57] driesvints commented on #1180
Feel free to send in a PR if you think something should be added for this to Passport.

@Sephster thanks for pitching in

[2020-02-10 11:02] driesvints commented on #1183
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-02-10 11:02] #1183 closed

[2020-02-10 11:09] driesvints commented on #1184
No real reason. Afaik it should be done in the boot method as the docs say: https://laravel.com/docs/6.x/packages#publishing-file-groups

Feel free to send in a PR if you want.

[2020-02-10 11:09] #1184 closed

[2020-02-10 11:10] Ilyes512 commented on #1184
I will! Thanks

[2020-02-10 19:12] rsdrsd opened #1185 "Is the use of a refresh token in multiple requests working correct?"
- Passport Version: 8
- Laravel Version: 6
- PHP Version: 7.4
- Database Driver & Version: mysql 5.7

When I use password grant type, the result is a short lived access_token, a refresh_token and an expires_in value.

I store the refresh token in a http only cookie.

Now I have an endpoint where I can refresh the access_token, by getting the refresh token from the cookie. For one request to this e

[2020-02-11 12:10] driesvints commented on #1185
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-02-11 12:10] #1185 closed

[2020-02-11 17:21] pjotrsavitski opened #1187 "Client_id not found when using first party client for authorisation request"
- Passport Version: 7.5.1
- Laravel Version: 5.8.34
- PHP Version: 7.3.11
- Database Driver & Version: MySQL 5.7.26

### Description:

Authorisation code grant does not seem to be allowed use with First Party clients. At least according to this:
https://github.com/laravel/passport/blob/8.x/src/Bridge/ClientRepository.php#L76

The code in Client class determines any personal access or password clie

[2020-02-12 00:56] yovchev commented on #903
Hi @Sephster I have a working example with the [laravel/passport](https://github.com/laravel/passport) that implements the device flow using this fork [device-flow-grant](https://github.com/yovchev/oauth2-server/commits/device-flow-grant) that expands on the work that you already have done with @lucadegasperi  you can see it here [yovchev/passport](https://github.com/yovchev/passport/tree/yovchev/

[2020-02-12 04:46] sokbunthean opened #1189 "error "unsupported_grant_type" please tell about that .. sir"
- Passport Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2020-02-12 04:46] #1189 closed

[2020-02-12 04:47] sokbunthean commented on #1189
Error "unsupported_grant_type" please help about that ..

[2020-02-12 04:49] sokbunthean commented on #1095
Error "unsupported_grant_type", Please help about that.

[2020-02-12 05:05] sokbunthean commented on #1019
![image](https://user-images.githubusercontent.com/55421732/74304445-97c2a780-4d8f-11ea-86f9-a0660000fa42.png)
 I'm problem with unsupport_grad_type . did anyone find?

[2020-02-12 05:05] sokbunthean commented on #1019
laravel V6 last version

[2020-02-12 07:12] prodigy7 opened #1190 "Made lifetime for auth code easy customizable"
So far I hope understand right, auth code are currently valid for 10 minutes. The OAuth 2.0 spec recommends a maximum lifetime of 10 minutes and I want set a shorter lifetime (30-60 seconds).

So far I understand, the lifetime is set here (passport/src/PassportServiceProvider.php):
[code]
When I see it right, i could change the lifetime with Passport::tokensExpireIn($value) but it would also have

[2020-02-12 09:03] carveybunt opened #1191 "How can create new api route to manage client?"
Because i just only need them data, not need them views, so I want to use a controller or a model to manage the data. This is possible?

[2020-02-12 09:54] mohavee commented on #1019
i had same problem, be sure you are sending in request header `content-type: application/x-www-form-urlencoded`

working code

[code]

[2020-02-12 11:48] GordonOtieno commented on #774
try this and let me know if it works composer require laravel/passport "4.0.*"

[2020-02-12 12:25] driesvints commented on #1187
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-02-12 12:25] #1187 closed

[2020-02-12 12:28] driesvints commented on #903
Hey @yovchev. First of all: thanks for all your work on this 👍

I think it's best that we wait until oauth2-server has merged that open pr first and tagged a new release.

The pull request for passport will depend on wether your PR introduces any breaking changes. If there are it's probably best sent to master. If not it can be sent to the current stable release branch.

I don't have much time mys

[2020-02-12 12:30] driesvints commented on #1190
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-02-12 12:30] driesvints commented on #1191
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-02-12 12:30] #1191 closed

[2020-02-12 15:36] sylouuu commented on #1125
@driesvints I'm a bit stuck here, why the merge is in the master branch since December and not inside the latest release 8.4.1?

Bests

[2020-02-12 18:55] JuanDMeGon commented on #1125
@sylouuu this will be released in the next major version (Passport 9), will be probably around the release of Laravel 7.
For now, you can use the dev-master or version 7 of Passport to avoid this issue.

[2020-02-13 07:04] pjotrsavitski commented on #1187
The issue is not present with Laravel 6.x and laravel-passport 8.4.0.

[2020-02-13 15:14] onamfc commented on #94
here is an updated gist using Passport 8 with Laravel 6 to include custom claims

[https://gist.github.com/onamfc/0422da15743918e653888441ba6226ca](https://gist.github.com/onamfc/0422da15743918e653888441ba6226ca)

[2020-02-14 06:30] prodigy7 commented on #1190
Hi driesvints,

I don't agree with you, it is not a question, it's a feature request. Currently the lifetime is set by default to 10 minutes but the oauth specification recommend 30-60 seconds (See https://www.oauth.com/oauth2-servers/authorization/the-authorization-response/) and there is no explicit way, change this auth code lifetime (Which doesn't have to mean that I may have overlooked how yo

[2020-02-14 11:36] driesvints commented on #1190
@prodigy7 it's in the docs: https://laravel.com/docs/6.x/passport#token-lifetimes

[2020-02-14 11:39] driesvints commented on #1190
Can you explain why you want these tokens to have different lifetimes?

[2020-02-14 15:04] JuanDMeGon commented on #1190
I think we have a confusion here...
@prodigy7 are you talking about the code that you use to interchange for an access token or you are talking about the access token itself?
Because the link you shared talks about the code (the one you interchange), but the code you show in your first post, is about the expiration times of the access tokens.

[2020-02-14 15:22] prodigy7 commented on #1190
@JuanDMeGon Sorry, when my descriptions was not detailed enough.

Yes, I talk about the auth code I got back when a user accept a request. The auth code, which is used by a service receive the final access token.

[2020-02-14 15:39] JuanDMeGon commented on #1190
Ok, so in that case, I am afraid it is not currently possible. It will always be 10 minutes.
here is the segment where it is established to 10 minutes: https://github.com/laravel/passport/blob/8.x/src/PassportServiceProvider.php#L158 and it seems it is not configurable.
The good news is... If you really really need this, you can just re-define the PassportServiceProvider with your own class, speci

[2020-02-14 15:57] prodigy7 commented on #1190
Sure, I can re-define the PassportServiceProvider but it's really a lot of overhead for something, should be configurable.
I would like to stay with the original code as much as possible, so that I have little effort for adjustments in later updates.

[2020-02-14 16:01] driesvints commented on #1190
We're probably not going to add this ourselves anytime soon. You're free to attempt a pr if you want. Thanks.

[2020-02-14 16:01] #1190 closed

[2020-02-14 16:17] prodigy7 commented on #1190
Sorry, but I dont understand why you close my feature request. As JuanDMeGon also wrote, it is not really a good idea generate auth code with that long lifetime. Yes, there is a "workaround" but the RFC (https://tools.ietf.org/rfc/rfc6749.txt - 4.1.2) also describes 10 minutes lifetime as maxium ("A maximum authorization code lifetime of 10 minutes is RECOMMENDED") and for security reasons it woul

[2020-02-14 17:02] Sephster commented on #1190
It's recommended that the maximum life time is ten minutes. This is what Passport has set the maximum life time to in line with that recommendation. Passport is following the default guidance. As soon as the auth code is used it is revoked in the system so the risk here is minimal.

[2020-02-14 17:07] JuanDMeGon commented on #1190
I agree with @Sephster, there is not much need to do these changes and Passport still accomplishing the standard.
Anyway, probably a PR would be easy to "solve" this, but there is no rush at all.

[2020-02-17 12:47] SuperlativeEntity opened #1196 "Authorization Code Grant with PKCE: skipsAuthorization not working"
- Passport Version: 8.4.0
- Laravel Version: 6.15.0
- PHP Version: 7.2.19
- Database Driver & Version: N/A

### Description:

Authorization Code Grant with PKCE not skipping authorization prompt

### Steps To Reproduce:

Implement custom client as indicated by documentation with skipsAuthorization

When logging in, the redirect callback still displays the authorization prompt  screen

[2020-02-17 13:35] driesvints commented on #1196
Please provide some code or an app to reproduce.

[2020-02-17 13:44] SuperlativeEntity commented on #1196
install passport as per usual

run "php artisan passport:client --public" to create an "Authorization Code Grant with PKCE Client"

Create a custom client class as mentioned in your documentation: https://laravel.com/docs/6.x/passport

`<?php

namespace App\Models\Passport;

use Laravel\Passport\Client as BaseClient;

class Client extends BaseClient
{
    /**
     * Determine if the client should

[2020-02-17 14:00] SuperlativeEntity commented on #1196
backend: https://github.com/SuperlativeEntity/laravel6api

custom client:
https://github.com/SuperlativeEntity/laravel6api/blob/master/app/OAuth/OAuthServiceProvider.php

`Passport::useClientModel(Client::class);`

https://github.com/SuperlativeEntity/laravel6api/blob/master/app/Models/Passport/Client.php

`public function skipsAuthorization()`

then run "php artisan passport:client --public" to c

[2020-02-17 15:47] driesvints commented on #1196
I can't even get the current docs example to work. Getting an infinite loop somewhere. @filipegar since you wrote the docs: are you sure it should work with just the examples in it?

[2020-02-17 15:49] Peter-Krebs commented on #1190
Creating a child class of `PassportServiceProvider` to override `buildAuthCodeGrant()` seems easy enough.

The default implementation follows the minimum advised security guidelines, however.
Setting the timeout to 10 minutes is a [magic number](https://en.wikipedia.org/wiki/Magic_number_(programming)) in the code in any case.
It should become a named constant or configuration with the RFC mention

[2020-02-17 18:49] #1196 closed

[2020-02-18 06:34] netwons commented on #162
You are trying to create Personal Access Token.

// Passport::tokensExpireIn(now()->addDays(15));
// Passport::refreshTokensExpireIn(now()->addDays(30));

# Get or set when personal access tokens expire.
`Passport::personalAccessTokensExpireIn(now()->addHour(1));`
Result :

[2020-02-18 09:26] driesvints commented on #1196
@SuperlativeEntity since you closed this: what went wrong?

[2020-02-18 16:37] netwons opened #1197 "expiretoken"
expiretoken Does not work?

[2020-02-18 16:40] #1197 closed

[2020-02-19 12:01] Haritsinh commented on #822
@driesvints this issue shouldn't be closed, why can't we just logout using Refresh Token?, i can do it in JWT already, but in passport i have to first refresh token and get access token and after that new access token i can logout, why can't i simply logout using refreshToken? please help someone.

[2020-02-20 10:02] JellyOnMa commented on #774
Hi, I've had the same problem. Here is a fix, let me know if it works for anyone.
`composer create-project laravel/laravel="5.5.*” myProject`

[2020-02-21 06:28] daqiaowijiu commented on #1177
i have same question,do you have answer?

[2020-02-22 15:51] skydev2020 commented on #1080
@apachish Did you solve the issue?

[2020-02-22 16:50] joshhornby commented on #1164
@michaelbeers Did you find this fix/change for this?

[2020-02-23 08:33] apachish commented on #1080
yes , problem my config

[2020-02-25 13:58] prodigy7 commented on #1190
Well, I can live with not being right. But I would like to understand (and learn from) why my intentions should be wrong.
I still find it inconsistent to make values configurable on the one hand, but on the other hand to overwrite them with own methods. Basically, it is the same thing, but different solutions should be applied. Personally, I think it makes sense to have a "red thread" running thro

[2020-02-25 22:07] julesgraus commented on #1178
I got the same kind of issues in an existing laravel app. I did install laravel passport on an
Laravel Framework 6.17.0 installatation using `composer require laravel/passport`. Because i want to use the Authorization Code Grant with PKCE feature, i did run `php artisan passport:client --public` after the initial setup steps like stated in the 6.x manual of laravel. And emediately after i run the

[2020-02-26 14:57] stea4lth commented on #385
I'm having same issue on Laravel 5.4

[2020-02-26 17:08] bjrnblm commented on #762
Make sure in your `config/auth.php` you have the passport guard:

[code]

Also make sure the guard name is `api` because it is [hardcoded](https://github.com/laravel/passport/blob/8.x/src/Token.php#L80).

[2020-02-29 14:27] andriiPalko commented on #914
Hey guys, all ways to fix it mentioned above didn't help in my case, so I want to share how I fixed it, what actually helped me in my case.

PHP version: 7.4.3
Laravel version: 6.16.0
Passport version: 8.4.0

In file `App/Http/Kernel.php` there is `$middlewarePriority` property. I've added middleware `EncryptCookies` to the start of this array and `CreateFreshApiToken` in the end.

Now it looks li

[2020-02-29 17:27] vijaykanaujia commented on #109
@raulfdias  thank you it's also work for me

[2020-02-29 18:08] myworkout-jenkins commented on #14
With the possibility to override the OAuthClient and allow `$keyType` and `$incrementing` to be set, is there still a reason to keep this issue open?

[2020-02-29 18:09] grEvenX commented on #14
With the possibility to override the OAuthClient and allow $keyType and $incrementing to be set, is there still a reason to keep this issue open?

[2020-03-02 19:53] albertosoho commented on #1019
I'm having the same problem. The only working solution was to downgrade to 7.5.1 version.

[2020-03-03 17:07] soheilyou commented on #839
I did like this and the problem is gone!

`php artisan optimize:clear`
`php artisan migrate:rollback`
`php artisan passport:install --forced`

[2020-03-04 01:59] hihuangwei opened #1202 "Unsupport Laravel 7.0"
- Passport Version: 8.4.0
- Laravel Version: 7.0.02
- PHP Version: 7.4.0
- Database Driver & Version: MySQL 8

### Description:
Exception
Unable to resolve PSR request. Please install symfony/psr-http-message-bridge and nyholm/psr7.

[2020-03-04 07:14] developer-ssr commented on #1202
Same issue with me :(

[2020-03-04 10:36] RomainLanz commented on #1202
It seems that the current branch (`8.x`) has the fix available.

Could we expect a release soon?

[2020-03-04 11:32] gerardnll commented on #1202
To me, this error pops up when using the `CheckClientCredentials` middleware, I guess it happens because it's creating a new `PsrHttpFactory`. Just installing `nyholm/psr7` solves temporarily the problem.

[2020-03-04 11:58] gerardnll commented on #882
Today, while updating to Laravel 7 I've noticed that when I'm trying to get the Client (Client Credentials Grant) from the request, in `TokenGuard` there's a function called `client()` which would return the Client linked to the request but that function cannot be called in any way because TokenGuard is also not accessible.

I'm interested in this functionality because I'm trying to know which oth

[2020-03-04 13:57] driesvints commented on #1202
Released v8.4.1 with the dependency changes. Thanks for reporting.

[2020-03-04 13:57] #1202 closed

[2020-03-05 04:05] matheusb-comp commented on #1166
I don't understand. The example from @no0by5 happens when using the suggested library Laravel Echo:
[code]

Since the channel is `private`, it requires [authorization](https://laravel.com/docs/5.8/broadcasting#authorizing-channels). And the authorization is supported when using any other grants with Passport. For example, if the broadcast route is [defined](https://laravel.com/docs/5.8/broadcastin

[2020-03-05 09:30] omarjebari commented on #369
Note: It is no longer best practice to use the Implicit Grant. Industry best practice recommends using the Authorization Code Grant without a client secret for native and browser-based apps.

[2020-03-05 11:43] pawel-marciniak commented on #1202
Can't update to newer version with composer, is it only me?

[2020-03-05 11:44] gerardnll commented on #1202
I had no problem updating yesterday.

[2020-03-05 12:10] pawel-marciniak commented on #1202
Strange, for new project it installs v8.4.1 but when I execute `composer show laravel/passport` in my existing project it shows `versions : * v8.4.0`, I even cleared a composer cache and still the same...

[2020-03-06 02:35] hihuangwei opened #1203 "add custom routes file, run php artisan route:cache,resource route not found page 404"
- Passport Version: 8.4.1
- Laravel Version: 7.0.4
- PHP Version: 7.4.0
- Database Driver & Version: MySQL

### Description:
add custom routes file, run php artisan route:cache,resource route not found page 404

[code]

[code]

[2020-03-06 02:53] #1203 closed

[2020-03-07 08:47] markryandelarmente commented on #1019
@mohavee It's working. Thanks

[2020-03-11 07:23] i3oyd commented on #998
I don't understand why is this not existing in laravel. This feature is just mimicking the same functionality of laravel in browser with the CSRF token and create session for guest users. The problem in mobile application is you run into cross-site restriction so you have to use the api route but it comes with another problem, it doesn't create a session. There's no way laravel knows what type of

[2020-03-11 16:19] salvationarinze commented on #532
@ghost This still didn't work for me. So frustrating

[2020-03-12 15:45] anasmorahhib commented on #94
@onamfc
It works well for me in Laravel 6.
thank you all.

[2020-03-13 00:20] sage-dev2 opened #1204 "Catch Invalid or Expired personal access tokens"
I am using personal access tokens for an API. Would like to report different error for invalid and different one for expired tokens. In Handler.php, unauthenticated function returns "Unauthenticated" for both type of errors. How can I catch them separately? Using laravel 5.8

[2020-03-13 10:23] curunoir commented on #342
Without @joelharkes additional code it means that it's the client which decides what scopes he can get when requiring access tokens. What's the point then to restrict endpoint with scopes if the client can get all the scopes he want ? Do I miss something ?

[2020-03-14 00:02] JuanDMeGon commented on #342
If you cannot trust your API clients, so you should use the "code" grant type, instead of any other (client_credentials or password grant types).
Using the "code" grant type, the user will be notified of the scopes the client is requesting and can accept or not.

[2020-03-16 09:33] driesvints commented on #1204
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-03-16 09:33] #1204 closed

[2020-03-16 09:59] curunoir commented on #342
Well I didn't knew the code grand type as I sticked to Laravel 5.8 compatible Passport package.

But still I think it is not relevant, the problem is not that I can't trust how my clients store their tokens it is more than I don't want my client to be the only one to decide which scopes it should get. And client to client use case means that maybe no user model is linked to a client.

[2020-03-16 17:15] JuanDMeGon commented on #342
Laravel Passport support multiple grant types, including the authorization code.
If you don't want your clients to decide which scopes to select, as they may use more than they need, so you cannot trust your clients and you should use authorization code instead, to give clear usage to the users, before allowing any client.
Normally, if the client is not created by you ar your team, so you probably

[2020-03-18 12:53] Megachill commented on #124
FYI this seems to be changed using latest Passport and Laravel 7. getHeaders no longer contains jti, this is moved into payload and can now be retrieved via getClaim().

package versions used are:
`
"laravel/framework": "^7.0",
"laravel/passport": "^8.0",
`
use Laravel\Passport\Token;
use Lcobucci\JWT\Parser;

$bearerToken = request()->bearerToken();
$tokenId = (new Parser())->parse($bearerToken)-

[2020-03-19 09:09] logudotcom commented on #658
It worked for me too, thanks

[2020-03-20 21:18] myckhel commented on #658
Better Option

You can make everything work fine if you configure you app/Providers/AppServiceProvider.php file like below

`use Laravel\Passport\Console\ClientCommand;
use Laravel\Passport\Console\InstallCommand;
use Laravel\Passport\Console\KeysCommand;`

`public function boot()
    {
        //
        $this->commands([
            InstallCommand::class,
            ClientCommand::class,

[2020-03-21 20:14] hamedov93 commented on #982
Very simple solution:
https://github.com/hamedov93/passport-multiauth

[2020-03-22 13:32] squareborg commented on #267
I solved this issue by using some custom artisan commands, they are now part of my project but you can grab them.

The process overview:

1. Generate oauth keys locally
2. Encrypt oauth keys with artisan command
3. Commit encrypted oauth keys.
4. Decrypt and install keys on Heroku build

https://github.com/squareborg/vendormachine-api/blob/develop/app/Console/Commands/HerokuEncryptKeys.php

https:

[2020-03-24 00:59] acm4b commented on #858
I agree. That's the purpose of the signature, there is no major advantage in using JWT if you are going to couple yourself to the database with every call.

I think the larger concern, in general, is that the coupling to the database doesn't allow Passport to be used with microservices or outside the scope of a monolithic application. Using Passport, a developer should be able to create a micro-se

[2020-03-24 01:01] acmitch commented on #858
I agree. That's the purpose of the signature, there is no major advantage in using JWT if you are going to couple yourself to the database with every call.

I think the larger concern, in general, is that the coupling to the database doesn't allow Passport to be used with microservices or outside the scope of a monolithic application. Using Passport, a developer should be able to create a micro-se

[2020-03-24 12:41] driesvints commented on #858
@acmitch we have no plans for that atm I'm afraid.

I agree with @matt-allan. The revoking of tokens functionality is crucial to Passport so closing this for now.

[2020-03-24 12:41] #858 closed

[2020-03-25 08:04] rouve opened #1206 "Getting a 403 error: The provided auth token for the request is different from the session auth token when using Laravel Passport oauth"
- Passport Version: ^8.4
- Laravel Version: ^7.0.0
- PHP Version: 7.2.5
- Database Driver & Version: Mariadb 10.4.7

### Description:
I am using Laravel 7 and I am trying to get familiar with passport oauth 2.0 implementation. I have set up everything correctly from my client site:

[code]

I did not really do much configuration to the auth server, I just included the `Passport::routes();` line in

[2020-03-26 04:03] obaid commented on #837
Is there any example of how to use PKCE in current version?

[2020-03-26 11:26] driesvints commented on #837
@obaid https://laravel.com/docs/7.x/passport#code-grant-pkce

[2020-03-26 20:13] driesvints commented on #1206
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-03-26 20:13] #1206 closed

[2020-03-27 05:46] janar153 opened #1208 "Different PSR error in 8.x versions"
- PHP 7.2.28
- Laravel 7.3.0

**Passport 8.4.0**
When generating client credentials there are following error:

`Unable to resolve PSR request. Please install symfony/psr-http-message-bridge and nyholm/psr7.`

**Passport 8.4.1 & Passport 8.4.2**
Generating client credetials works, but when making API request with middleware: **client** then there are error:

`Class 'Symfony\\Bridge\\PsrHttpMessage

[2020-03-27 06:13] janar153 commented on #1208
Please delete this issue, the problem was in my own middleware.

[2020-03-27 12:58] #1208 closed

[2020-03-27 15:08] sgflores commented on #839
This works with me.

[2020-03-30 12:40] MORSLI-13 commented on #644
install laravel passport version 7 :

Good luck

[2020-03-31 04:05] PanjiNamjaElf opened #1209 "Error Invalid Request on Consumer App use Laravel 7.x"
- Passport Version: 8.4
- Laravel Version: 7.0
- PHP Version: 7.4.4
- Database Driver & Version: SQLite

### Description:
When i set my consumer laravel app `.env` like on my laravel client app no error

But when use different env for example
`DB_CONNECTION=mysql` for consumer app and `DB_CONNECTION=sqlite` for client app and also for different `APP_KEY` i got error message like this..

[code]

It

[2020-03-31 10:23] driesvints commented on #1209
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-03-31 10:23] #1209 closed

[2020-03-31 21:26] StefanT123 opened #1210 "Authorization grant with PKCE is always throwing invalid_client error"
- Passport Version: 8.4.2
- Laravel Version: 7.3.0
- PHP Version: 7.4.4

### Description:
When you call the `oauth/authorize` route and you send the proper query as explained in the passport documentation, it always throws `invalid_client` error.

### Steps To Reproduce:
Just follow the steps in the documentation.

### The problem
Digging deeper, I found out that in `League\OAuth2\Server\Grant\Aut

[2020-04-01 17:58] nifengfanpan opened #1211 "How to generate access token By User 如何通过用户来生成令牌"
In version 7.2, the bearertokenresponse method can be used to generate tokens. However, in the latest version, after debugging compatibility for a whole day, the tokens can't be generated finally for help

But in the latest version, it's GG

在7.2版本中，可以使用BearerTokenResponse这个方法生成token，但是在最新版本中，调试了一整天的兼容，最后还是不能生成token，求助

[2020-04-02 00:30] binarygeotech commented on #982
Base on @hamedov93 's solutions, I was able to create a simpler package with lesser configuration/settings.
`https://github.com/binarygeotech/passport-booster`
Please check it out, comments are welcome.

[2020-04-02 09:37] driesvints commented on #1211
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-02 09:37] #1211 closed

[2020-04-02 13:40] driesvints commented on #1210
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-04-02 13:40] #1210 closed

[2020-04-03 18:10] gofish543 opened #1214 "Feature Request: `revoked` boolean to `revoked_at` timestamp"
I've always listened to Taylor and others discuss the benefits of using a timestamp rather than a simple boolean flag to manage a boolean state.
Example: Email verification for Laravel is done using the `email_verified_at` field rather than just `has_email_verified`

What I propose is renaming the field `revoked` to `revoked_at` (converting it from a boolean to a timestamp) and creating an accesso

[2020-04-03 18:30] gofish543 commented on #1214
That is what I am still torn about, whether the severity of the breaking change warrants the additional data.

A simple answer would be to simply set the columns already revoked to be the date the update is made, but this solution feels very naive.

A second solution would be the encoding of a 'special' date which, if encounter, acts as a "no date found, but still revoked" field.

A third solution

[2020-04-04 13:43] shafjal opened #1215 "guzzlehttp hang up my laravel app"
I am using ubuntu 18.04. When I use GuzzleHttp and send the request, my laravel program is interrupted and I will stop the server and run it again. use port 8000 or any port, laravel app hang up

[2020-04-06 08:42] driesvints commented on #1214
There's no `updated_at` column.

No actually data is confusing tbh.

Think this would be a little to far fetched to implement this.

I agree that the idea is good but it's probably not worth the breaking change. Thanks for proposing though.

[2020-04-06 08:42] #1214 closed

[2020-04-06 08:42] driesvints commented on #1215
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-06 08:42] #1215 closed

[2020-04-07 13:22] driesvints commented on #1031
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2020-04-07 13:32] meyer59 commented on #1031
Hi
I just tested again and the issue is still here and not fixed
Cordially

[2020-04-10 13:07] safiullahsarhandi commented on #982
this works for me:
`'contractor' => [
            'driver' => 'passport',
            'provider' => 'contractors',
            'hash' => true,
]`

[2020-04-11 12:51] lucadegasperi commented on #982
While I like the efforts made by both @hamedov93 and @binarygeotech I think that leaking the provider to use into the request to get an access token is not safe unless there's a check that a certain client can use that provider. The solution I use internally is to instead bind a client to a provider. You want a different provider, you use a different client. This way the request for an access toke

[2020-04-11 21:23] mehrdad517 opened #1217 "laravel passport not working on linux server"
Laravel Passport works locally on Windows properly.But by transferring to the Linux server, it doesn't work properly by creating tokens and all configurations.And it always returns error 401

[2020-04-12 15:57] PeterPan73 commented on #982
I cannot believe that almost 4 years after [SidharthRaveendran](https://github.com/laravel/passport/issues/161#issue-185785189) issue there is no official decision.
We'll have to wait maybe 4-5 more years for something to happen. I have been following the issue from time to time and see so many good solutions, but none have been triggered. Why are you waiting?
@billriess

[2020-04-12 22:28] billriess commented on #982
100% this. I utilize a similar pattern in my project. I don't think we should be opening the oauth request to determining the provider. The oauth client should be bound to the provider. As @lucadegasperi said, if you want a different provider then you use a different oauth client.

@taylorotwell @driesvints it would be nice to get some feedback on this as this problem isn't going away.

[2020-04-13 07:25] jpcaparas commented on #914
Interestingly, on my sandbox project where I'm trying out `WithFreshAPIToken`, switching over from `jQuery ajax` to `axios` fixed the issue.

I am using the CDN version of `axios`:

[code]

... and didn't set any additional headers/configs.

On `DevTools`, I checked out the difference between request headers generated by `axios` and `jQuery ajax`.

On `axios` (where I'm getting a `200`):

[code]

[2020-04-13 08:36] driesvints commented on #1217
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-13 08:36] #1217 closed

[2020-04-13 14:39] driesvints commented on #982
I think we can agree that @lucadegasperi is on the right track. Feel free to send in a PR that addresses that use case.

[2020-04-13 14:40] driesvints commented on #982
We will probably never accept a client that's in the request since that's not secure.

[2020-04-13 16:00] safiullahsarhandi commented on #982
I didn't used any other package for this issue. First when i came here in this discussion i got a solution in @hamedov93 and @binarygeotech comments. But i thought why should i install any extra dependency if there is some logical implementations which can do something for me and it works. i got a solution after identifying the behaviour of passport driver is just about to authenticate token but h

[2020-04-13 18:19] PeterPan73 commented on #982
@safiullahsarhandi great! Can you give a detailed description of how you did it step by step? Thanks.

[2020-04-13 18:19] PeterPan73 commented on #982
Can you give a detailed description of how you did it step by step? Thanks.

[2020-04-14 06:31] hamedov93 commented on #982
I read the changes made in your fork.
It looks great and complete.

[2020-04-14 07:17] safiullahsarhandi commented on #982
@PeterPan73 sure let me share some steps with you

Step 1:
in my `config/auth.php` i have following guards.

[code]

Step 2:
in my `routes/api.php` you can see my routes.

[code]

Step 3:
i have updated my models file to implement `HasApiTokens` Trait and extends Model with `Authenticatable` class intead of `Model`
[code]

Step 4:
in my ApiController which i used for users authentication and his/h