[2020-04-14 14:50] driesvints commented on #1031
I took another look at this and I'm afraid this isn't possible. The actual token model isn't used but a mock is used instead. So the token method will return a Mockery mock. And the mock is specifically set to return `false` on any call.

If you call `$user->token()` you'll get a mock back and you can set expectations on it just like in other situations with using mocks from Mockery.

[2020-04-14 14:50] #1031 closed

[2020-04-14 15:43] hamedov93 commented on #982
@billriess @lucadegasperi
It is worth noting that the token guard already picks the right provider based on the guard used for authentication.
`$this->retrieveById` will return a user for `auth:api` and an admin for `auth:admin` by default.
The next step is to check that the token was really really issued for the provider of this user.
This can be accomplished by fetching the client provider from

[2020-04-14 19:21] mgiritli opened #1218 "Add new event for when a new client is added"
I needed to have a way to act when a new client is created. So I created a new branch which adds a new event ( "ClientCreated" ) which fires when a new client is added. I thought I should create this first to have any suggestions before a pull request. This is my first ever PR, so please be kind.

My branch is here: https://github.com/mgiritli/passport

[2020-04-14 19:27] mgiritli commented on #1218
If it is acceptable, I'll add some events for when a token and client are revoked / removed. But first lets see how this goes.

[2020-04-16 06:22] krishnavala commented on #839
I did like this and the problem is gone!

php artisan optimize:clear
php artisan migrate:rollback
php artisan passport:install --forced

This is work for me thank you.

[2020-04-16 06:23] krishnavala commented on #839
This is work for me thank you.

[2020-04-16 06:43] kkevadiya797 opened #1219 "/oauth/token post method is not supproted"
- Passport Version: 8.4
- Laravel Version: 7.0
- PHP Version: 7.2.5
- Database Driver & Version: postgresql
- VueJS and Laravel-mix
### Description:
I am using a passport in login. I am calling /oauth/token for getting token

[code]
i applied this in another project that is woring fine but this is not.
what should i do?

[2020-04-16 08:27] driesvints commented on #1218
I can see that being useful yeah. Feel free to send in the PR.

[2020-04-16 08:28] driesvints commented on #1219
We don't support calling these methods in your app. Please only use HTTP requests to create tokens.

[2020-04-16 08:28] #1219 closed

[2020-04-16 12:43] lk77 commented on #1202
Hello,

is there a way to use laravel/passport 7.5.1 with laravel 7.5.x ?

[2020-04-17 07:14] billriess commented on #982
https://github.com/laravel/passport/pull/1220

I've taken another stab at implementing this, it seems like some of the tests failed although locally it seemed okay - I'll take a look at those tomorrow.

[2020-04-17 08:32] driesvints commented on #982
For anyone still interested in this feature please take a look at the pr above and provide feedback on it. Thanks.

[2020-04-17 08:32] driesvints commented on #161
For anyone still interested in the feature please take a look at the proposed PR https://github.com/laravel/passport/pull/1220 and provide feedback on it, thanks.

[2020-04-18 04:17] billriess commented on #982
I updated the PR, all tests are passing now.

[2020-04-18 09:59] dmoxyeze commented on #886
Please how did you implement this?

[2020-04-19 03:24] billriess commented on #882
You can replicate what the token guard is doing as a macro on the request. It would involve a query so it may not be the cleanest solution but it would work.

[code]

Then you can just use `$request->client()`.

[2020-04-19 16:11] Suhail-Mansoori commented on #441
This worked for me.
php artisan passport:keys

[2020-04-20 02:48] danielrangelsa commented on #559
File: config/cors.php

ADD oauth/* from paths

`'paths' => ['api/*', 'oauth/*'],`

[2020-04-20 09:16] mr-chen-king opened #1221 "If the parameters of the client callback connection are more than 'code' and 'state', what can I do? The callback connection needs to carry some business parameters"
If the parameters of the client callback connection are more than 'code' and 'state', what can I do? The callback connection needs to carry some business parameters

### original callback look like
https://****/oauth/callback?code=4edb829d6ac45a92d15f12ebc614a5073e5503ebfca29e188a15fe4734d829acac4fb6478b00617ef3fbe6d7a70530633ad0f01ef47fdd01fba34c68666c43fc43c91a05cc6eda5c5c2bdbc0674871284bdd262e0

[2020-04-20 09:25] driesvints commented on #1221
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-20 09:25] #1221 closed

[2020-04-20 13:46] driesvints commented on #909
Finally had time to look at this issue again. Thanks for clarifying so clearly @matt-allan. I've sent in a PR to the docs: https://github.com/laravel/docs/pull/5993

[2020-04-20 13:46] #909 closed

[2020-04-20 22:45] connecteev commented on #1167
@driesvints I dont think this issue has been fixed.

Running ```composer require laravel/passport```
on laravel 7
gives the following error:

```Package zendframework/zend-diactoros is abandoned, you should avoid using it. Use laminas/laminas-diactoros instead.```

All of these packages make use of zendframework/zend-diactoros:
laravel/passport
league/oauth2-server
symfony/psr-http-message-bridge

[2020-04-21 01:05] mr-chen-king commented on #1221
Thank you for your reply.
I use your plug-in in the laravel 5.6 framework. If anyone has the answer, please let me know. Thank you very much

[2020-04-21 12:50] driesvints commented on #1167
@connecteev Passport and Laravel don't use this package anymore.

Try to remove your vendor and composer.lock file and run the passport require command.

[2020-04-22 06:04] mr-chen-king opened #1223 "Add a parameter"
Can you add a parameter to enable or disable "redirect_uri" parameter detection, or only detect the "host" part of "redirect_uri", because in some scenarios, some business parameters need to be carried, and these parameters are changeable

[2020-04-22 13:07] oinpentuls opened #1224 "Call to undefined method Auth::extend"
- Passport Version: 8.4.0
- Laravel Version: 6.9.0
- PHP Version: 7.2.24
- Database Driver & Version: Postgresql 10

### Description:
Have laravel/passport fresh install, then got
` Uncaught Error: Call to undefined method Illuminate\Support\Facades\Auth::extend()
in /var/www/html/my-web/vendor/laravel/passport/src/PassportServiceProvider.php:260`

this the piece of the code from
` /var/www/html/m

[2020-04-22 15:57] m1stermanager commented on #94
if this ever does get implemented, it would be outstanding to have a way to check claims as easily as you can check scopes via middleware, helper methods etc. I got really far with @onamfc's gist (thank you so much) but needing to check the claim values in middleware and still wanting to use `Passport::actingAs` in my tests made me fallback to scopes.

Might be for the best? But I would love to ha

[2020-04-22 21:32] connecteev commented on #1167
@driesvints removing the vendor directory fixed it..thanks!

[2020-04-22 22:28] Erjavi95 opened #1225 "Obtain access token and refresh token without a http request"
Hi all, I have been researching for almost a month and I have not managed to find the way to do it and then I found this post `https://github.com/laravel/passport/issues/71 `but it turns out that the topic is closed and I cannot ask a question and i wish i could do that with laravel version 7

If anyone can straighten my way I would appreciate it

[2020-04-22 22:49] Sephster commented on #1225
If this is a requirement, OAuth is probably not the solution.

[2020-04-22 22:58] Erjavi95 commented on #1225
I am making a mobile application and I want to secure it so I am using firebase as a third-party library to do the authentication and when I register/login with the firebase interface I send the token_id to the server to check if it is valid and if it is valid store in my table the mail and the uid and now i would like to protect the other routes of my api through the laravel passport system so i

[2020-04-23 10:09] driesvints commented on #1223
No plans for this.

[2020-04-23 10:09] #1223 closed

[2020-04-23 10:22] driesvints commented on #1224
I can't reproduce this. Passport works just fine for me.

[2020-04-23 10:22] #1224 closed

[2020-04-23 10:31] oinpentuls commented on #1224
it's kinda strange. i'll try on different project, thanks.

[2020-04-23 10:40] driesvints commented on #1225
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-23 10:40] #1225 closed

[2020-04-23 16:10] diego-lipinski-de-castro commented on #1209
I ran into this issue a few times, everytime was something misconfigured, make sure all redirect uris are correct, incluing in the database, the redirect column must have the same value as the redirect_uri parameter, make sure its the correct client id and secret

[2020-04-23 17:07] felipemeddeiros commented on #267
After doing all this. I got the way that I think is better, and I think it sounds good practice because It is on [Laravel official site](https://laravel.com/docs/7.x/passport). Look to the "Deploying Passport" part of this site.

[2020-04-23 18:21] m1stermanager commented on #94
in the future i may abandon scopes for this and add in the custom claim stuff above and supply my own token model to include those claims in the DB somewhere so I can build a middleware around it that checks for a combination of feature set the user has access to and scope granted to a token? I hate that I can't just get at the claims on the token (unless i can and i don't know how). as of now the

[2020-04-24 17:05] corbosman commented on #94
We've been extending Passport to add custom claims for a while now.  We currently use a method similar to the gist a few posts up. Today I had a look if it would be possible to extract claims support into a package. I made a quick proof-of-concept. It seems to work in our Passport setup, but feel free to play with it and maybe report back on the package issue tracker.  I'd love to hear people's id

[2020-04-26 17:08] Myusuf060696 commented on #1225
i have same question,do you have answer?

[2020-04-27 00:40] imami opened #1226 "the redirect column in oauth_clients table must be nullable"
While using oracle database, with `yajra/laravel-oci8` package,
when I run `php artisan passport:client --client` to create a **client credentials grant client**
I came to following error:
`Error Message : ORA-01400: cannot insert NULL into ("OAUTH_CLIENTS"."REDIRECT")`

https://github.com/laravel/passport/blob/dd4b1d96eb1fe556a6eb2c55c942360364aa02c1/database/migrations/2016_06_01_000004_create_o

[2020-04-27 01:13] #1226 closed

[2020-04-27 01:37] hendisantika commented on #267
I have same issue.
After I follow [this link](https://stackoverflow.com/questions/49339711/heroku-and-laravel-passport). It didn't resolve also.

In fact I've got these error:
[code]

[2020-04-27 10:27] corbosman commented on #1067
@matt-allan what exactly do you want to hash?  Hashing any content from the token is not really useful,  because then you'd have to be able to provide the hashed content to laravel, which defeats the purpose. And in the passport token database there isn't much to hash.  The difference between the api guard and passport is that with passport, tokens aren't stored server-side. Only their id is.

[2020-04-27 13:43] matt-allan commented on #1067
Yeah sorry, I misunderstood what was happening. I was thinking of the League OAuth Server v4 where the token 'ID' was the actual access token used by the client. Since Passport is providing a signed JWT that isn't stored on the server we shouldn't need to hash the token IDs.

[2020-04-27 13:43] #1067 closed

[2020-04-27 18:04] erlangp commented on #267
There are no commands defined in the "passport" namespace.

i think passport service not yet loaded by laravel

[2020-04-27 18:26] erlangp commented on #267
i am sorry.. i think the problem come because of this heroku behavior: https://help.heroku.com/K1PPS2WM/why-are-my-file-uploads-missing-deleted

[2020-04-27 23:47] erlangp commented on #267
@felipemeddeiros Thanks... Docs says:

`php artisan vendor:publish --tag=passport-config`

then we can set on heroku env:
[code]

[2020-04-28 09:23] execute008 opened #1229 "/oauth/token tries to use database of laravel project sending the request"
`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'cms.oauth_clients' doesn't exist`
This error is returned when I try to call the /oauth/token route via GuzzleHttp like in the documentation.
The strange part is that "cms" is the database of the laravel project sending the request, so technically it shouldn't even know this database.

When i call the route with Postman everything works fi

[2020-04-28 09:35] driesvints commented on #1229
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-04-28 09:35] #1229 closed

[2020-04-28 10:37] jorovow opened #1230 "skipsAuthorization() causes 'invalid_client' reponse"
- Passport Version: 8.4.4
- Laravel Version: 7.4.4
- PHP Version: 7.2.5
- Database Driver & Version: 10.4.11-MariaDB

## Description:
I implemented laravel passport and try to get an `access_token` via an `authorization_code`. This works correctly. Now after I implement `skipsAuthorization()`, the response changse to `invalid_client`. On a sidenote:

### Why does the default `firstParty()` check f

[2020-04-28 10:44] jorovow commented on #1230
Oh sorry, I think some other class or method that calls `firstParty()` is thrown of by my overwrite.

I fixed my implementation by moving my additional check for `$this->id === 3` to `skipsAuthorization()` aswell.

I would still like to know why the documentation describes `skipsAuthorization()` should check `firstParty()`.

[code]

[2020-04-28 22:25] vahidahmad commented on #613
To create token without password you can use `validateForPassportPasswordGrant()`  method in `User` model, it will override credentials check,  now to work without password just return true inside the function.

[code]

[It's in the laravel docs.](url)

[2020-04-29 06:37] billriess commented on #982
Closing this issue now that this has been merged into master.

[2020-04-29 06:37] #982 closed

[2020-04-30 08:21] driesvints commented on #1230
Think this is fixed with https://github.com/laravel/passport/pull/1132 ?

[2020-04-30 08:23] driesvints commented on #161
PR for multi guard is merged on master. You all can thank @billriess for getting this in.

[2020-04-30 08:23] #161 closed

[2020-04-30 08:24] driesvints commented on #982
You all can thank @billriess for getting this in.

[2020-04-30 08:27] lucadegasperi commented on #982
Thanks @billriess amazing job!

[2020-04-30 09:19] jorovow commented on #1230
Is it?

In `Laravel\Passport\Bridge\ClientRepository` @ `handlesGrant` is checks for: `! $record->firstParty();`  in the `authorization_code` `case`.

Shouldn't it check for something like `return ! empty($record->secret);` (non-public clients)?

[code]

[2020-04-30 09:25] driesvints commented on #1230
I have no idea really. Ping @JuanDMeGon @alshf89.

[2020-04-30 10:44] paulocuambe commented on #1019
Thanks @mohavee.

[2020-04-30 10:47] #1056 closed

[2020-04-30 10:47] #1006 closed

[2020-05-02 13:00] hamedov93 commented on #982
Great work @billriess

[2020-05-02 20:12] sbarbat commented on #839
I added the route on my route/api.php
[code]

[2020-05-02 21:29] homeoftheunits opened #1232 "After save user is not unauthenticated"
- Passport Version: 8.4.4
- Laravel Version: 7.9.2
- PHP Version: 7.3.17
- Database Driver & Version: MySQL 8

### Description:
User Model belongs to another Model, so in the User Model there is an organization_id:
[code]

The other Organization Model has an HasMany Relation:
[code]
Then i have an Controller to save the new Organisation, and associate to the user:
[code]

After that, the organizat

[2020-05-03 13:57] LaravDev commented on #613
Thanks for this, but what if i want to create tokens with and without password?

[2020-05-03 18:13] amitshahc opened #1233 "support for latest guzzlehttp v7.0"
my php version on server is 7.2.30 which throws error while using guzzle 6.0. that needs to be updated to 7.0. but then there is no support for laravel/passport to this version.

[2020-05-04 08:35] driesvints commented on #1233
Guzzle 7 isn't even released yet.

[2020-05-04 08:35] #1233 closed

[2020-05-04 08:37] driesvints commented on #1232
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-05-04 08:37] #1232 closed

[2020-05-04 08:57] homeoftheunits commented on #1232
Sure, but i think it is an Bug. That's why i posted it here. This is an undocumented behavior i think.

[2020-05-04 15:51] amitshahc commented on #1233
i had upgraded it to 7.0.0-beta.1 version due to this issue. https://github.com/guzzle/guzzle/issues/2620

[2020-05-04 15:58] driesvints commented on #1233
That's not a stable release.

[2020-05-04 16:12] driesvints commented on #14
We've implemented a PR to automatically configure clients with UUID's when you set them up using the `passport:install` command. This will be in tomorrow's release.

Given the gigantic impact with making UUID's the default we'll not be reconsidering that particularly approach. At least now there'll be a native way to do this.

[2020-05-04 16:12] #14 closed

[2020-05-04 19:15] keensoen commented on #267
Worked for me.. Thank you

[2020-05-05 07:10] squareborg commented on #267
This will put your security-sensitive keys into your version control unencrypted. You should only do this if you understand but still accept the risk.

[2020-05-05 07:27] erlangp commented on #267
@squareborg I agree, the key should not be stored in the version control

[2020-05-06 00:15] denissceluiko commented on #1165
For those who are still struggling at this point - check if your other installed packages' versions are new enough for the Laravel version you're trying to install if not try updating them all at once.

[2020-05-06 09:00] gerymeli commented on #1019
@mohavee thanks It's working for me

[2020-05-06 09:45] mhabib555 opened #1243 "Laravel 7.5.2 (Passport Api) + Vuejs Error : Undefined index: aud , \vendor\laravel\passport\src\Guards\TokenGuard.php"
- Passport Version: 9.0
- Laravel Version: 7.5.2
- PHP Version: 7.4.0
- Database Driver & Version:
- Database client version: libmysql - mysqlnd 7.4.0

### Description:
I am using Laravel 7.5.2 with Vuejs. I am using passport for api authentication. I am getting the following error when sending ajax request to api

[code]

### Steps To Reproduce:

I have followed passport installation instruction

[2020-05-06 10:48] TullariS commented on #1243
Same here

[2020-05-06 11:31] MUHAMMADSiyab commented on #1243
Facing the same issue

[2020-05-06 12:21] Zae commented on #1243
Having the same issue but with laravel 6 and passport 9.

[2020-05-06 13:44] joelennon commented on #1243
I suspect it might be due to the removal of old `php-jwt` versions in this merged PR?

https://github.com/laravel/passport/commit/ceecafa6b034569cb727791b086678adf8d3ee3a

Reverting to 8.x branch resolved the issue for me.

`composer require laravel/passport:^8.0`

[2020-05-06 14:51] lcobucci commented on #1243
The problem isn't with the `sub` claim but the `aud` one. Which is being used to identify the client (while the `sub` is meant for the user). The audience is just not being configured.

[2020-05-06 15:00] lcobucci commented on #1243
Looking at the diff, [this](https://github.com/laravel/passport/compare/8.x...v9.0.0#diff-b6e03e0afee276198cebfa6dbfa4ced7R111-R114) seems to be the culprit (as it apparently assumes that `aud` claim is always there).

@driesvints do you have any idea on how can we solve this?

[2020-05-06 15:03] driesvints commented on #1243
@lcobucci your link only shows all the commits between 8.5 and 9.0. Can you link to the specific file or pr that changed this?

[2020-05-06 15:04] driesvints commented on #1243
Did everyone here read the upgrade guide and added the new provider column to the clients table?

https://github.com/laravel/passport/blob/9.x/UPGRADE.md

[2020-05-06 15:04] lcobucci commented on #1243
I've updated it already, sorry

[2020-05-06 15:10] lcobucci commented on #1243
@driesvints column is there in my case (I'm doing a clean `php artisan passport:install -n` btw)

[2020-05-06 15:19] joelennon commented on #1243
Hey @driesvints yeah this was happening for me on a fresh project, `provider` column is there.

[2020-05-06 15:46] daanh432 opened #1245 "All new clients through the JSON api are password clients"
- Passport Version: 9.0.0
- Laravel Version: 7.10.2
- PHP Version: 7.2.11
- Database Driver & Version: Mysql 5.7.19

### Description:
Newly created OAuth clients are set to be password clients.

### Steps To Reproduce:
* [Install Laravel 7](https://laravel.com/docs/7.x/installation)
* Run ``composer require laravel/ui``
* Run ``php artisan ui vue --auth``
* Run ``composer require laravel/passport`

[2020-05-06 15:49] driesvints commented on #1243
It's mentioned that people are here using vue but I don't see any vuejs install steps in the steps to reproduce. Can anyone please post *very* specific steps to replicate this?

[2020-05-06 15:52] akizor commented on #1243
Hey, I'm on a fresh install also. On version `9.0` I'm encountering the same error, while reverting to `8.5` solves it. Not using `vue` but old plain XHR request with following headers.

[code]

[2020-05-06 15:53] driesvints commented on #1243
If anyone can please post *very* specific steps to reproduce we can figure this out. Atm we can't reproduce this.

[2020-05-06 16:09] billriess commented on #1243
[code]

This may be the fix needed but I can't reproduce the error. Seeing how there is no client in case this makes sense logically but I need to verify. Can someone please give details steps as @driesvints has mentioned.

[2020-05-06 16:13] joelennon commented on #1243
In my instance I'm using React.

1. `laravel new test --auth`
2. `cd test`
3. ` composer require laravel/passport`
4. `php artisan migrate`
5. `php artisan passport:install`
6. Add `HasApiTokens` to `User` model
7. Change `api` guard to `passport` in `config/auth.php`
8. Add `Passport::routes()` to `AuthServiceProvider`
9. Add `\Laravel\Passport\Http\Middleware\CreateFreshApiToken::class` to `web`

[2020-05-06 16:39] billriess commented on #1243
Thanks, @joelennon for the detailed write-up. This was a great help in tracking this down. I have submitted a PR to resolve this. Please look at https://github.com/laravel/passport/pull/1246

[2020-05-06 16:56] #1243 closed

[2020-05-06 17:04] driesvints commented on #1243
Thanks @joelennon, that was helpful 👍

[2020-05-06 17:09] driesvints commented on #1245
Fixed in https://github.com/laravel/passport/commit/aff9d0933737354d04df98cfc431fa20309be03a

Thanks for reporting.

[2020-05-06 17:09] #1245 closed

[2020-05-06 17:14] driesvints commented on #1245
Released v9.0.1 which fixes this.

[2020-05-06 17:14] driesvints commented on #1243
Released v9.0.1 which should fix this.

[2020-05-06 18:37] lcobucci commented on #1243
Thanks everyone, fix works nicely :+1:

[2020-05-06 19:25] driesvints commented on #1243
Thanks to everyone who reported this!

[2020-05-06 21:09] mehrdad517 opened #1247 "how to using dynamic database connection with middlewere"
I removed the database connection information from the env file and database.php file.
And I set the database dynamically with each request from the client.
I do this in main middleware
[code]

I have no problem with the login and the token is created. But in other actions, I get a 401 error

[2020-05-06 21:14] mehrdad517 commented on #1247
In fact, the passport calls the connection information to the database from the env file or database.php. But we want to do this through middleware, or we can set the database information for it before checking auth: api.

[2020-05-06 21:22] mehrdad517 commented on #1247
how to override auth:api middleware?

[2020-05-07 05:51] mhabib555 commented on #1243
Thanks everyone

[2020-05-07 08:09] homeoftheunits commented on #1232
@driesvints nobody has answer to my problem, so i think it is an Bug. Please, open it that you can fix it

[2020-05-07 08:33] driesvints commented on #1247
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-05-07 08:33] #1247 closed

[2020-05-07 11:49] hihuangwei opened #1248 "Personal Access Tokens errors"
- Passport Version: 9.0.4
- Laravel Version: 7.10.1
- PHP Version: 7.4.0
- Database Driver & Version: MySQL 8

### Description:
`League\OAuth2\Server\Exception\OAuthServerException `
`Client authentication failed`

### Steps To Reproduce:
$token = $user->createToken('Token Name')->accessToken;

[2020-05-07 12:00] driesvints commented on #1248
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-05-07 12:00] #1248 closed

[2020-05-07 12:00] driesvints commented on #1248
Also: Passport 9.0.4 doesn't exists.

[2020-05-07 12:02] hihuangwei commented on #1248
error write 9.0.4
is 9.0.1

[2020-05-07 12:03] hihuangwei opened #1249 "Personal Access Tokens errors"
- Passport Version: 9.0.1
- Laravel Version: 7.10.1
- PHP Version: 7.4.0
- Database Driver & Version: MySQL 8

### Description:
`League\OAuth2\Server\Exception\OAuthServerException `
`Client authentication failed`

### Steps To Reproduce:
$token = $user->createToken('Token Name')->accessToken;

[2020-05-07 12:12] driesvints commented on #1249
Please use a support channel like I asked in the previous issue.

[2020-05-07 12:12] #1249 closed

[2020-05-07 12:53] siarheipashkevich commented on #1164
@michaelbeers did you find the solution for your problem?

[2020-05-07 17:32] aaronhuisinga opened #1250 "Unable to hash secrets on Vapor"
- Passport Version: 9.0.x
- Laravel Version: 7.x
- PHP Version: 7.4.x
- Database Driver & Version: MySQL 8

### Description:
We are currently unable to run the passport:hash command on our vapor instances due to the required confirmation interaction. If a --force flag or something similar was added to the command to override the prompts, we'd be able to migrate our existing clients to use the new

[2020-05-07 17:37] driesvints commented on #1250
Guess a force flag makes sense in this situation. Feel free to send in a PR.

[2020-05-07 18:31] aaronhuisinga opened #1252 "Unable to create personal access tokens when using hashed client secrets"
- Passport Version: 9.0.1
- Laravel Version: 7.10.3
- PHP Version: 7.4.3
- Database Driver & Version: MySQL 8.0.19

### Description:
After upgrading to Passport v9, enabling hashed client secrets (Passport::hashClientSecrets()), and running the command to hash the secrets in the database, we are unable to create Personal Access Tokens.

When using the included Vue component, we receive a 500 (Clie

[2020-05-07 19:42] vahidahmad commented on #613
Then you can put some conditions inside the function to do that.

[2020-05-07 20:23] marcosdipaolo opened #1253 "Bug editing a client with the Client.vue component"
- Passport Version: 9.0.1
- Laravel Version: 7.10.3
- PHP Version: 7.2.30
- Database: mysql 5.7.25

### Description:
When you edit a client using the `Client.vue` component and you save your changes, it gets duplicated in the client list.

### Steps To Reproduce:
On a fresh installed laravel project, install passport, publish the vue components. Once in a view with the  Client.vue` component worki

[2020-05-07 21:10] #1250 closed

[2020-05-08 00:28] antonkomarev commented on #1019
@mohavee thanks! That saved huge amount of time for me.

[2020-05-08 09:49] driesvints commented on #1253
Heya, thanks for reporting this. I've pushed a commit onto the 9.x branch and we'll do a release for this somewhere today.

[2020-05-08 09:49] #1253 closed

[2020-05-08 10:21] driesvints opened #1257 "Delete/Revoke confirmations for Vue components"
It's probably best that we implement some confirmation models when deleting/revoking clients and access tokens.

[2020-05-08 13:48] #1252 closed

[2020-05-08 13:58] driesvints commented on #1252
Hey @aaronhuisinga. We've released v9.1.0 which fixes this.

Unfortunately we weren't able to fix this without introducing a new breaking change. If you already hashed the secret of your personal access client in production you'll have to generate a new one and set its client id and secret in your `.env` file. Here's steps on how to do that: https://github.com/laravel/passport/blob/9.x/UPGRADE.md#

[2020-05-08 15:09] aaronhuisinga commented on #1252
Thanks for the fix @driesvints! Glad it was caught early, and hopefully before too many people updated to v9.

[2020-05-08 15:18] driesvints opened #1262 "Remove personalAccessClientId and personalAccessClientSecret methods"
Remove these so the developer doesn't has to set these anymore in their AppServiceProvider and just read out the values from the config.

[2020-05-08 15:20] driesvints commented on #1243
If anyone here who has upgraded to v9 already and is using the new secrets hashing, please read https://blog.laravel.com/passport-v91-breaking-changes and https://github.com/laravel/passport/issues/1252

[2020-05-08 19:35] kbellpostman commented on #1243
Ugg this cost me a lot of time earlier this week, happy to read I'm not crazy :)

[2020-05-09 05:15] marcosdipaolo commented on #1262
Actually from the docs
[code]
and according to my IDE `personalAccessClientSecret` does not exist!!??

[2020-05-09 10:41] driesvints commented on #1262
@marcosdipaolo I added those methods to the docs for v9 myself :-)

This issue is for a next major release to remove them because it's a bit of a redundant step for the end user.

Did you upgrade to v9.1.0?

[2020-05-09 12:59] antonkomarev opened #1263 "[9.x] oauth/token endpoint cannot accept requests of application/json type"
- Passport Version: 9.0.1
- Laravel Version: 7.10.3
- PHP Version: 7.4.5

### Description:

Once you have created a password grant client, and trying to request an access token by issuing a `POST` request to the `/oauth/token` route with `Content-Type: application/json` header you will get an exception that authorization grant type is not supported by the authorization server.

But it is working w

[2020-05-11 05:51] hoangngoclam commented on #1015
I have a save problem, I run "php artisan serve" and it oke

[2020-05-11 09:35] driesvints commented on #1263
You're providing `form_params` in your request which is used by `application/x-www-form-urlencoded` while telling the server that you're passing JSON (which isn't correct). You should simply pass the key/values from the `form_params` when passing JSON.

[2020-05-11 09:35] #1263 closed

[2020-05-11 09:38] driesvints commented on #1263
http://docs.guzzlephp.org/en/stable/request-options.html#json

Try this:

[code]

[2020-05-11 10:28] garbetjie commented on #908
@driesvints I know this issue is really old, but I've just been bitten by it in Passport 8.4.0.

Is there anything I can do to help get this fixed? (I'm guessing that even something as simple as changing `setRawAttributes` to `forceFill` might help)?

[2020-05-11 10:47] driesvints commented on #908
@garbetjie forceFill might do the trick here yeah. Feel free to send in a PR to master. We just released v9 so it might be a while before we can release that.

[2020-05-11 11:36] antonkomarev commented on #1263
@driesvints you are totally right.

[2020-05-11 12:29] akhmadrizki commented on #658
where the code is placed?

[2020-05-11 12:29] caugner opened #1264 "Upgrade Guide assumes Migration Customization"
- Passport Version: 8.5.0 => 9.1.0
- Laravel Version: 7.10.3
- PHP Version: 7.3.17
- Database Driver & Version: pdo_pgsql

### Description:

The [Upgrade Guide](https://github.com/laravel/passport/blob/master/UPGRADE.md) explains in the [Support For Multiple Guards](https://github.com/laravel/passport/blob/367dc447709872ba6f571d3931e9093a779794e6/UPGRADE.md#support-for-multiple-guards)  section th

[2020-05-11 13:31] baijunyao commented on #908
Do I need to do anything?

[2020-05-11 13:51] #1264 closed

[2020-05-11 13:58] driesvints commented on #1264
Thanks. We've tried clarifying that you should manually add this column when you haven't published the migrations.

[2020-05-11 14:13] caugner commented on #1264
@driesvints Thanks for the update, but unfortunately I don't think it's quite right (apart from the typos).

There are two cases:

1. The passport migrations have *not* been published yet.
2. The passport migrations have been published.

And there are two paths:

1. `artisan migrate` (to migrate deployed databases).
2. `artisan migrate:fresh` (to initialise databases, e.g. as part of testing).

Ca

[2020-05-11 14:14] caugner commented on #1264
**PS**: The only safe solution for both cases and both paths would be a conditional migration that only adds the column if it doesn't exist.

[2020-05-11 14:16] driesvints commented on #1264
@caugner have you read the actual upgrade guide? We changed it again after the pr.

[2020-05-11 14:38] caugner commented on #1264
@driesvints Indeed I had only looked at the referenced PR.

To me it seems like this suggested manual migration defeats the purpose of the migrations, but I guess there is no better solution in sight (like adding a conditional migration)?

[2020-05-11 14:40] driesvints commented on #1264
@caugner the OP of the PR should indeed have created a new migration. This is a bit unfortunate. We'll try to watch over this more carefully in the future.

[2020-05-12 00:20] odaiderawi commented on #1165
@denissceluiko  How to update them all at once time ?

[2020-05-12 09:16] denissceluiko commented on #1165
@odaiderawi, manually raise the version in composer.json, then run `composer update`.

[2020-05-12 13:49] driesvints commented on #908
This will be in the next release.

[2020-05-12 13:49] #908 closed

[2020-05-12 16:11] jamesroyston commented on #267
I think this is the best solution as it is the proposed solution via the docs. Super easy to set up too. Just add your keys to your heroku config, run the above command, and commit the new files created to master.

[2020-05-12 18:14] michaelbeers commented on #1164
@siarheipashkevich Yes i did, since it is an change in the league/oauth2-server package i changed my authentication handler in the project that was connecting my Laravel backend using Passport.

[2020-05-12 19:00] diego-lipinski-de-castro commented on #24
Example? I tested with tymondesigns/jwt-auth and could get the token to verify correctly

[2020-05-13 10:34] sajad2176 opened #1269 "update laravel passport to v 9.0 from v 8.0"
- Old Passport Version: 8.0.0
- Passport Version: 9.0.0
- Laravel Version: 6.2.0
- PHP Version: 7.2.0
- Database Driver & Version:

I have a project which has 3000 users and I update my laravel passport to v 9.0 and after this update, all of the users get the

[code]

response from api.
what should I do to reslove this problem ?

[2020-05-13 11:38] corbosman commented on #94
We are currently running the above package in production, and I know of 2 others that do as well, so I guess it's all working fine. I'll keep it updated as newer versions of Passport appear and this issue hasn't been resolved in Laravel Passport itself in some way.

[2020-05-13 12:18] driesvints commented on #1269
Did you read the upgrade guide? https://github.com/laravel/passport/blob/9.x/UPGRADE.md

[2020-05-13 12:47] sajad2176 commented on #1269
@driesvints

The project's passport version at the server is 8.0 and I create a token by logging and after that I export the db and use it in my localhost for testing . in the localhost my passport's version is up to date and I try to access the protected routes with the token which was created at the server and I get the Unauthenticated error  so it means all of my users have to login again for r

[2020-05-13 12:53] driesvints commented on #1269
You didn't read the upgrade guide correctly. You don't need to create a new personal access client. You need to place your old client secret and id in the env file. Once you hash your secrets they're irreversible gone (as mentioned several times in the guide). If you create a new client and use that secret and id then your old tokens won't work anymore.

[2020-05-13 12:55] driesvints commented on #1269
There is no such step in the upgrade guide.

[2020-05-13 12:56] sajad2176 commented on #1269
@driesvints
I read about it in laravel blog
https://blog.laravel.com/passport-v91-breaking-changes

[2020-05-13 13:11] sajad2176 commented on #1269
@driesvints
the "PASSPORT_PERSONAL_ACCESS_CLIENT_ID" is the id of client at oauth_clients table?

[2020-05-13 13:45] diego-lipinski-de-castro commented on #1071
Im falling into this issue too, laravel 7, passport 8.4, even with Passport::ignoreMigrations, the migrations are running

[2020-05-13 13:45] driesvints commented on #1269
@sajad2176 yes but it says the following:

This blog post was specifically for the v9.1.0 update and only for people who already upgraded to v9. If you're newly upgrading to v9 from now on you don't need the steps there.

Yes.

[2020-05-13 13:45] #1269 closed

[2020-05-13 20:29] corbosman opened #1270 "passport:hash command double hashes secrets"
- Passport Version: 9.2.0
- Laravel Version: 7.11.0
- PHP Version: 7.4.5
- Database Driver & Version: postgres 12.2

### Description:

Passport 9.0 introduced hashed client passwords. To help in migration an artisan command passport:hash was added.  Unfortunately this command does not work as expected.  Because 'Passport::$hashesClientSecrets' has to be on before you run it, both the command code,

[2020-05-14 08:04] achetronic commented on #94
I did an article for who that want to do this and don't know how to. Overloading some classes (less as I can). I hope this help others in the future
[The post](https://medium.com/@achetronic/par%C3%A1metros-extra-en-tu-jwt-con-laravel-passport-b1277873d364)

[2020-05-14 08:26] driesvints commented on #1270
Heya, thank you for reporting! I just pushed a commit and new release that fixes this.

[2020-05-14 08:26] #1270 closed

[2020-05-14 08:46] ifaniqbal commented on #914
Thanks @marlocorridor .

I did not expect that the source of my problem was the configuration that was being cached.

[2020-05-14 22:15] billriess opened #1272 "Limiting scopes to certain oauth_clients"
I wanted to start a discussion regarding scopes and `oauth_clients`. I've found the need in my project to limit allowable scopes per `oauth_client`. We have many first-party applications that use `client_credentials` grants. We protect our routes using the `CheckClientCredentialsForAnyScope` middleware. Since scopes are passed via request, any request could use any scope it wanted.

I've ended up

[2020-05-15 22:11] monthe-wilfried commented on #1165
i have laravel 6 installed. what i did was just a composer update and then running this command again
**composer require laravel/passport**  . Everything works fine. here is my composer.json

"laravel/framework": "^6.0",
        "laravel/passport": "^9.2",

[2020-05-15 23:23] grEvenX commented on #1053
Have the same issue, do you happen to know a workaround currently @mastacheata ?
It's currently blocking us from upgrading to Laravel 7 since we have OAuth clients that rely on these URL schemes. Example of failing URL: `myapp://oauth/callback`

[2020-05-16 14:02] mastacheata commented on #1053
You have a different problem than me:
myapp is not a valid URI scheme registered by IANA or mentioned in the Laravel URI validator.

Your URI adheres to the http(s) scheme with the colon and the double-forward-slash, but uses an incompatible name.
My problem is I have a scheme that is mentioned in the Validator, but it's not of the http(s) format (it doesn't have a double-forward-slash, which is n

[2020-05-17 03:39] hihuangwei opened #1273 "How to disable "forClients" and "forPersonalAccessTokens" routes at Passport::routes(); ?"
How to disable "forClients" and "forPersonalAccessTokens" routes at Passport::routes(); ?

[2020-05-17 12:52] yogaxv opened #1274 "cant run passport install"
- Passport Version: 9.2.1
- Lumen Version: 6.x
- PHP Version: 7.3
- Database Driver & Version:

### Description:

λ php artisan passport:install

### Steps To Reproduce:
php artisan passport:install

[2020-05-18 13:47] grEvenX commented on #1053
@mastacheata You are right, the issue for me was something completely else.

[2020-05-18 14:35] RahulDey12 commented on #982
So What should I actually do then

[2020-05-18 15:06] wdarins commented on #982
Can you please also update the docs? I've created 2 guards:

[code]
with the following providers:

[code]

now when I try to use it:
[code]
returns true even if I pass the user token. I've tries to create a new client for Admin model with the artisan command:
`php artisan passport:client --provider=admins`
but it also seems to not work as expected. It created a new client but provider field is nul

[2020-05-18 15:51] driesvints commented on #982
[code]

[2020-05-18 15:56] RahulDey12 commented on #982
@driesvints is it only creates password grant token. cuz in the personal access token provider is still `null`

[2020-05-18 19:10] billriess commented on #982
You set the provider when you create the oauth_client, it doesn't set the provider afterward. The purpose of this is to make sure only 1 provider can use the oauth_client. If you don't need this functionality you can leave it null. This is for password grants.

[2020-05-18 19:53] RahulDey12 commented on #982
@billriess is it possible to have this functionality for personal access token

[2020-05-18 20:32] wdarins commented on #982
That doesn't work for me. I'm logged in as user but Auth::guard() tells me that I'm an admin...maybe some docs on this. How can we use this to check which guard is logged in on same route handler?

[2020-05-18 22:47] billriess commented on #982
This is for password grants not personal access tokens.

[2020-05-19 02:40] khan-zia opened #1275 "passport:hash does not work. It seems to be setting the secret values back to whatever the original value is without hashing."
- Passport Version: 9.2.1
- Laravel Version: 7.11.0
- PHP Version: 7.4.3
- Database Driver & Version: MySql 8

### Description:
I am modifying this issue I created a few hours ago. Initially I thought that this was an issue if **passport::useClientModel()** is used to override the default **oauth_clients** table. But it looks like the command is setting the values of **secret** column back to thei

[2020-05-19 02:46] khan-zia opened #1276 "Passport's client secret hashing should use the main application's config for choosing hashing algorithm."
Quoting from the upgrade guide of passport from v8.0 to v9.0 **"Client secrets may now be stored using a Bcrypt hash."**, It would seem that Passport's client secret hash uses Bcrypt instead of looking up what the main application's configured hashing algorithm is. If this is the case, then this must change as so many people out there including me would wanna use **argon2 and argon2id** instead of

[2020-05-19 03:02] khan-zia commented on #1275
#Update
The passport hashing seems to be not working at all with **useClientModel()**. I have tried creating a new oauth client and the **secret** value got stored as plain text.

[2020-05-19 13:37] wdarins commented on #982
@billriess what's the use case for this?

[2020-05-20 08:53] safiullahsarhandi commented on #982
@wdarins im doing something like this

`config(['auth.guards.admins.driver'=>'session']);`

`auth('admins')->attempt(['email'=>$request->email,'password'=>$request->password])`

[2020-05-20 09:55] driesvints commented on #1275
@khan-zia the secret is already hashed in the `setSecretAttribute` mutator. Did you change the behavior of that method in your own model? Please post your overwritten model.

[2020-05-20 09:56] driesvints commented on #1274
Can't reproduce.

[2020-05-20 09:56] #1274 closed

[2020-05-20 10:07] driesvints commented on #1276
Sure. Feel free to pr.

[2020-05-20 21:06] aiman1717a commented on #1080
what was the problem in your config? i am having the same issue

[2020-05-21 02:04] andrefrlima commented on #247
I was able to change the connection by creating the **passport.php** file in the **config** folder.

`<?php

return [
    'storage' => [
        'database' => [
            'connection' => 'tenant',
        ],
    ],
];`

[2020-05-21 03:03] khan-zia commented on #1275
@driesvints Alright, my bad, I also noticed that later. I did not account for the changes in the models and that included the `setSecretAttribute` mutator. So, I guess at the end the issue actually was related to having overridden models. I am going to close this issue but I believe you should put this in the upgrade guide for v8 to v9. You can simply have a one paragraph telling people to checkou

[2020-05-21 03:03] #1275 closed

[2020-05-21 03:11] khan-zia commented on #1276
Sure. I will, over this weekend. Thanks!

[2020-05-21 08:08] joshNull commented on #94
@onamfc It worked in Laravel 5.8. Thanks! <3

[2020-05-21 11:11] driesvints commented on #1273
You can't disable these individual. If you want to disable these individual you'll have to overwrite the routes manually.

[2020-05-21 11:11] #1273 closed

[2020-05-21 11:14] hihuangwei commented on #1273
How to disable？

[2020-05-21 11:24] driesvints commented on #1273
@hihuangwei don't add the `Passport::routes()` call

[2020-05-21 11:31] hihuangwei commented on #1273
@driesvints But only partial routes is disabled.

[2020-05-21 13:20] AbdullahiAbdulkabir commented on #1243
I still can't resolve this in my case. I have a new laravel installation with the latest passport package installed.

[2020-05-21 14:54] willpercey-gb opened #1277 "Config provider not reachable in UserRepository"
https://github.com/laravel/passport/blob/0931d75235283d651b767d291a79cafba5d6ce68/src/Bridge/UserRepository.php#L35

`$clientEntity->provider` by default this seems to equate to 'users' meaning when setting up custom authorisation the config option never gets reached, is there a way to override this or is it that this is supposed to be
`$provider = config('auth.guards.api.provider') ?: $clientEnti

[2020-05-21 15:07] driesvints commented on #1277
Please repost the issue with the filled out issue template.

[2020-05-21 15:07] #1277 closed

[2020-05-22 07:52] yellenLi opened #1278 "Too many SQL requests"
Version information
laravel                 ^7.0
passport             ^9.2

![image](https://user-images.githubusercontent.com/21179164/82645653-cb8e5280-9c45-11ea-8904-06dc7f643a30.png)

file path: src/Guards/TokenGuard.php
![image](https://user-images.githubusercontent.com/21179164/82644239-908b1f80-9c43-11ea-85c8-d2ef3333e052.png)

Too many database requests, not very friendly

[2020-05-22 08:23] driesvints commented on #1278
Feel free to PR improvements here.

[2020-05-22 08:23] #1278 closed

[2020-05-24 09:40] RahulDey12 commented on #982
@billriess will it work with `CreateFreshApiToken` middleware

[2020-05-25 08:44] RahulDey12 opened #1280 "`CreateFreshApiToken` middleware not working in multi auth"
@billriess will it work with `CreateFreshApiToken` middleware

_Originally posted by @RahulDey12 in https://github.com/laravel/passport/issues/982#issuecomment-633205035_

Multi auth is not working with `CreateFreshApiToken` middleware if there is same user id it is always showing login

[2020-05-25 08:58] driesvints commented on #1280
If you use it as a route middleware you can specify the guard name on the routes you want to auth:

[code]

[code]

[2020-05-25 08:58] #1280 closed

[2020-05-25 10:40] fidelcom commented on #440
@abler98 I tried your solution but it was still returning error.
This is the error i am having
flutter: {
    "message": "Server error: `POST http://mysecureview.ng/public/oauth/token` resulted in a `500 Internal Server Error` response:\n<!DOCTYPE html><!--\n\n\nLogicException: Key path &quot;file:///mysecureview.ng (truncated...)\n",
    "exception": "GuzzleHttp\\Exception\\ServerException",

[2020-05-25 14:49] andriiPalko opened #1281 "OAuth server for API only application"
I'm trying to implement OAuth server in my application using Passport, but my application is API only. In source code, I see the dependency on session storage, but it doesn't exist for my application. Is there some way to use OAuth server for API (stateless) applications?

[2020-05-25 14:51] driesvints commented on #1281
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-05-25 14:51] #1281 closed

[2020-05-25 19:43] RahulDey12 commented on #1280
Nothing happened if there is two models with same id it is exposing one another's details

[2020-05-25 20:01] billriess commented on #1280
Can you try to explain the scenario more and the issues are you facing? Try to be specific.

The original issue I was aiming to solve was based on `Password` grants. In the `Password` grant scenario I was trying to authenticate a specific user "type" (provider) to a `Passport\Client`.  The PR that was merged achieves exactly this. The PR sat open for a while and encouraged additional input but not

[2020-05-25 20:05] RahulDey12 commented on #1280
https://github.com/laravel/passport/blob/0931d75235283d651b767d291a79cafba5d6ce68/src/ApiTokenCookieFactory.php#L74-L82

In this section, nothing is verifying the provider

[2020-05-25 20:09] RahulDey12 commented on #1280
Ok, So this feature is also important for consuming own javascript api

[2020-05-25 21:00] billriess commented on #1280
Check https://github.com/laravel/passport/pull/1282

If you can, try testing this locally and let me know if it works. Comment in the PR your findings. This will help get this pushed.

[2020-05-26 13:48] zeetabit commented on #247
@

Only on versions after May 9 2020 ;)
details here https://github.com/laravel/passport/commit/555e02c212022393888cbd4e902b327e9ec9ad7a#diff-021d6ca3cab77674d7a33ed636455154

[2020-05-26 13:50] #1276 closed

[2020-05-26 19:50] kuhlaid opened #1286 "The "--uuids" option does not exist"
- Passport Version: ^8.4
- Laravel Version: ^7.0
- PHP Version: 7.3.9
- Database Driver & Version: SQL Server v14

### Description:
https://laravel.com/docs/7.x/passport#client-uuids says to use the following command to use UUID with passport
``` php artisan passport:install --uuids```
...however running this produces the error: ```The "--uuids" option does not exist.```
Is the documentation incor

[2020-05-26 20:17] driesvints commented on #1286
This is only available on Passport 9 and higher.

[2020-05-26 20:17] #1286 closed

[2020-05-26 20:30] kuhlaid commented on #1286
Thanks. I updated to v9.2.1 and the command worked as advertised.

[2020-05-27 00:46] aadriantech commented on #839
This worked for me too! When you generate access_tokens via client credentials, eg: email and password

Set middleware to client_credentials and remove auth:api
Route::group(['middleware' => 'client_credentials'], function () {
// routes
}

// Add this to Http/Kernel.php $routeMiddleware array
/* other middlewares ... */
'client_credentials' => \Laravel\Passport\Http\Middleware\CheckClientCredenti

[2020-05-27 06:50] SnakeO commented on #1019
Careful if you're testing in Postman that you're setting the variables in the BODY tab and not the PARAMS tab

[2020-05-27 11:59] Siebov commented on #1061
@driesvints are you planing to implement this fix in your versions?

[2020-05-27 12:15] hotmeteor commented on #1269
I have to admit, the instructions are not clear. I'm looking at upgrading from 8.x and I'm not certain if I need to create a new client or set those environment variables. In the migration guide it reads that you only need to do it if you intend to implement hashing, which I do not. But in the docs it reads like you need it if you use personal access tokens at all.

Can the upgrade steps from 8.x

[2020-05-27 13:18] driesvints commented on #1269
@hotmeteor not sure what isn't clear. Feel free to send in a PR if you want.

[2020-06-01 14:56] procodingtools opened #1289 "Scope issue "message": "in_array() expects parameter 2 to be array, null given""
- Passport Version: 9.2
- Laravel Version: 7.13.0
- PHP Version: 7.2
- Database Driver & Version:  MySQL

### Description:

Hi.

Any solution for this?

[code]

My Route is:

[code]

Scopes definition in AuthServiceProvider:

[code]

Token affectation in AuthController:

[code]

And thanks.

[2020-06-01 15:03] driesvints commented on #1289
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-06-01 15:03] #1289 closed

[2020-06-02 18:51] Exotelis commented on #94
Tested it with laravel 7.10.x and laravel passport 8.5.0 and it is working. Great job. Thanks a lot :)
However, this should be supported by default!

[2020-06-03 09:12] corbosman commented on #94
I don't expect laravel to support this anytime soon, mostly because the league-server package does not really allow for an easy way to do this. Laravel probably does not want to overwrite league trait methods like we're forced to do. There's also plenty of issues about this on the league repo.  For now my package gives people a really easy way to add claims to passport JWTs.

[2020-06-03 09:59] rahulfl commented on #1274
facing same issue.
Lumen: 7.x
Passport: 9.2.1
PHP 7.3.5

Description
when running php artisan passport:install
getting error
[code]

[2020-06-03 17:09] sumatoreo commented on #585
My solution
https://packagist.org/packages/sumatoreo/multi-passport

[2020-06-04 03:59] 0plus1 commented on #382
I am currently running a large scale application and this has a severe performance impact as they are all single transactions against the DB.. ended up writing my own TokenRepository to curb this issue. While I agree this isn't a bug, it's a deal breaker on large scale applications.

[2020-06-05 08:32] AjayYadavGBI commented on #131
sfsdfsdfsdf

[2020-06-05 12:03] devaloza commented on #1274
You need to modify bootstrap/app.php file
Please remove comment from following lines:
$app->withFacades();

$app->withEloquent();

$app->routeMiddleware([
     'auth' => App\Http\Middleware\Authenticate::class,
]);
$app->register(App\Providers\AppServiceProvider::class);
$app->register(App\Providers\AuthServiceProvider::class);
$app->register(App\Providers\EventServiceProvider::class);

And regist

[2020-06-06 05:03] alditis opened #1293 "Allow redirect url pattern"
I configured my whitelist in `oauth_clients.redirect` in this way:
http://jhon.myappclient.com/user/login.json,
http://peter.myappclient.com/user/login.json,
http://susan.myappclient.com/user/login.json

Optionally it could be established as a pattern similar to:
http://**{username}**.myappclient.com/login.json ?

Thanks.

[2020-06-06 07:11] Sephster commented on #1293
You should always use specific redirect urls and not patterns. The latest best practice oauth 2 rfc advises against pattern matching for redirects

[2020-06-06 07:59] alditis commented on #1293
Thanks for the reply.
So every time I create a new user (For example: **paul**),
Should I concatenate his url with a comma (,http://paul.myappclient.com/user/login.json) in `oauth_clients.redirect` or should I create a new client in `oauth_clients`?

[2020-06-06 12:38] taftse commented on #382
@0plus1 how about sharing how you solved it or sending a pull request

[2020-06-06 15:46] driesvints commented on #1293
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-06-06 15:46] #1293 closed

[2020-06-08 21:09] Sephster commented on #1293
It depends on the role of your client. If the client is always the same website for example, then just add a new URL to the approved list. I think it would be fine to do that. Hope that helps!

[2020-06-09 02:40] overtrue commented on #382
@taftse I create a package: https://github.com/overtrue/laravel-passport-cache-token

[2020-06-09 16:58] meyer59 commented on #1031
For people searching for the solution here it is:

`$user->token()->shouldReceive('getAttribute')->with('expires_at')->andReturn(Passport::$tokensExpireAt);`
This should set the `$user->expires_at` to `Passport::tokensExpireIn(...);`

[2020-06-09 19:47] darrencoutts118 commented on #903
@yovchev - Have you submitted a PR to oauth2-server? I'm interested in seeing this making it into production

[2020-06-10 01:10] anyforever commented on #763
I want to Create Access and Refresh Token Without Password

[2020-06-11 00:49] anyforever commented on #763
Thx very much!
I found this : https://github.com/kslimani/laravel-passport-grant
perfect for me

[2020-06-11 10:25] yelnyaface opened #1295 "Parse error: syntax error, unexpected 'function' (T_FUNCTION), expecting identifier (T_STRING) or \\ (T_NS_SEPARATOR) in /example/vendor/zendframework/zend-diactoros/src/functions/marshal_headers_from_sapi.php on line 10"
- Passport Version: ^4.0
- Laravel Version: >=5.5
- PHP Version: 7.2
- Database Driver & Version: libmysql - 5.6.43

Every once a few weeks this error:
[code]
will surface, and everytime I am use `composer update larave/passport` to fix it, but it will still keep returning, why is this keep happening? and there is like NO post about this here and any laravel related sites about this

### Steps To

[2020-06-11 11:30] driesvints commented on #1295
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-06-11 11:30] #1295 closed

[2020-06-11 16:52] zhovtyj commented on #763
Yes, looks good!

чт, 11 черв. 2020 о 03:49 anyforever <notifications@github.com> пише:

[2020-06-12 10:06] mxsxs2 opened #1296 "Passport connection defaults to not existing database"
- Passport Version: 9.2.1
- Laravel Version: 7.15
- PHP Version: 7.4
- Database Driver & Version: 8

### Description:
The default database connection defaults to _mysql_ connection even when the default is set to something else in _config/databases.php_ and do not have a connection named _mysql_.

This crashed my app after updating from v8 to v9. The upgrade guide does not mention this change.

##

[2020-06-12 15:20] Miljan9602 commented on #382
This bug still happens... Laravel: v7.14.1 and Passport: v8.5.0

[2020-06-12 15:24] driesvints commented on #382
I'm gonna close this to prevent more "this is still a bug" comments. Welcoming prs.

[2020-06-12 18:40] driesvints commented on #1296
Just export the config file and set the default of the storage connection.

[2020-06-12 18:40] #1296 closed

[2020-06-13 16:33] ReArmedHalo commented on #1272
Maybe I'm misunderstanding, but what is the goal of this? Without testing this myself are you saying a resource can use a scope that wasn't granted to it? Or are you trying to prevent certain clients from requesting some scopes as they are considered "internal use only"?

[2020-06-13 20:20] billriess commented on #1272
@ReArmedHalo More of the latter. My application has many first-party "apps" used by various devices. So I had the need to make sure one specific app could not request a scope that it didn't need. I did this by setting an array of `allowed_scopes` to the `oauth_client` and ensuring that when an access token is granted for that client that it could not request tokens outside of the `allowed_scopes`.

[2020-06-13 20:47] ReArmedHalo commented on #1272
@billriess oh okay, so you have a scope that you don't want a third party developer to be able to request when asking for an access token? I'm guessing your flow for third party developers is how some services will have you select the scopes during application creation and then you can't ask for anything more than those? That way you can manually add "internal" scopes to "trusted" clients.

If I a

[2020-06-13 21:22] billriess commented on #1272
So in my case, we don't really have any third-party applications. Our business is around public transportation and parking. We have apps and devices (parking meters, bus validators, ticket vending machines, etc) deployed in various cities that all interact with our backend.

We are using Passport's `CheckForAnyScope::class` middleware to ensure the token has the scope needed.

This change helps us

[2020-06-14 08:07] sammak1432 commented on #839
@aadriantech Awesome. Life-saving solution. Worked for me
I seen lots and lots of stuff but never find this.
Can you tell me where did you find this?

[2020-06-15 02:39] alditis commented on #1293
Thanks for you comment.
Every time a user registers, a subdomain will be created. So I thought about handling a pattern, but as indicated by oauth2 rfc, it is not a good practice. I think I will just create a client and add the created subdomains to the list.

[2020-06-15 05:26] darshanadaptit opened #1297 "Bind client IP address with token and validate that."
I am trying to customise your code to bind access token with specific IP and allow to respond if a request comes with same IP and access token else response 403 or 405 but not able to get success is there any way I can achieve this

[2020-06-15 07:44] Shamzic commented on #613
You can't put conditions here because the only field you can access here is the password

[2020-06-15 08:01] vahidahmad commented on #613
You have access to `$this`!

[2020-06-15 08:16] driesvints commented on #1297
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-06-15 08:16] #1297 closed

[2020-06-15 08:27] damku999 commented on #1297
Thank you so much for your guideline I will try to achieve this using Chanel you gave me above.

[2020-06-15 21:32] Sephster commented on #1272
Can the users not decide what the client has access to? This is already built into OAuth. Who would be setting the restrictions on the client in the proposal above?

[2020-06-16 17:22] rgdigital commented on #76
`php artisan config:cache` fixed it for me in 2020

[2020-06-17 12:43] andrefigueira commented on #1248
@hihuangwei experiencing the same issue, did you find a solution anywhere? I've asked in Laracasts forum.

[2020-06-18 12:32] Anoob007 opened #1298 "Error: Call to undefined method stdClass::createToken()"
- Passport Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2020-06-18 12:34] #1298 closed

[2020-06-18 15:00] particleflux opened #1299 "Client name validator uses hardcoded length"
- Passport Version: 7.5.1 (but seems to be still present in current master)
- Laravel Version: 5.8.7 (though it should be still present with v7)
- PHP Version: 7.2.29
- Database Driver & Version: MySql 5.7

### Description:

On creation or updating of a client via `Laravel\Passport\Http\Controllers\ClientController`, the `name` parameter is validated with a hardcoded maximum length of `255`. This

[2020-06-18 19:20] gamefia commented on #221
This worked for me.

[2020-06-19 09:32] driesvints commented on #1299
Thanks for reporting. I sent in a PR here: https://github.com/laravel/passport/pull/1300

[2020-06-19 13:40] #1299 closed

[2020-06-19 14:36] spore2102 opened #1301 "Client's authentication always fails when I try to convert authorization code to access token"
- Passport Version: "^9.2"
- Laravel Version: "^7.0"
- PHP Version: "^7.2.5"
- Database Driver & Version: MySQL 8.0

### Description:
Client's authentication always fails when I try to convert authorization code to access token.
I get this in response, though client's ID, redirect and secret are correct.

`
{ "error":"invalid_client",
  "error_description":"Client authentication failed",
  "messag

[2020-06-19 14:37] driesvints commented on #1301
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-06-19 14:37] #1301 closed

[2020-06-22 10:11] anyAdmin opened #1302 "v9.2.1 get access_token is ok,but dd(Auth::guard('admin')->check()) is false"
- Passport Version: 9.2.1
- Laravel Version: 7.16.1php
- PHP Version: 7.4.3

### Description:
when I use the passport v8.5.0,I can get the access_token and the auth info，all is ok
but when I change on v9.2.1,
I can get the access_token not auth info
dd(Auth::guard('admin')->check()) is false

[2020-06-22 11:01] driesvints commented on #1302
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-06-22 11:01] #1302 closed

[2020-06-23 14:32] borgogelli commented on #984
@matt-allan , please could you give us some clarifications ?
Is it possibile with Passport v9 to implement a password grant flow without the client secret ?
If yes, what values should I use for _client_secret_ and _client_id_ in my rest api call ?
Thank you in advance

[2020-06-23 14:44] matt-allan commented on #984
Yes, as far as I know this should work as indicated by the tests.

You need to create a 'public' client, either via the console command (`php artisan passport:client --public`) or the UI (don't check the confidential checkbox).

After doing that you would pass the client_id Passport provides you and you would not pass a client_secret in your rest API call.

That being said, I would strongly recomm

[2020-06-23 20:59] WarcraftLogs opened #1303 "Add configurable maximum number of allowable oauth clients"
I run the site https://www.warcraftlogs.com/ and this site has an API powered by Laravel Passport. The site got taken out today by a DDOS where a user created an infinite number of oauth clients. I had assumed there would actually be a cap in the passport implementation.

I am filing an enhancement request to have a configurable cap on allowed oauth clients as part of passport's configuration opti

[2020-06-23 22:09] WarcraftLogs commented on #1303
Or at the very least throttle client creation by default.

[2020-06-24 07:47] driesvints commented on #1303
This would be a user land implementation.

[2020-06-24 07:47] #1303 closed

[2020-06-24 14:39] andela-tolotin opened #1304 "I did the following to fix the installation at the moment:"
I did the following to fix the installation at the moment:

    composer require paragonie/random_compat:2.*
    composer require laravel/passport "4.0.*"

_Originally posted by @abdes-zakari in https://github.com/laravel/passport/issues/631#issuecomment-455298757_

[2020-06-25 02:11] clunkylion commented on #522
Hello, I need help, I have the same problem, I am already stressed :(  !!
How did they solve it?

[2020-06-25 02:11] JonathanGuo opened #1305 "UserRepository doesn't respect the provider's retrieveByCredentials method"
- Passport Version: 9.2.1
- Laravel Version: 7.17.1
- PHP Version: 7.4.4
- Database Driver & Version: PostgreSQL 11.3

### Description:

In the repository's `Laravel\Passport\Bridge\UserRepository@getUserEntityByUserCredentials` method, it loads the provider to resolve the user model class, but it doesn't use the `retrieveByCredentials` method.

This causes the issue when developers have custom au

[2020-06-25 03:12] Anoob007 opened #1306 "{ "error": "invalid_grant", "error_description": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.", "hint": "", "message": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client." }"
{
    "error": "invalid_grant",
    "error_description": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.",
    "hint": "",
    "message": "The provided authorization grant (e.g., authorization code, resource o

[2020-06-25 08:51] driesvints commented on #1306
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-06-25 08:51] #1306 closed

[2020-06-25 12:50] driesvints commented on #1305
I can maybe indeed see an opportunity for `retrieveByCredentials` but that would be a breaking change. Given that you can easily solve this atm by implementing `findForPassport` I don't think it's necessary to change this. You're free however to attempt a PR at master to see if Taylor would accept it.

[2020-06-25 12:50] #1305 closed

[2020-06-26 00:18] AlbinoDrought commented on #1264
If anyone else needs it, here is the migration I am using to go from v8 to v9: (postgres)

[code]

[2020-06-26 21:29] Exotelis opened #1309 "Do not overwrite the authorization header"
Hi,

in the TokenGuard the authorization header will be overwritten when the authentication request was invalid

https://github.com/laravel/passport/blob/7ddaa0fa6ff5c100cf755bf85d86886e0edcb0e8/src/Guards/TokenGuard.php#L208

This actually makes sense, if the token does not exist in the database. From my point of view it doesn't make sense if the token is either expired or has been revoked.

In m

[2020-06-26 22:29] Exotelis commented on #1309
https://github.com/laravel/passport/issues/632

Explains why it has been added.

[2020-06-27 10:21] ranjeetbgs commented on #20
create a new client and use it

[2020-06-27 10:22] ranjeetbgs commented on #221
create a new client

[2020-06-27 11:50] #1309 closed

[2020-06-27 12:09] Exotelis commented on #1309
Is there a reason for closing this issue?

[2020-06-27 12:12] driesvints commented on #1309
@Exotelis I thought you found the reason above?

[2020-06-27 12:20] Exotelis commented on #1309
@driesvints I found the reason why it was added, but I think that overwriting the header is a very bad way to fix this bug.

[2020-06-27 12:23] driesvints commented on #1309
@Exotelis can you pr an alternative fix?

[2020-06-27 12:41] Exotelis commented on #1309
@driesvints

The only fix I have in mind would be in the https://github.com/laravel/framework/blob/master/src/Illuminate/Foundation/Exceptions/Handler.php#L172

I could add a parameter to the context mehtod `protected function shouldntReport(Exception $e = null)` and inside the try catch I could add a if condition:
[code]

[2020-06-27 16:32] riyaz7us commented on #839
None of these solutions worked (using laravel 7.0 and passport 9.2). Tried composer dump-autoload, optimize:clear, passport:keys --forced, passport:install --forced, Passport::withoutCookieSerialization(). Last thing I saw was this error logged:

[code]

The error faded away when I used this method, but the problem persisted:

Sadly, I may have to switch back to tymon/jwt for the time being.

[2020-06-29 00:41] Leleking commented on #87
I might be late here but I faced the same problem when I created my own personal access token thus creating my own login method. Even though I was getting an access token the user was still not logged in. I solved it with `Auth::attempt( $login_credentials)`

        $login = $request->validate([
            'email' => 'required|email',
            'password' => 'required'
        ]);
        if(

[2020-06-29 08:09] ganeshbala2008 commented on #1306
@Anoob007
Hi,
    This works for me
[code]

[2020-06-29 15:13] driesvints commented on #1309
@Exotelis since we've never had any problems with this and this is the first time someone reported this I'm not too sure about changing things now sorry. If we get more requests for this we might reconsider.

[2020-06-29 15:43] Exotelis commented on #1309
@driesvints I guess it should not be a matter of how many requests this change gets. From my perspective it's not a very good practice that a third party library, which laravel-passport is in many projects, clears a header that is still going through the middleware stack. I just stumpled over this, because I wanted to print the authorization header and was wondering why it is empty. It took me ove

[2020-06-29 15:51] driesvints commented on #1309
@Exotelis in that case feel free to attempt a PR to see if Taylor wants to accept it.

[2020-06-30 07:37] C-Collamar opened #1310 "Token revocation not following the OAuth 2.0 spec"
Hi! I'm trying to connect my password-grant client to my Passport-enabled server. For that, I use a [client library][1] that happens to strictly follow the 2.0 spec. Everything's doing well up until I try to revoke the access token. It seems it requires my authorization server to follow the standard on [revoking tokens][2].

Does Passport have a way for dealing with this that I'm not aware of? I d

[2020-06-30 10:33] driesvints commented on #1310
We'll need a lot more info here. How are you revoking them? What's happening? What are you expecting to happen? Please share some code.

[2020-07-02 05:15] C-Collamar commented on #1310
To revoke a token according to the spec, the client must `POST` to the revocation endpoint an `application/x-www-form-urlencoded`-formatted body containing a `token` and an optional `token_type_hint`.

As far as I know, here's how the Passport API allows revoking of access tokens:
[code]

If it were spec-compliant which I was hoping for, it should look like this more or less:
[code]

[2020-07-02 09:52] Sephster commented on #1310
This spec isn't in oauth server yet but is on the cards. Device code grant first, then this

[2020-07-02 10:10] driesvints commented on #1310
Gonna markt this as a feature request then and wait for oauth2 server to implement it first. Thanks @Sephster!

[2020-07-02 22:36] MarekNguyen commented on #267
Thank god, It saves my life!!!!

[2020-07-03 12:11] driesvints commented on #1138
Gonna close this since we only received one request for this. You're still free to attempt a pr if you want.

[2020-07-03 12:11] #1138 closed

[2020-07-03 20:50] dylanBcp opened #1312 "Client ID is used on id column in oauth_client table"
### Env
Local
PHP 7.4
Laravel 7.0
Passport 9.3_

### Issue
Hi everybody,

I have an issue with passport when i use the command `php artisan passport:install`.

It return an **Integrity constraint violation** because it use the **client_id** to fill the **id** column of **oauth_client** table.

[code]

Do you know why this happen ?

Thanks a lot for your response
Dylan

[2020-07-04 11:43] dylanBcp commented on #1312
I think the problem comes with the usage of uuids client_id and my migration. Actually, the id column is create with bigIncrements. So, it doesn't match with the uuid client_id. What's the  type of "id" column if i use the uuid client_id ?

[2020-07-04 11:48] dylanBcp commented on #1312
My problem was fixed !

Delete the migrations generate by Passport and run `php artisan passport:install --force --uuids`

All done, **id** column is set to char(36)

[2020-07-04 11:48] #1312 closed

[2020-07-04 14:03] PetarCehoo commented on #1019
In my case i had to register the provider in config/app.php file and then it returned the access token

[2020-07-06 07:57] sajad2176 opened #1313 "createToken makes a duplicate query"
- Passport Version: 9.3
- Laravel Version: 7.0
- PHP Version: 7.2.5
- Database Driver & Version:

### Description:

createToken() method  makes a duplicate query

### Steps To Reproduce:

![image](https://user-images.githubusercontent.com/42096679/86569456-afd7d500-bf83-11ea-837a-d1620c758317.png)

[2020-07-06 09:31] driesvints commented on #1313
Probably a duplicate of https://github.com/laravel/passport/issues/382

[2020-07-06 09:31] #1313 closed

[2020-07-09 06:46] it-one-mm commented on #585
can you share the example project implementing it?

[2020-07-09 20:46] jorgeeferreyra commented on #336
Any update on this?

[2020-07-10 09:29] chungnq253 opened #1315 "DiactorosFactory not found in psr-http-message-bridge v2"
Symfony\Component\Debug\Exception\FatalThrowableError: Class 'Symfony\Bridge\PsrHttpMessage\Factory\DiactorosFactory' not found in file vendor/laravel/framework/src/Illuminate/Routing/RoutingServiceProvider.php on line 132

[source - psr-http-message-bridge](https://github.com/symfony/psr-http-message-bridge/tree/master/Factory)

- Passport Version: 9.3
- Laravel Version: 6.2
- PHP Version: 7.2
-

[2020-07-10 09:32] huynhan147 commented on #1315
Me too

[2020-07-10 10:08] socheat1994 commented on #768
Hey!. How can you add value to device_id column?.

[2020-07-10 12:20] driesvints commented on #1315
Update your laravel version to the latest 6.x release.

[2020-07-10 12:20] #1315 closed

[2020-07-10 12:20] driesvints commented on #768
@socheat1994 try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&prompt=1)

[2020-07-10 12:20] #768 closed

[2020-07-15 08:48] Abdulla1995 opened #1317 "After remigration keys not usable"
- Passport Version: "laravel/passport": "^9.3",
- Laravel Version:  "laravel/framework": "^7.0",
- PHP Version: "php": "^7.2.5",
- Database Driver & Version: MYSQL 8.0.15

### Description:
I have used [this article](https://dev.to/stefant123/secure-authentication-in-nuxt-spa-with-laravel-as-back-end-19a9) to create fresh API with laravel-passport. After installation I have successfully registered

[2020-07-15 16:39] irvv17 commented on #267
where  can I obtain the private key here?
or whats is the value for PASSPORT_PRIVATE_KEY and  PASSPORT_PUBLIC_KEY ?

[2020-07-15 16:42] felipemeddeiros commented on #267
You need to run "passport:install" to get this keys.

[2020-07-16 02:36] erlangp commented on #267
@irvv17 generate locally using `php artisan passport:keys`
then open folder `storage`, find file `oauth-private.key` and `oauth-public.key`,
open it using any text editor

in terminal/cmd project folder
run:
heroku config:set PASSPORT_PRIVATE_KEY=pasteprivatekeyhere
enter
heroku config:set PASSPORT_PUBLIC_KEY=pastepublickeyhere
enter

[2020-07-16 03:45] irvv17 commented on #267
Thank you... sorry, noob with APIS in Laravel and deploying in heroku.

[2020-07-16 15:44] driesvints commented on #1317
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-07-16 15:44] #1317 closed

[2020-07-19 03:08] AhmedSaleh0 commented on #914
in my case the problem was in the routes/api.php file,

I used
`Route::group(['middleware' => ['auth']], function()`
and after spending a 15 hours changing everything and even installing a fresh version,
I changed it to
`Route::middleware('auth:api')->group(function ()`
and it just worked

[2020-07-20 22:27] wannymiarelli commented on #247
Lost the past 2 hours with this :D I have a multi-tenant & multi-database laravel application. I used to create my own Passport Models setting the connection variable to the tenant one

[code]

For some reason, the connection is ignored. To fix this I had to publish the config file changing the connection value to 'tenant'. Is this excepted behaviour?

[2020-07-21 12:23] hans-w opened #1320 "It's possible to retrieve a client credentials token from a password credentials client record."
- Passport Version: 9.3.0
- Laravel Version: 6.11.0
- PHP Version: 7.2.29
- Database Driver & Version: MySQL 5.7

### Description:

It's possible to retrieve a client credentials authorization token using a password credentials client record.

### Steps To Reproduce:

Make a post request to the _token_ endpoint with the _grant_type_ body parameter set to client_credentials, using the _client_id_ a

[2020-07-21 12:46] driesvints commented on #1320
@Sephster do you might know if this is the correct behavior or not?

[2020-07-21 15:58] Sephster commented on #1320
Hey @driesvints. In general, OAuth doesn't say anything about which client can use which type of grant. This is left entirely up to the implementation.

In the backend of Passport, it looks like the only thing differentiating a PasswordClient and Client Credentials client is the `password_client` bool in the DB being set to true.

Code determining which grants can be used by client is listed below

[2020-07-22 15:45] hans-w commented on #1320
Thank you for the referral @driesvints. And thank you for the clarification @Sephster.

[2020-07-22 15:45] #1320 closed

[2020-07-23 12:03] driesvints commented on #1320
@Sephster thanks for the explanation! : )

[2020-07-25 04:35] onedirection5 commented on #589
I try everything in this discussion. But still not work. Please help me. Because I'm stuck here almost a week.

[2020-07-28 22:01] acmitch opened #1323 "TokenGuard suddenly not decoding JWT Token cookie"
- Laravel Version: 7.0
- Homestead Version: 10.9.1

### Description:
Appears that when using Cookie authentication the decoding of the cookie is suddenly not working within the TokenGuard. Was working fine a few weeks back, I'm assuming something updated with one of the dependencies?

![Screenshot from 2020-07-28 16-59-40](https://user-images.githubusercontent.com/4482055/88726679-c9d48580-d0f3-11

[2020-07-29 13:44] driesvints commented on #1323
Upgrade your Laravel and passport to the latest versions please.

[2020-07-29 13:44] #1323 closed

[2020-07-29 17:08] acmitch commented on #1323
Yeah updating to Passport ^9.3 fixed the issue.

[2020-07-30 01:06] martinbean commented on #903
Did this go anywhere? I’ll be embarking on a Roku app soon and will need to use this to authenticate users against my Laravel-based app.

[2020-07-30 11:20] driesvints commented on #903
The issue on OAuth Server 2 is still open so I don't think so, no. https://github.com/thephpleague/oauth2-server/issues/626

[2020-07-30 12:19] Sephster commented on #903
Yeah the development is done but needs some testing. I am working on this but progress is slow

[2020-07-30 12:31] driesvints commented on #903
Thanks for your work @Sephster 👍

[2020-07-30 15:42] reachmesidyan commented on #267
hello **@erlangp @irvv17 @felipemeddeiros**  can you'll help me with this? :)

i already follow the steps on how to generate and put the oauth key into heroku config.
when i login and type the wrong credentials obviously it gives me the 404 message i setup
but when credential is correct it gives me the ff error.
![image](https://user-images.githubusercontent.com/69005549/88942601-115a3d80-d2bd-11e

[2020-07-30 23:38] bolechen commented on #1264
@ref https://github.com/laravel/passport/pull/1308

[2020-07-31 10:50] VishalParkash commented on #552
Do you have code for this task ?

[2020-08-03 08:47] xorangeday commented on #914
I had this issue for like a week now and found the solution. Make sure the route you are using is on the web middleware to generate the laravel_token cookie.

[2020-08-03 18:26] throttlehead opened #1324 "Issue with Laravel 6.0 dev channel security updates"
- Passport Version: ^8.3.0
- Laravel Version: ^6.0
- PHP Version: 7.4
- Database Driver & Version:  ---

### Description:

There appears to be an issue with CreateFreshApiToken and the latest Laravel security update. After doing a composer update this morning and getting the latest dev channel updates for Laravel and Passport, the cookie stopped working for the auth:api route middleware. It starts

[2020-08-03 18:35] throttlehead commented on #1324
As a followup, I've now tried Laravel Version: ^6.0 and Passport Version: ^9.0 and this combination works. Going to do the upgrade now today but this issue is probably going to affect lots of people who are still a major version behind on passport.

[2020-08-03 18:51] driesvints commented on #1324
Passport 8.0 isn't maintained anymore.

[2020-08-03 18:51] #1324 closed

[2020-08-07 15:26] driesvints commented on #382
Since nobody has attempted any more prs I'm closing this. We're still welcoming prs if anyone wants to take up work on this.

[2020-08-07 15:26] #382 closed

[2020-08-07 18:13] driesvints commented on #398
Hello everyone. As we won't be working on this ourselves I'm closing this issue. However, we are open to PRs to anyone who wants to work on this.

[2020-08-07 18:13] #398 closed

[2020-08-07 18:14] driesvints commented on #515
This has actually already been added in https://github.com/laravel/passport/pull/1069 it seems.

[2020-08-07 18:14] #515 closed

[2020-08-07 18:15] driesvints commented on #575
Closing this as we're waiting for OAuth2 Server to implement this first.

[2020-08-07 18:15] #575 closed

[2020-08-07 18:16] driesvints commented on #903
Gonna close this for now until it's landed in OAuth2 Server. Thanks.

[2020-08-07 18:16] #903 closed

[2020-08-07 18:17] driesvints commented on #804
Closing this again until OAuth2 Server has implemented this.

[2020-08-07 18:17] #804 closed

[2020-08-07 18:18] driesvints commented on #947
Going to close this as we've only received one report for this so far. Feel free to PR something if you want.

[2020-08-07 18:18] #947 closed

[2020-08-07 18:18] driesvints commented on #981
Closing as the related PR was closed.

[2020-08-07 18:18] #981 closed

[2020-08-07 18:19] driesvints commented on #1053
I'm going to close this as we haven't gotten too much requests for this yet. Feel free to send prs to the framework and/or passport if you want to get this in.

[2020-08-07 18:19] #1053 closed

[2020-08-07 18:20] driesvints commented on #1218
Closing this as we haven't had many requests for this. Feel free to PR if you want.

[2020-08-07 18:20] #1218 closed

[2020-08-07 18:46] driesvints commented on #1262
Sent in a PR here: https://github.com/laravel/passport/pull/1325

[2020-08-07 18:46] #1262 closed

[2020-08-07 18:51] driesvints commented on #1310
I'm guessing https://github.com/thephpleague/oauth2-server/pull/995 implements this.

Closing this until OAuth2 has implemented support first.

[2020-08-07 18:51] #1310 closed

[2020-08-08 03:04] rendo commented on #1296
how do that?

[2020-08-08 12:08] driesvints commented on #1296
@rendo `php artisan vendor:publish --tag=passport-config`

[2020-08-09 18:17] OzanKurt commented on #559
@danielrangelsa Saved the day!

[2020-08-11 09:42] HashmatWaziri commented on #1015
Man, after 6 hours managed to find this solution. Thanks a lot. Worked like a charm.

[2020-08-12 20:19] sfox55 commented on #1296
Also ran into this. Why does Passport not default to what is set at application level? (and then add an option to change it, should someone require having a separate database?)

[2020-08-13 23:48] esron commented on #973
Hi. I've made a repository where I was able to reproduce the issue.

https://github.com/esron/passport_with_laravel_6

I've initiated a project Laravel on version 6 and passport on version 8.

[2020-08-14 01:41] JosephNC commented on #746
Nice, but not the safest way. The server can coincidentally handle multiple requests at the same time a different expiration time is set, that will affect every other user token expiration time.

You can do this instead:

[code]
Then create a scheduled job to revoke and purge tokens from database if expired.
See [Laravel Passport Purging Tokens](https://laravel.com/docs/master/passport#purging-tok

[2020-08-14 10:59] wei-xf opened #1326 "Can I change the table name"
- Passport Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:
I want change table oauth_auth_codes to my_oauth_auth_codes?

### Steps To Reproduce:

[2020-08-14 15:41] driesvints commented on #1326
Here's the docs on overriding models: https://laravel.com/docs/7.x/passport#overriding-default-models

[2020-08-14 15:41] #1326 closed

[2020-08-19 20:48] AmujoDotun commented on #774
I experienced this same issue, what I did was to update the PHP version on my local server and everything was back o normal

[2020-08-23 05:23] socheatsok78 opened #1331 "Failed to upgrade laravel/passport to v9.3.2"
- Passport Version: 7.2
- Laravel Version: v6.18.35
- PHP Version: 7.4.9
- Database Driver & Version:

### Description:
Failed to upgrade `laravel/passport` to `v9.3.2` as noted in the [Laravel Cookie Security Releases](https://blog.laravel.com/laravel-cookie-security-releases)

### Steps To Reproduce:

[code]

Output:

[code]

[2020-08-23 06:00] #1331 closed, assigned to nobody

[2020-08-28 06:48] michelvambattu commented on #225
Have you got any solution?

[2020-09-01 16:52] superern commented on #1020
I had same problem when using load balancer in AWS Elastic Beanstalk. There are few solutions but this is the cleanest way I found.

https://stackoverflow.com/a/54517514/4544724

[2020-09-01 21:54] iBotPeaches opened #1338 "Expectations Fails with actingAsClient"
- Passport Version: 9.3.2
- Laravel Version: 7.26.1
- PHP Version: 7.4.3
- Database Driver & Version: Maria 10.2.x

### Description:
I was doing an upgrade to 7.x, this endpoint continues to function for real live smoke tests, but our automated tests fail. I've double checked readme's and can't track this down. I don't have control over the `actingAsClient` and I think I've made the test as simple

[2020-09-02 06:52] tsaini530 commented on #713
I added  'sticky' => true in my datase.php  file but still, show the same error. I am using Laravel 7.21 and Postgres

[2020-09-02 11:38] iBotPeaches commented on #1338
This was dumb. It took a night to click. Why am I mocking out the client when testing a method that generates the token?

Putting up a PR for a non-related spacing fix. Sorry about this.

[2020-09-02 11:38] #1338 closed

[2020-09-03 16:48] mehdirochdi opened #1342 "production.ERROR: The resource owner or authorization server denied the request"
- Passport Version: ^8.3
- Laravel Version: ^7.0
- PHP Version: 7.4
- Database Driver & Version: pgadmin 4

### Description:
i have API based with Laravel i get error only in prod : log file
`The resource owner or authorization server denied the request
{"exception":"[object] (League\\OAuth2\\Server\\Exception\\OAuthServerException(code: 9):
The resource owner or authorization server denied the re

[2020-09-03 16:48] driesvints commented on #1342
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-03 16:48] #1342 closed

[2020-09-04 01:48] atymic opened #1344 "Customise/Disable token grant rate limit"
For example, if an internal server is calling this endpoint it's pretty easy to hit the limit.
Would you accept a PR to customise/turn it off?

See also #671

[2020-09-04 08:41] driesvints commented on #1344
Feel free to attempt a PR.

[2020-09-04 08:41] #1344 closed

[2020-09-05 10:52] ankgne commented on #213
I was facing this issue while using passport authentication from my angular front end application and resolved it by following below steps:
1) Adding oauth path as shown below in config/cors.php
`'paths' => ['api/*', 'oauth/*'],`
2) Using below values in AuthServiceProvider.php
`Passport::routes(null, ['middleware' => [ \Fruitcake\Cors\HandleCors::class ]]);`
instead of
`Passport::routes();`
3) Re

[2020-09-10 06:03] hihuangwei opened #1346 "Will the future support OpenID Connect or CAS"
Will the future support OpenID Connect Server os CAS

[2020-09-10 08:33] driesvints commented on #1346
We have no plans for that.

[2020-09-10 08:33] #1346 closed

[2020-09-11 10:15] juslintek commented on #400
Had the same problem, just copy middleware from the web to API. :-) Instructions are vague, they probably think that you're going to have API endpoints setup in the web group. :-)

So basically do this in Kernel.php:
[code]

[2020-09-12 02:51] dhakalsandeep commented on #1274
I am also facing the same issue and have uncommented all the above but still passport:install fails

[2020-09-13 06:52] j33tmane opened #1348 "Getting 500 on wrong password login attempt"
- Passport Version: 9.3
- Laravel Version:7.28.1
- PHP Version: 7.4.6
- Database Driver & Version: mysql

### Description:
i am requesting token with following body
{
	"grant_type":"password",
	"client_id":"2",
	"client_secret":"yourtoken",
	"username":"xyz@gmail.com",
	"password":"111111111"
}

it works fine for correct username and password, but if i put wrong password i m getting error
i.e Call

[2020-09-13 11:44] hosseinnedaee commented on #267
@reachmesidyan I think the problem is here.
you should add environment variables in the format shown below. as mentioned in Laravel doc:
[code]

[2020-09-14 08:37] driesvints commented on #1348
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-14 08:37] #1348 closed

[2020-09-15 19:06] himalayaahuja commented on #613
We still don't have access to any custom params inside this method, that we could have passed in the token POST request to obtain access token.

[2020-09-15 19:18] andymnewhouse commented on #882
Trying a variation of this with version 10 results in `Error: Class 'Laminas\Diactoros\ServerRequestFactory' not found`. Did Passport change some of its dependencies?

[2020-09-15 19:43] andymnewhouse commented on #882
Figured it out because of pull request #1330 the implementation above should be switched to:

[code]

[2020-09-15 20:23] danielricecodes commented on #267
I'm having this same problem.  I am a Heroku expert and I have no idea whats wrong.  My gut feeling is its in the code for the rescue app I've inherited.

#config/passport.php
[code]

Heroku is set right.  `heroku run php artisan tinker`:

[code]

Yet, I see this in the log whenever I try to open up `/graphql-playground` on my server.

[code]

Why is it still trying to load off of the file system?

[2020-09-15 22:53] erlangp commented on #267
@danielricecodes what the output after run...

`config('passport.private_key');`
and
`config('passport.public_key');`

...inside tinker ?

[2020-09-16 10:49] abhishek6262 opened #1350 "Passport grants working unexpectedly in Tests"
- Passport Version: v10.0.0
- Laravel Version: v8.X
- PHP Version: 7.4
- Database Driver & Version: MySQL 8.0

### Description:

Laravel is giving an error when the `Content-Type: application/json` is set in the headers for `oauth/token` route in the tests. However its working fine in Postman.

Error:
[code]

*AuthTest.php*
[code]

### Steps To Reproduce:

1. Create a Feature Test.
2. Test Passpor

[2020-09-16 23:04] trip-somers commented on #1323
@driesvints  Is there some kind of explanation for why older minor version updates are now broken? I'm presumably running compatible versions with Laravel 6.18 and Passport 8.5. I don't understand why this would be "suddenly" broken.

[2020-09-17 07:29] WinnersProx commented on #914
I have finally found the most accurate solution, my issue is that i have forgotten to change ```token``` to ```passport``` as my provider for the API auth guard.

I had to fix it like this, and it worked after some hours of debugging
[code]

Before it was this way, as I've forgotten to update my configuration

[code]

[2020-09-17 09:07] driesvints commented on #1323
@trip-somers yeah we blogged about ti here: https://blog.laravel.com/laravel-cookie-security-releases

[2020-09-18 05:56] heraldsuva commented on #1274
This works but then another error prompts **"Choice question must have at least 1 choice available"**

This might help
https://github.com/dusterio/lumen-passport/issues/136#issuecomment-662334237

[2020-09-18 12:39] driesvints commented on #1350
Try using `->postJson()` instead.

[2020-09-18 12:39] #1350 closed

[2020-09-18 13:52] juslintek commented on #400
laravel_token sucks removed session functionality from API at all...

[2020-09-20 15:40] flosej commented on #1224
@oinpentuls If it can helps I had the same issue, I had a singleton aliased 'auth' which caused the error, I've resolved the issue by changing the alias name.

[2020-09-21 11:21] mohamedhussieen commented on #473
@SuperlativeEntity  and u solve it by this way ?

[2020-09-21 15:01] #1257 closed

[2020-09-23 11:59] falgunshah7 commented on #774
I have update my laravel project 6 to 7 but I had same problem. I have fixed this and the steps in below. Hope this will be help.
In my case I have followed these steps.
-> Made changes in composer.json
laravel/framework to ^7.0
nunomaduro/collision to ^4.1
phpunit/phpunit to ^8.5
laravel/tinker to ^2.0
facade/ignition to ^2.0
and
laravel/ui to ^2.0

-> And then changes in **App\Exceptions\Handler

[2020-09-23 12:26] ld-gary commented on #837
Somewhere down in my cold dead covid-soaked soul I like to think my prompting question played a little part in this, even though I did precisely nothing towards its realisation and the team clearly worked incredibly well to do so. Just want to say thanks to that team for keeping us all in quality framework goodness that makes our dev lives easier and more manageable!

[2020-09-24 17:14] KieronWiltshire opened #1356 "Personal Access Tokens as API tokens."
I intended on using Personal Access Tokens as API tokens for users. However, I don't feel like a year is long enough for an API key that may be in use for much longer than that. Would it be possible to change the expiration of specific personal access tokens when creating them?

[2020-09-24 17:22] driesvints commented on #1356
You can only set it globally for the OAuth2 Server: https://laravel.com/docs/8.x/passport#token-lifetimes

[code]

Anything more granular (specific lifetimes per tokens) aren't possible. You're probably looking more for something like Sanctum for your usecase.

[2020-09-24 17:22] #1356 closed

[2020-09-25 09:01] thtg88 commented on #1113
A bit late to the party, but for other people ending up with this same issue, what I ended up doing is overriding Passport's `AccessTokenController@issueToken`, catching Passport's `OAuthServerException` and checking for the status code to match the `invalid_grant` exception (code 10), which only seems to be used in case of invalid credentials.
See https://github.com/thephpleague/oauth2-server/blo

[2020-09-25 10:45] BryanMootoosamy opened #1357 "Issue while launching command"
- Passport Version: last
- Laravel Version: 8.6.0
- PHP Version: 7.4.10

### Description:
When lanching a console command or making a composer dump-autoload when a command exists, I get this error

Symfony\Component\ErrorHandler\Error\FatalError

Type of Laravel\Horizon\Console\ClearCommand::$signature must be string (as in class Illuminate\Console\Command)
In class ClearCommand, signature type is

[2020-09-25 11:05] driesvints commented on #1357
Think you're running into a caching problem somewhere as I don't trigger this error when running the latest Horizon version. Doesn't seems to be Passport related.

[2020-09-25 11:05] #1357 closed

[2020-09-28 22:33] Amanbk commented on #1165
This solved my problem https://stackoverflow.com/a/63878379/7322834

[2020-10-01 10:38] martindilling commented on #685
Did I miss something?
Wasn't that discussion about password_client and personal_access_client token automatically having access to routes protected with the client middleware?

Right now I have the same issue as described here. Trying to scope access per client, I have multiple apps that need to access this api, but only very few need the destructive rights.

[2020-10-01 20:19] ifeanyi2667 commented on #94
For Laravel 8
https://gist.github.com/onamfc/0422da15743918e653888441ba6226ca

This worked perfectly well for me

[2020-10-01 21:06] corbosman commented on #94
@ifeanyi2667 you can just use my package, see link a few posts up

[2020-10-01 22:26] ifeanyi2667 commented on #94
Thank you

[2020-10-02 23:34] apoca opened #1360 "Trying to get property 'secret' of non-object"
- Passport Version: 10.X
- Laravel Version: 8.X
- PHP Version: 7.4
- Database Driver & Version: mysql 5.7

### Description:
I am using a third-party login / password system and if ok I add a token to those users...
$user->createToken('Xpto....')->accessToken;

Well, this works very well after upgrading to Laravel 8 and Passport 10. However, some of my tests (logins) don't work now, only the one's

[2020-10-05 11:34] driesvints commented on #1360
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-10-05 11:34] #1360 closed

[2020-10-06 03:53] nsadik918 commented on #1015
[7backpage.com](url)
Most of you might have already have heard about Craigslist, Craigslist is one of the best [backpage ](url)alternative sites. In fact Craigslist was one of the very first sites that have started classified-ads and soon it expanded to many categories. Craigslist remains one of the most visited website in the world, it offers services in over 100+ countries. The good thing about

[2020-10-07 09:37] hcphoon01 opened #1363 "Show all authorized third party apps"
I'm currently getting in to using passport for authorization for a third party public API, and I was wondering if it would be possible to have a feature, as part of the JSON API, that allows a request to an endpoint that returns all authorized third party apps the authenticated user has authorized, in order to both view and then deauthorize them

[2020-10-08 08:19] nesh-ua opened #1364 "Why user() method in TokenGuard don't check existence already selected user?"
Each time when i run auth()->user() will make request to db. I think we can make this for optimization:
`if (! is_null($this->user)) {`
`      return $this->user;`
`}`

[2020-10-08 09:26] driesvints commented on #1364
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-10-08 09:26] #1364 closed

[2020-10-08 10:23] driesvints commented on #1363
How would you practically tackle this?

[2020-10-08 15:17] Daniil-Solovev commented on #440
Alternatively, the solution to the problem can be to put this code in Handler -> render ().
<pre>
if ($exception instanceof AuthenticationException) {
            return response()->json([
                'code' => $exception->getCode(),
                'message' => $exception->getMessage(),
                'trace' => $exception->getTrace()
            ], 401);
        }

[2020-10-08 19:39] hcphoon01 commented on #1363
Possibly have another table in the database like `oauth_authorized_clients` that contains a user id column and client id column, then have an endpoint for example `/oauth/authorized`. A GET request to that endpoint gives a list of authorized clients for the authenticated user, and a DELETE request to that endpoint deauthorizes the client

[2020-10-08 21:06] hcphoon01 opened #1365 "Add optional image when creating client"
Allow the inclusion of an image url with an `/oauth/client` POST request and an `/oauth/client/{id}` PUT request in order to be able to display the image on the authorization page for more 'customization' with the authorization flow

[2020-10-09 08:56] driesvints commented on #1365
We have no plans for this, sorry.

[2020-10-09 08:56] #1365 closed

[2020-10-09 09:01] driesvints commented on #1363
I'm wondering if this isn't better handled in userland. I can definitely understand the use case though. But since OAuth2 Server doesn't provides this out of the box for us to wrap around I think this isn't something we're gonna work on ourselves. If you're willing to work on a PR however we might consider it.

[2020-10-09 09:01] #1363 closed

[2020-10-19 18:01] connecteev opened #1369 "Passport does not recognize username parameter"
- Passport Version: #.#.# 10.0.1
- Laravel Version: #.#.# 8.10.0
- PHP Version: #.#.# 7.4.9
- Database Driver & Version: MySQL 8.0.19

### Description:
Cannot log in with Passport - Passport does not recognize username parameter.

### Steps To Reproduce:

(I have php artisan --port=8001 running)

To log a user in, I am making a POST request to http://localhost:8001/api/v1/auth/login
and am passing

[2020-10-19 18:18] connecteev commented on #1369
sorry, this was an oversight on my part. My controller was renaming $request->username to something else before sending it to passport.

[2020-10-19 18:18] #1369 closed

[2020-10-22 02:42] magoun opened #1370 "Passport migrations ignore --database option"
- Passport Version: 9.3.2
- Laravel Version: 7.28.3
- PHP Version: 7.4.11
- Database Driver & Version: MySQL 5.7.31

### Description:
The included passport migrations no longer consider the --database flag passed to migrate on the command line, instead reading the default database from the connection specified in config/passport.

### Steps To Reproduce:
On a new Laravel project with at two databa

[2020-10-22 09:06] driesvints commented on #1370
I'm investigating this one with the team. Thanks for reporting 👍

[2020-10-22 09:49] KieronWiltshire commented on #1356
I need to continue this discussion.

On my application, I allow users to create personal access tokens so that they can also communicate with my API, ideally I'd like for them to be able to set their own sensible expiration time if one is set at all.
![image](https://user-images.githubusercontent.com/4332346/96855133-37265700-1454-11eb-9320-782c6799d987.png)

I still don't understand why this WON'

[2020-10-22 09:54] driesvints commented on #1356
@KieronWiltshire it just isn't possible with OAuth2 Server. We need to give the expiration time up front to the authorization server. This is a piece we don't control ourselves.

https://github.com/laravel/passport/blob/10.x/src/PassportServiceProvider.php#L117

You could take this up with the league/oauth2-server repo/team but I suspect that this simply isn't possible.

[2020-10-22 10:02] KieronWiltshire commented on #1356
@driesvints okay, I understand. I will see what they say

[2020-10-22 12:28] driesvints commented on #1370
We're gonna look at how we're going let the `--database` flag take over precedence here.

[2020-10-22 19:49] bonnieandcoin commented on #446
f

[2020-10-25 07:39] fengyaoyao opened #1371 "\PassportUserProvider::__construct() must implement interface"
"message": "Argument 1 passed to Laravel\\Passport\\PassportUserProvider::__construct() must implement interface Illuminate\\Contracts\\Auth\\UserProvider, null given, called in /Users/mac/www/sigin/vendor/laravel/passport/src/PassportServiceProvider.php on line 293",
  "exception": "TypeError",
  "file": "/Users/mac/www/sigin/vendor/laravel/passport/src/PassportUserProvider.php",
  "line": 31,

[2020-10-25 07:41] #1371 closed

[2020-10-25 07:42] fengyaoyao commented on #1371
Passport Version: 10.0.1
Laravel Version:8.0
PHP Version: 7.3.22

[2020-10-25 09:30] seosazi commented on #589
I have tried different ways, in the end I notice that my config cache is old and I use this code and my problem solved

`php artisan config:clear`

[2020-10-25 09:30] seosazi commented on #36
I have tried different ways, in the end I notice that my config cache is old and I use this code and my problem solved

`php artisan config:clear`

[2020-10-25 09:30] seosazi commented on #221
I have tried different ways, in the end I notice that my config cache is old and I use this code and my problem solved

`php artisan config:clear`

[2020-10-27 16:01] RemizZ commented on #898
I'm sorry to ride this dead horse again, but can someone please explain how the problem got solved? Is it even solved? Because I still can't use endpoints with both. When I use the normal grant client and client middleware, I don't get the user. When I use the personal client and auth:api, the client grant auth fails completely.

[2020-11-01 13:24] tonilam commented on #400
I inspect all the way the authentication goes.
in Authenticate.php autenticate(array $guards), when doing $this->auth->guard($guard)->check(), it return false, then I go to have a look on the TokenGuard.php decodeJwtTokenCookie($request), it will decrypt the passport cookie -> which the laravel_token, and it gives out  DomainException: Malformed UTF-8 characters. I think it is the root cause of wh

[2020-11-02 14:33] youssefkhouili opened #1372 "Your requirements could not be resolved to an installable set of packages."
- Laravel Version:  v7.29.2
- PHP Version: 7.4.6

### Description:

Problem 1
    - Conclusion: remove laravel/framework v7.29.2
    - Conclusion: don't install laravel/framework v7.29.2
    - laravel/passport 10.x-dev requires illuminate/http ^8.2 -> satisfiable by illuminate/http[8.x-dev, v8.10.0, v8.11.0, v8.11.1, v8.11.2, v8.12.0, v8.12.1, v8.12.2, v8.12.3, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6

[2020-11-02 14:34] driesvints commented on #1372
The answer is in your message above. You need Laravel 8 for Passport 10

[2020-11-02 14:34] #1372 closed

[2020-11-02 14:37] youssefkhouili commented on #1372
yeah thanks i used composer require laravel/passport "^9.0" to install passport 9

[2020-11-03 16:11] tecbeast42 commented on #1370
I can reproduce this problem in laravel 8.

[2020-11-03 16:12] driesvints commented on #1370
Yeah still haven't gotten to this I'm afraid. Have been knee deep into PHP 8 updates. Appreciating help with it.

[2020-11-06 14:17] hugoisrr commented on #532
If your app is running on an Apache server you need to modify the file `/etc/apache2/sites-enabled/test-app.conf`. and add the variable of @mattnewark just under **<Directory>** tag.

[2020-11-12 16:33] congas83 opened #1374 "Error 404 route post laravel passport"
- Passport Version: 9.0
- Laravel Version: 7.29
- PHP Version: 7.2.5
- Database Driver & Version: Mysql

### Description:

when i query api / user test path
returns the user data without any problem,
but when I create a post route inside a controller that I want to return as well
user $ request-> user () always gets me a 404 error.

  Route :    Route::post('valid', 'API\Auth\LoginController@test'

[2020-11-12 16:53] driesvints commented on #1374
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-11-12 16:53] #1374 closed

[2020-11-12 16:57] congas83 commented on #1374
I have this same problem with the latest version
"php": "^7.3|^8.0",
        "fideloper/proxy": "^4.4",
        "fruitcake/laravel-cors": "^2.0",
        "guzzlehttp/guzzle": "^7.0.1",
        "laravel/framework": "^8.12",
        "laravel/passport": "^10.0",

[2020-11-12 16:58] driesvints commented on #1374
@congas83 this seems like a support request. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23

[2020-11-13 23:29] keltinMesonjesi opened #1375 "Unable to create personal access tokens when using hashed client secrets"
- Passport Version: 10.0.1
- Laravel Version: 8.6.0
- PHP Version: 7.4.12
- Database Driver & Version: MySQL 5.7.22

### Description:

After enabling hashed client secrets (Passport::hashClientSecrets()) when I try to create a new Personal Access Token from Vue App I get 500 (Client authentication failed) response.
When disabling Passport::hashClientSecrets() then it works fine and Personal Access

[2020-11-16 10:41] driesvints commented on #1375
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-11-16 10:41] #1375 closed

[2020-11-17 14:43] nesinervink commented on #833
Sorry to reopen an old topic, but I have been stuck on exactly the same situation for a couple of days, so I thought it might save some time for someone else.
I had same PHP/SQL major versions in both dev and production environments and yet in production env `Auth::User()` always produced `null`, with 6.4, 7.x and 8.x versions. The only significant difference that I did not take in for account was

[2020-11-18 20:49] jdavidbakr commented on #1135
Is there any way to map this server-side to return a more sane error?  My API clients are displaying the message as it is sent by the server and this message is extremely confusing.  It would be a heavy lift to redeploy an update, I would rather the server return a comprehendible message.

[2020-11-19 14:55] jdavidbakr commented on #1113
Any chance this can be reopened and the solution presented by @thtg88 could be put into the Passport base?  This seems a bit hacky for something that, in my opinion, should be the default behavior an API client would expect.

[2020-11-19 15:23] jdavidbakr opened #1376 "Return sane error for bad credentials"
With the recent change that oauth2-server now throws an invalid_grant instead of invalid_credentials, the error message returned to the user is cryptic and misleading.  I propose that we modify `AccessTokenController::issueToken()` to a try-catch similar to https://github.com/laravel/passport/issues/1113#issuecomment-698813835

[2020-11-19 16:04] driesvints commented on #1376
I'm not sure this is needed. I'll ping the OAuth2 server maintainer on your PR.

[2020-11-19 16:04] #1376 closed

[2020-11-19 16:08] jdavidbakr commented on #1376
oauth2-server has stated that they are not going to change it, that the message is intentionally obfuscated.

[2020-11-19 16:09] driesvints commented on #1376
@jdavidbakr we in general follow the path that oauth2-server chooses which is why I want to verify it first with the maintainer. Let's see what he says.

[2020-11-21 15:03] Raza9798 commented on #532
still facing the same issue, i published on a sharedhost, can't modify apache files, and @mattnewark tags are not working. do you guys solve this problem?

[2020-11-21 16:16] Raza9798 commented on #957
@narmadhasugumar did you solve this issue?, if you solved please offer the solution. the same issue i am facing right now

[2020-11-23 04:35] maqsudinamdar opened #1378 "Authenticating web using Laravel Passport Token-Based Authentication"
# Authenticate web using Laravel Passport #

I'm [Redirecting][1] the Response by specifying the access token as a [Bearer token][2] in the `Authorization` header to the route. And getting below error.

**File:** `Controller.php`
[code]
I have assigned [Laravel Passport custom middleware][3] to protect and authenticate different types of users by defining their guard.

**File:** `routes\web.php`
[

[2020-11-23 08:34] driesvints commented on #1378
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-23 08:34] #1378 closed

[2020-11-23 20:50] tohidhabiby commented on #1101
Update UserFactory password (use Hash::make() not bcrypt)

[2020-11-25 08:16] dhha opened #1380 "Got issue when upgrade to laravel 8"
Hi Guys,

I've just tried to upgrade laravel to 8x from 7x and it require passport 10x, but after successful upgraded i got issue with message
"Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead."

![image](https://user-images.githubusercontent.com/2024314/100200613-73584600-2f31-11eb-840a-c5ac4c622347.png)

can anyone help me to fix it? thanks

[2020-11-25 08:29] SHELA commented on #1380
Hello,
have the same

[2020-11-25 08:32] driesvints commented on #1380
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-25 08:32] #1380 closed

[2020-11-25 09:28] abdallhsamy opened #1381 "Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead."
- Passport Version: 10.0.x
- Laravel Version: 8.x.x
- PHP Version: 7.4.x
- Database Driver & Version: Mysql 8.x

### Description:
This Error Appears
[code]

### Steps To Reproduce:

after tracing error : I found that passport package depends on  `lcobucci/jwt` that made major update in these classes
lcobucci/jwt/src/Signer/BaseSigner.php

[2020-11-25 09:54] Linij commented on #1381
https://github.com/lcobucci/jwt/blob/3.4.0/src/Signer/BaseSigner.php update 9 hours ago
[code]
now the specified "lcobucci/jwt": "3.3.3" in you composer.json cloud work.

[2020-11-25 10:15] l0rb commented on #1381
Can confirm that this is because "lcobucci/jwt" upgraded to 3.4 with a lot of breaking changes. Downgrading this to 3.3.3 fixes the issue.

[2020-11-25 10:16] andrewmclagan commented on #1381
Sorry @Linij do not understand your comment.

Also seeing this a few minutes ago.

- Passport Version: 9.0.x
- Laravel Version: 7.x.x
- PHP Version: 7.4.x
- Database Driver & Version: Mysql 8.x

[2020-11-25 10:17] Linij commented on #1381
In your project composer.json add "lcobucci/jwt": "3.3.3" and execute composer update.

[2020-11-25 10:20] andrewmclagan commented on #1381
<img width="504" alt="Screen Shot 2020-11-25 at 9 19 28 pm" src="https://user-images.githubusercontent.com/1073259/100214369-eb3f6400-2f63-11eb-8fe2-08f923fee139.png">

@Linij That solved the issue. Thank you! What downstream packages requires this?

[2020-11-25 10:22] Linij commented on #1381
![image](https://user-images.githubusercontent.com/8857514/100214652-19647a00-2f4b-11eb-87a9-1619a33f48eb.png)

[2020-11-25 10:24] andrewmclagan commented on #1381
Ok, `composer info laravel/passport -t` beats wading through vendors. You just made my day, had no idea that command existed.

[2020-11-25 10:28] Sephster commented on #1381
These errors shouldn't be showing on production. If you have these turned on, update your php.ini file to change the error level 👍

[2020-11-25 10:31] andrewmclagan commented on #1381
Was caught in CI long before prod.

[2020-11-25 10:36] Sephster commented on #1381
It won't be a problem in prod if you have these errors suppressed. If your CI is for prod it should probably be suppressed in that build env too

[2020-11-25 10:46] Linij commented on #1381
@andrewmclagan Also an instruction `composer why lcobucci/jwt ` could know who use that package

[2020-11-25 11:14] lagbox commented on #1380
@driesvints  https://github.com/laravel/passport/issues/1381

[2020-11-25 12:12] lagbox commented on #1381
there seems to be multiple different problems with `lcobucci/jwt` that are popping up now that they released 3.4.0
@driesvints

[2020-11-25 12:22] driesvints commented on #1381
This is a deprecation notice and these shouldn't be enabled on production. `lcobucci/jwt` 3.4 will be supported through https://github.com/laravel/passport/pull/1373 which will be merged tomorrow at the latest.

[2020-11-25 13:06] driesvints commented on #1381
I want to investigate something: is this exception thrown with `error_reporting` set to `0`?

[2020-11-25 13:16] sahakavatar opened #1382 "Replicating claims as headers is deprecated and will removed from v4.0"
- Passport Version:7.3
- Laravel Version: 5.7
- PHP Version: 7.3
- Database Driver & Version:

 Description:
getting this message when calling oauth token
![image](https://user-images.githubusercontent.com/18184278/100232300-a0acf000-2f41-11eb-8ba5-6ea8ac2b8074.png)

Replicating claims as headers is deprecated and will removed from v4.0. Please manually set the header if you need it replicated.

[2020-11-25 13:49] driesvints commented on #1382
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-11-25 13:49] #1382 closed

[2020-11-25 13:49] driesvints commented on #1382
Also please see https://github.com/laravel/passport/issues/1381

[2020-11-25 13:51] driesvints commented on #1381
I've discovered that these exceptions are handled a little differently in Laravel. I'll try to investigate that more thoroughly in the upcoming days/weeks. In the meantime please stick onto `lcobucci/jwt` 3.3 until we merge the open PR.

[2020-11-25 14:41] nvahalik commented on #1380
I'm not on Laravel 8. I'm on 7 but I'm getting the same error.

Looks like updating https://github.com/lcobucci/jwt to `3.4.x` from `3.3.0` is also causing this.

Given that 3.4.0 was only released a few hours ago, this seems to be the culprit.

Peg your dependency of `lcobucci/jwt` to `^3.3.0` and then update it again.

[2020-11-25 14:46] dhha commented on #1380
thanks, it works for me just need to downgrade to 3.3.0 👍

[2020-11-25 15:11] damku999 opened #1383 "Not able to get access token with all correct information Laravel\Passport\Bridge\AccessToken::__toString() must not throw an exception"
- Passport Version:  9.3.2
- Laravel Version: 7.29.3
- PHP Version: 7.4
- Database Driver & Version:
MySQL 5.7
### Description:
[2020-11-25 14:52:21] local.ERROR: Method Laravel\Passport\Bridge\AccessToken::__toString() must not throw an exception, caught ErrorException: Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead. {"exception":"[object] (S

[2020-11-25 15:47] plivius commented on #1383
@damku999
Likely cause: https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709
(temporarily downgrade lcobucci/jwt to 3.3)

[2020-11-25 16:21] driesvints commented on #1383
Please see https://github.com/laravel/passport/issues/1381 and other opened issues.

[2020-11-25 16:21] #1383 closed

[2020-11-25 19:26] devsi commented on #1380
Specifically it is [thephpleague/oauth2-server](https://github.com/thephpleague/oauth2-server) that uses this dependency. Is passport. oauth2-server have [lcobucci/jwt](https://github.com/lcobucci/jwt) set to `^3.3.1` and so following closer to semantic versioning, expects `3.4` to not break compatibility. Technically it does not break compatibility, but rather exposes those production servers tha

[2020-11-25 21:26] ok200paul commented on #1381
TIL about `composer info` - thanks @Linij !

[2020-11-26 07:25] Gams101 opened #1384 "Target [Lcobucci\JWT\Parser] is not instantiable while building [Laravel\Passport\PersonalAccessTokenFactory]"
- Passport Version: 10.0
- Laravel Version: 8.16.1
- PHP Version: 7.4.13
- Database Driver & Version: MySQL 5.7.24

### Description:
First of all I would like to thank you guys for this wonderful authentication package for laravel, it's my first time trying out this package and I followed the installation guide at https://laravel.com/docs/8.x/passport but when this code block in my controller sign

[2020-11-26 07:34] driesvints commented on #1384
Please see https://github.com/laravel/passport/issues/1381 and numerous other issues.

[2020-11-26 07:34] #1384 closed

[2020-11-26 08:04] Gams101 commented on #1384
Following this thread's answers and adding "lcobucci/jwt": "3.3.3" in composer.json, and running "composer update" fixed this issue as well. Thanks!

[2020-11-26 08:05] driesvints commented on #1381
I've just released v10.1.0 with support for OAuth2 Server v8.2.0 and JWT v3.4.0/v4.0.0 that should fix these issues. Please update 🙂

[2020-11-26 08:05] #1381 closed

[2020-11-26 08:06] driesvints commented on #1384
I've also just released v10.1.0 with support for JWT v3.4

[2020-11-26 08:17] mludi commented on #1381
Lol what a timing, ran into this issue 10 minutes ago. Thanks @driesvints :-)

[2020-11-26 08:20] l0rb commented on #1381
@driesvints will there also be a patch for version 9? Laravel 6 still has support for about a year, and it can't use passport>9

[2020-11-26 08:59] Gams101 commented on #1384
Great! Currently upgraded to v10.1.0 and removed "lcobucci/jwt": "3.3.3" on my composer.json works fine. Thanks again!

[2020-11-26 09:22] driesvints commented on #1381
@l0rb that's reasonable. However, if we do that we'll have to drop PHP 7.2 support for Passport v9.

I've sent in a PR with additional info here: https://github.com/laravel/passport/pull/1387

[2020-11-26 17:40] egbodofo commented on #1381
I added "lcobucci/jwt": "3.3.3" to my project and it worked, thank you!

[2020-11-28 05:12] JC5 commented on #1381
I upgraded Passport to 10.1.0 and it worked, thanks guys.

[2020-12-01 03:06] diegoflorez commented on #124
@Megachill Your upgraded solution still works on  `"laravel/framework": "^8.12", "laravel/passport": "^10.0",`
Thanks!

[2020-12-02 11:32] anas-aw opened #1388 "install passport issue"
- Passport Version: 10.1
- Laravel Version: 6.20
- PHP Version: ^7.2.5|^8.0

### Description:

Using version ^10.1 for laravel/passport
./composer.json has been updated
Running composer update laravel/passport
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - laravel/passport[v1

[2020-12-02 12:02] driesvints commented on #1388
Passport 10 requires Laravel 8

[2020-12-02 12:02] #1388 closed

[2020-12-02 13:55] pktharindu opened #1389 "Logout and PKCE"
- Passport Version: 10.1.0
- Laravel Version: 8.16.1
- PHP Version: 7.4.8
- Database Driver & Version: MySQL 5.7

### Description:
I'm using [Authorization Code Grant with PKCE](https://laravel.com/docs/8.x/passport#code-grant-pkce) for a browser extension we are working on, and it works as expected. The only inconvenience that I have is when I log out (by revoking the token), and try to re-login,

[2020-12-02 16:24] jasperjorna commented on #1389
I've ran into the same situation where users want to logout en switch to a different account. Laravel still holds the session and therefore skips the login screen. I'm using App Auth (https://github.com/FormidableLabs/react-native-app-auth), which has the option to set `prompt` as an additional parameter, but I don't think Passport is actually using it.

[2020-12-02 18:17] davestewart commented on #1389
Yeah, there seems to be quite a lot of information out there about the `prompt` parameter:

https://www.google.com/search?q=OAuth+PKCE+%22prompt%3Dlogin%22

[2020-12-03 06:28] ALTELMA commented on #1384
Hi Guys, v10.1.0 does not support Laravel 6

Sadly :(

[2020-12-03 09:41] driesvints commented on #1384
@ALTELMA we're looking into bringing PHP 8 support to Passport 9.x: https://github.com/laravel/passport/pull/1387

We're pretty close to that.

[2020-12-04 07:46] meredevelopment opened #1391 "Better Passport install instructions in Laravel Passport docs for L6 LTS"
Seeing that Laravel 6 is still - at the time of writing - the LTS version, I think the [Laravel Passport docs](https://laravel.com/docs/6.x/passport#installation) should specify the version of Passport that is supported.

If users follow the current docs and do `composer require laravel/passport` they will end up with a "Your requirements could not be resolved to an installable set of packages." e

[2020-12-04 08:43] driesvints commented on #1391
Please see https://github.com/laravel/passport/pull/1387

[2020-12-04 08:43] #1391 closed

[2020-12-04 09:12] meredevelopment commented on #1391
Thanks @driesvints, missed that issue/PR.

So when https://github.com/laravel/passport/pull/1387 is merged, will `composer require laravel/passport` work for L6 installers? Or will they have to specify v9 of Passport still. Sorry I don't know much about dependency trees.

[2020-12-04 09:13] driesvints commented on #1391
You'll need to require v9

[2020-12-04 09:22] meredevelopment commented on #1391
Ok thanks, so a tweak to the Laravel v6 Docs is a good idea.

[2020-12-04 09:30] driesvints commented on #1391
@meredevelopment feel free to PR something.

[2020-12-04 09:38] driesvints commented on #1391
I've just released v9.4.0 which supports PHP 8

[2020-12-04 09:38] driesvints commented on #1381
I've just released v9.4.0 which supports PHP 8

[2020-12-07 19:30] driesvints commented on #1389
I think we'd be open to adding this one way or another. Feel free to attempt a PR if anyone's up for one 👍

[2020-12-07 19:30] #1389 closed

[2020-12-07 23:38] davestewart commented on #1389
Nice one @driesvints 🙂

Any suggestions on which classes / files to start from?

[2020-12-08 08:45] driesvints commented on #1389
@davestewart I have to admit I'm not really sure myself. Now that I look at it closer can you not already achieve this with passing prompt in the query here? https://laravel.com/docs/8.x/passport#code-grant-pkce-redirecting-for-authorization

[2020-12-08 11:17] davestewart commented on #1389
Not sure actually; I think @pktharindu already tried this?

[2020-12-08 15:22] pktharindu commented on #1389
Yes, I did, and it didn't have any effect.
Looking at the implementation, I can see `League\OAuth2\Server\RequestTypes\AuthorizationRequest` doesn't seem to accept the `prompt` parameter. So I guess it has to be PRed into [league/oauth2-server](https://github.com/thephpleague/oauth2-server) instead.

[2020-12-08 15:35] driesvints commented on #1389
Yeah that's what I believe as well. I think OAuth2 Server needs a patch for this.

[2020-12-08 15:45] Sephster commented on #1389
Why isn't the session destroyed if you are logging out of the system? Apologies if I am missing something here.

[2020-12-08 18:12] davestewart commented on #1389
@Sephster

My understanding is that because of PKCE we need to log in via a form on the website, a session is started, the authentication code is returned, along with a cookie.

However, once we have exchanged the authentication code for an access token, and we log out (revoke the token) via the API – not the website – so the session on the main website still exists.

Next, if we choose to log in

[2020-12-09 18:22] RavaliBoga1699 commented on #589
Facing the same issue since morning in Laravel 8... "invalid_grant" I tried all suggestions mentioned in a loop but no success. Do anyone faced similar issue in laravel 8.

Any suggestions how to fix that
grant_type = password
client_id = 4
client_secret = SZ280jSp6YOrHNj6fglegAzi2rv8oqXtbt7T4gZA
scope = *
username = admin@yopmail.com
password = admin

DB row
-- | -- | -- | -- | -- | -- | -- | --

[2020-12-09 20:15] seosazi commented on #589
First of all, please test this code
`php artisan cache:clear`
If your problem is not solved. I think the best way is to first check your token generation code in passport api, if your token was generated correctly. Next past client_id and client_secret in your login code to find out that where is the problem from

[2020-12-10 18:35] jasperjorna commented on #1389
@davestewart I think that's exactly right.

Is there already an issue at https://github.com/thephpleague/oauth2-server that we can track?

[2020-12-10 18:47] davestewart commented on #1389
It's a shame there's not some flag in the initial call which would trigger Laravel to forget the (supposedly temporary) session as the PKCE flow _returns the access token_, rather than having another flag for when the user may – or may not – log back in again.

Something like:

[code]

Is there a parallel in Laravel Land? Perhaps [flash messages](https://laravel.com/docs/8.x/session#flash-data)? I

[2020-12-10 21:20] Sephster commented on #1389
The key bit here is that login sessions and token possession are or should be independent of one another.

I don't think there is an issue flagged in oauth2 server. I will take a look at this before the week is out and maybe we can transfer this issue to that repo if appropriate

[2020-12-11 06:00] pktharindu commented on #1389
@Sephster that's my understanding as well. Ideally, `prompt=login` should always show the login form despite having/not having a valid session.

In case anybody is looking for a workaround, ours currently looks something like below:

[code]
And in the client, you can do something like:

[code]

As @davestewart said, this also invalidates the session. So, if you have an admin panel or whatever, you

[2020-12-12 14:20] davestewart commented on #1389
Another option we discussed was running the API auth on a different domain, that way any admin sessions would be independent. I can't remember now if there were any incompatibilities with that approach now, or whether it just seemed like too much hassle, @pktharindu ?

[2020-12-12 21:33] Sephster commented on #1389
I've had a chance to look into this now. The `prompt` parameter is part of Open ID Connect and not part of standard OAuth 2 so I don't think that is the right solution for this issue.

Looking at the authorize end point it should only automatically authorize the client if a valid token is present or if the client is first party:

https://github.com/laravel/passport/blob/c2b93a7d8d93cf303bb1eefbfa5

[2020-12-12 22:30] jrgarciadev commented on #267
It's works for me, I commented the  `Passport::loadKeysFrom('/secret-keys/oauth');`
![Screen Shot 2020-12-12 at 19 29 45](https://user-images.githubusercontent.com/30373425/101996349-661cb480-3cb0-11eb-9d3b-c5c8c16a86b5.png)

[2020-12-13 05:29] pktharindu commented on #1389
@Sephster, the authorization step isn't really the problem. Let me explain the context here.

We have a web application that includes a dashboard where the users can manage their personal/billing details and an API powering our first-party chrome extension. Ideally, the users should be able to login to the dashboard, and the extension independently.

But since the PKCE flow is not fully independen

[2020-12-13 10:38] Sephster commented on #1389
Because your browser extension is first party, I believe this is expected behaviour. If you want to prevent this, you should set skipsAuthorization to return false.

See pr #1022 for where this feature was first introduced.

One final thing I was wondering is, does your extension initiate the flow without any user input? This doesn't seem correct if this is the case.

Hope this helps

[2020-12-15 11:12] CaptainBart commented on #1370
Also running into this issue. Is there a workaround (except running the tests on the default database) available to avoid this issue?

[2020-12-15 11:13] driesvints commented on #1370
Not atm.

[2020-12-15 17:18] magoun commented on #1370
One workaround is to manually change the database config item to your testing database before running tests. If you have a database connection set up in Laravel called `'testing'`, edit the below section in `config/passport.php`:

After running tests, be sure to uncomment the production database setting and comment out the 'testing' line.

[code]

[2020-12-16 12:28] CaptainBart commented on #1370
I do something similar, but I prefer to change my .env file, since it won't be comitted to git. Locally I change the .env DB_DATABASE setting to the test database when I want to create/run unit tests and change it back when I'm done testing. For the build pipeline I've created a dedicated test .env file that is copied/renamed before the tests are run.

[2020-12-16 17:53] oranges13 commented on #1264
The solution from @AlbinoDrought worked great, but our tests are using sqlite which does not have an `information_schema` table. For greater compatibility, you can use the Schema::hasColumn method directly:

[code]

[2020-12-20 03:44] eskater commented on #247
Additional to [https://github.com/laravel/passport/issues/247#issuecomment-424095961](url)

Older version passport, you can override PassportServiceProvider

In App\Provders\PassportServiceProvider.php:

`<?php
namespace App\Providers;

use DateInterval;
use Laravel\Passport;
use Laravel\Passport\Bridge;
use League\OAuth2\Server\Grant;

use DB;

class PassportServiceProvider extends Passport\Passp

[2020-12-23 11:24] FadilaNuzha commented on #213
@ankgne thanks, this worked for me after spending almost 4 hours.

[2020-12-24 06:37] skipzenni commented on #1019
i share solution for resolve this problem.
first u need instal auth
laravel 5 down  use make:auth
laravel 5 above use
~ composer require laravel/ui
~ php artisan ui vue --auth
~ npm install
~ npm run dev

and more important create user using it dont create manualy on db
hope this helpfull

[2021-01-04 10:24] srhtylmz19 opened #1394 "2 projects with single passport instance"
i got 2 different projects shares same db, i create accessToken from PROJECT-1 but i cant log in PROJECT-2 with that token .

result is Unauthenticated !

any advice?

[2021-01-04 10:25] driesvints commented on #1394
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-01-04 10:25] #1394 closed

[2021-01-11 15:21] livingos opened #1395 "Format of Tokens returned now including microseconds"
- Passport Version: 10.1.0
- Laravel Version: 8.21.0
- PHP Version: 7.4
- Database Driver & Version: n/a

### Description:
The format of timestamps in tokens returned from passport have changed. This is due to the underlying package,  lcobucci/jwt which is now including microseconds.

Before lcobucci/jwt  4.0, they looked like this:
[code]

now:
[code]
Timestamps now include microseconds and are a

[2021-01-11 18:59] driesvints commented on #1395
It seems that this is an issue that's already been addressed in JWT if I read the linked issue correctly? Should just wait for a new release I think.

[2021-01-11 18:59] #1395 closed

[2021-01-15 08:39] kurbar opened #1398 "AccessToken generated via PasswordGrant cannot be decoded using TokenGuard::decodeJwtTokenCookie - "Algorithm not allowed""
- Passport Version: 10.1.0
- Laravel Version: 8.20.1
- PHP Version: 8.0.1
- Database Driver & Version: MySQL 5.7

### Description:
I'm generating access tokens using PasswordGrant and then returning them as cookies. I have the cookie name synced with `Passport::cookie()` to trigger the `TokenGuard::decodeJwtTokenCookie` handler to authorize the user.

However `decodeJwtTokenCookie` has hard-coded

[2021-01-15 09:08] driesvints commented on #1398
Heya. This doesn't seems like a Passport issue to me since you have a pretty custom setup. I don't think we document this kind of usage.

Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Laracha

[2021-01-15 09:08] #1398 closed

[2021-01-15 09:17] kurbar commented on #1398
@driesvints In that case would it be more viable for an extendability enhancement?

The main issue is that `TokenGuard::decodeJwtTokenCookie` has hard-coded allowed algorithms (https://github.com/laravel/passport/blob/10.x/src/Guards/TokenGuard.php#L268).

If this was configurable via Passports config, it would go a long way.

[2021-01-15 09:18] driesvints commented on #1398
You're always free to attempt a PR 👍

[2021-01-20 16:53] exeptionerror commented on #1381
All Possible Solution Added here [Replicating claims as headers is deprecated and will removed from v4.0 – Laravel Passport Problem in lcobucci/jwt package](https://exerror.com/replicating-claims-as-headers-is-deprecated-and-will-removed-from-v4-0-laravel-passport-problem-in-lcobucci-jwt-package/)

[2021-01-21 09:09] micc83 commented on #1370
You can fix the issue publishing the `config/passport.php` file and setting `storage.database.connection` to `null` so that `Schema::connection($name = null)` will return the default db set by the `--database` option.

[2021-01-21 18:00] zappzerapp opened #1399 "Nova blocks the installation of Passport"
- Passport Version: v10.1.0
- Laravel Version: v8.24.0
- Nova Version: v3.9.4
- PHP Version: 7.4.3

### Description:
Passport requires a different version of phpseclib/phpseclib than laravel/nova. So it is currently not possible to use both.

### Steps To Reproduce:
1. composer require laravel/laravel
2. composer require laravel/nova
3. composer require laravel/passport

./composer.json has been u

[2021-01-21 18:07] driesvints commented on #1399
I don't see this dependency in Nova's dependencies?

/cc @crynobone

[2021-01-21 18:10] zappzerapp commented on #1399
- Conclusion: don't install laravel/passport[v10.1.0] | install phpseclib/phpseclib[2.0.8] (conflict analysis result)
    - Conclusion: don't install phpseclib/phpseclib 2.0.8 (conflict analysis result)
    - moontoast/math 1.2.1 requires phpseclib/bcmath_compat >=1.0.3 -> satisfiable by phpseclib/bcmath_compat[2.0.0].
    - laravel/nova v3.9.4 requires moontoast/math ^1.1 -> satisfiable by moonto

[2021-01-21 18:11] zappzerapp commented on #1399
- Conclusion: don't install laravel/passport[v10.1.0] | install phpseclib/phpseclib[2.0.8] (conflict analysis result)
    - Conclusion: don't install phpseclib/phpseclib 2.0.8 (conflict analysis result)
    - moontoast/math 1.2.1 requires phpseclib/bcmath_compat >=1.0.3 -> satisfiable by phpseclib/bcmath_compat[2.0.0].
    - laravel/nova v3.9.4 requires moontoast/math ^1.1 -> satisfiable by moonto

[2021-01-21 18:23] zappzerapp commented on #1399
Ok, figured out the error:
Nova installs phpseclib/bcmath_compat v2.0.0 and that installs phpseclib/phpseclib v3.0.3.

In other words, if I install Passport before Nova, it works.

[2021-01-21 18:23] #1399 closed

[2021-01-21 18:25] driesvints commented on #1399
That shouldn't matter. Also: moontoast/math doesn't has the dependency you listed above (phpseclib/bcmath_compat). It requires bcmath: https://github.com/moontoast/math/blob/master/composer.json#L14

Are you using a shim?

[2021-01-21 18:31] zappzerapp commented on #1399
Yes, composer installed that for me:
https://github.com/ramsey/moontoast-math/blob/master/composer.json

[2021-01-22 00:18] crynobone commented on #1399
Yes, composer does have a bit of hiccup when you already installed a higher version of 3rd party packages not defined in the root `composer.json` and then installed another dependency that only support up to lower version of the same package. This can be fixed either by following what you did above, or:

* Remove `composer.lock` (and maybe `vendor` folder) before making `composer require` on the f

[2021-01-22 04:11] judge2020 commented on #1399
@crynobone Removing `composer.lock` before running `compose require laravel/passport` (without removing `vendor/`) works 👍

[2021-01-25 17:14] Robert-Hansen commented on #379
any updates on this? @lorisleiva

[2021-01-25 17:16] driesvints commented on #379
@Robert-Hansen if there aren't any new messages then no there aren't any updates. Please don't spam the issue tracker with that and instead try to help out here with a PR.

[2021-01-25 17:22] nurkarim opened #1400 "When i call $user->createToken('MyApp')-> accessToken"
- Passport Version: ^10.1.0
- Laravel Version: ^8.12
- PHP Version: 7.3.5
- Database Driver & Version:

### Description:
{
    "message": "syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)",
    "exception": "ParseError",
    "file": "/home/.../vendor/lcobucci/jwt/src/Configuration.php",
    "line": 22,
}

### Steps To Reproduce:

[2021-01-25 18:40] driesvints commented on #1400
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-01-25 18:40] #1400 closed

[2021-01-27 09:20] peyobr opened #1401 ""laravel/passport": "^8.4": Dependency "lcobucci/jwt": "^4.0" doesn't work anymore"
Dependency "lcobucci/jwt": "^4.0" doesn't work anymore.

My composer.json

    "require": {
        "php": "^7.2",
        "fideloper/proxy": "^4.0",
        "laravel/framework": "^6.2",
        "laravel/passport": "^8.4",
        "laravel/tinker": "^2.0"
    },

[2021-01-27 08:35:46] ERROR: syntax error, unexpected 'Parser' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) {"exceptio

[2021-01-27 13:17] Sephster commented on #1401
4.0 only works with php 7.4 upwards

[2021-01-27 13:57] driesvints commented on #1401
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2021-01-27 13:57] #1401 closed

[2021-01-27 16:07] ahernand53 commented on #211
to me throws an error, because first execute this new migration, so not found the `oauth_access_tokens` table. someone help me, pls

[2021-01-28 03:46] ammdsoftdev opened #1402 "Laravel/passport installation failed on laravel v. 8.22.1"
@driesvints

- Passport Version: #.#.#
- Laravel Version: 8.22.1
- PHP Version: 7.4.9
- Database Driver & Version:

I'm trying to implement laravel/passport on my app and run `composer require laravel/passport` and it returns error saying:

I also tried running composer require `laravel/passport:8.0.0` and `7.5.1`, still results to failed installation with different error this time.

I can't find

[2021-01-28 08:18] driesvints commented on #1402
Throw away your vendor and lock file and do a fresh install.

[2021-01-28 08:18] #1402 closed

[2021-01-29 15:30] pogush commented on #703
I had this very same issue while trying Passport with Laravel 8 and Breeze.

Fixed by changing the `store(LoginRequest $request)` function in `AuthenticatedSessionController` to return

`return redirect()->intended(RouteServiceProvider::HOME)`

I also made the same change in the `RedirectIfAuthenticated`.

This seems more like a Breeze issue/enhancement by the way, but figured it could help someon

[2021-01-29 15:31] pogush commented on #248
I had this very same issue while trying Passport with Laravel 8 and Breeze.

Fixed by changing the `store(LoginRequest $request)` function in `AuthenticatedSessionController` to return

`return redirect()->intended(RouteServiceProvider::HOME)`

I also made the same change in the `RedirectIfAuthenticated`.

This seems more like a Breeze issue/enhancement by the way, but figured it could help someon

[2021-01-31 07:31] linhtv97 opened #1403 "viaRemember"
- Passport Version: 10.1
- Laravel Version: 8
- PHP Version: 7.4
- Database Driver & Version:

### Description:
When using middleware "auth.api" I add token to the header of request but laravel response error
    "message": "Method Illuminate\\Auth\\RequestGuard::viaRemember does not exist.",
### Steps To Reproduce:

[2021-01-31 07:56] #1403 closed

[2021-02-03 13:14] ayman-elmalah opened #1404 "Token is valid for all guards"
- Passport Version: 10.1
- Laravel Version: 8.12
- PHP Version: 7.4
- Database Driver & Version: mysql 5.7

### Description:
When using $model->createToken($token_name), $model can be instance from User model or Admin model
so it create token but the token is available for all guards,  so if i use user token in admin area it will work ok, its not depending on the guard or the provider

[2021-02-04 16:04] driesvints commented on #1404
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2021-02-04 16:04] #1404 closed

[2021-02-04 23:04] spacemudd commented on #914
2021:

Had this issue. Almost went crazy. You have to be on composer v2, do `composer install` and it'll work.

Installing Passport package using composer v1 would endlessly result in 401 errors.

[2021-02-07 00:44] admicaa opened #1405 "Security Alert: tokens, is hasMany relation not Morph relation"
https://github.com/laravel/passport/blob/d28948c9ff9d71207ad077be221d95f8307eab2b/src/HasApiTokens.php#L33
at the previous line when we get user tokens we return any token that has only user_id **regardless** of the model name, this causes a security problem, for example:
if we have a driver with an id of 1
and a super admin with an id of 1
the driver can easily use his token to log in as a super

[2021-02-07 14:22] marie1st commented on #1262
I read the manual for passport personal client need to use method,
Passport::personalAccessClientId('client-id') from laravel manual in AuthServiceProvider, but it could not define the method personalAccessClientId(), how could I fix this issue, are they reallly removing these method, and how could I register myself a new Personal Access Client Id.

[2021-02-08 08:42] debiprasad commented on #330
You can add `Authorization: Bearer access_token` in the request header and request for the web page which needs authentication. Use `auth:api` middleware for the route.

[2021-02-08 09:58] driesvints commented on #1405
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-02-08 09:58] #1405 closed

[2021-02-13 12:08] gkarugi commented on #1101
to anyone who needs to handle this gracefully, you can handle the eception in your exception Handler with this:-
[code]

Reasoning behind this is the error code for unsupported_grant_type is 2 while the one being used for invalid grant(in this case invalid creds) is 10.

[2021-02-15 09:20] ezhasyafaat commented on #76
I have same issue, and i run ```php artisan config:cache``` and still have the same error

Note : i use laravel 8

[2021-02-15 11:37] Nikita128 opened #1406 "Enable non-constant port for http://localhost redirect URLs for Native App clients"
Native App client is using loopback interface (listens on `http:localhost:<random_port>`) to accept an authorization code sent via redirect URL from an authorization endpoint. But Laravel Passport seems not to support random ports for localhost redirect URLs if a client is a Native App, but it's stated in [the specification](https://tools.ietf.org/html/rfc8252#section-7.3)) that the authorization

[2021-02-15 11:45] Nikita128 commented on #1406
It seems like I've posted under the wrong repository...
If that is the case you may close my issue.

[2021-02-15 11:54] #1406 closed

[2021-02-15 13:01] h3poteto opened #1407 "Support urn:ietf:wg:oauth:2.0:oob as redirect uris"
When I provide `urn:ietf:wg:oauth:2.0:oob` as a redirect uri, the application try to redirect after authorize, as a result the application does not show any tokens.

Popular OAuth2 library are supporting `urn:ietf:wg:oauth:2.0:oob` as redirect uris. When the URI is specified as a redirect uri, I expect the behavior to display the token on the screen without redirecting after authorize.

[2021-02-15 13:34] driesvints commented on #1407
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-02-15 13:34] #1407 closed

[2021-02-15 13:49] MehdiJafari395 commented on #473
did you solve this problem ? i have this problem now

[2021-02-15 13:50] MehdiJafari395 commented on #473
(   The request is missing a required parameter, includes an invalid paramet   )

this is my error

[2021-02-15 18:54] paligiannis opened #1408 "Call to undefined method Illuminate\Support\Facades\Auth::extend()"
- Passport Version: v10.1.0
- Laravel Version: 8.27.0
- PHP Version: 7.4.15
- Database Driver & Version: MYSQL@5.7

### Description:

I have tried everything about changing some core files, find any collision between packages and investigate any issues of the package or code we have developed by ourselves and nothing.

What seems to work:
1. I have changed the core file PassportServiceProvider.php

[2021-02-15 20:48] driesvints commented on #1408
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2021-02-15 20:48] #1408 closed

[2021-02-17 11:55] addgod opened #1409 "Laravel Nova and Laravel Passport cannot install together, if done in the wrong oder."
- Passport Version: 10.1.0
- Laravel Version: 8.28.1
- PHP Version: 7.4.15

### Description:
Cannot install Laravel Passport along side Laravel Nova, if done in the wrong order. So if nova is installed first then passport, it will not work. But if passport is installed first, and then nova. Then it will work.

Laravel Nova and Laravel Passport both uses phpseclib/phpseclib. Passport uses it direct

[2021-02-18 04:42] admicaa commented on #1405
@driesvints excuse me, seems you didn't get my idea, the solution is easy just make a function in the model and ignore it from the trait, but this is a real security issue, where one model can use his token, and act as another model ( when they have the same id )

users, can go to the admin panel and treat as an admin
they can call admin APIs as admin

[2021-02-18 10:48] driesvints commented on #1409
What version of Nova are you using? I'll see if I can get passport to update to phpseclib/phpseclib v3.0

[2021-02-18 14:45] driesvints commented on #1405
Hey @admicaa. First of all, if this is a real security issue you shouldn't be publicly disclosing this on an issue tracker ([see our readme](https://github.com/laravel/passport#security-vulnerabilities)).

Furthermore I don't see how this can be a security issue.

[2021-02-18 15:06] #1409 closed

[2021-02-18 15:19] driesvints commented on #1409
We'll do a new release next Tuesday for phpseclib v3 support

[2021-02-19 21:57] derekmd commented on #1370
@driesvints: A sensible fix might be to change the out-of-the-box connection value to `null` to make apps fallback to `config('database.default')` unless configured otherwise?

https://github.com/laravel/passport/blob/7ab3bdbdb9bf162f2da9d8c445523dc63c862248/config/passport.php#L62

The above copy and pasted `env('DB_CONNECTION', 'mysql')` string from file config/database.php just causes the `Migr

[2021-02-21 18:20] devilcius commented on #1274
I solved it adding `auth.providers` key  in auth.app:

[code]

[2021-02-21 18:58] softwarespot commented on #1395
This also extends to other packages/languages e.g. I am using jwt-go, and this broke one of our applications, because it was expecting a float64, not a string. This isn't just affecting the Laravel ecosystem, but other ecosystems too, who use these tokens issued by passport.

Thanks for listening

[2021-02-21 19:10] Sephster commented on #1395
Why are you using tokens generated by passport with another oauth server? Interested in the use case here

[2021-02-21 19:28] softwarespot commented on #1395
Good question, we have a CLI application written in Go which communicates with our PHP service (written uses Laravel) and so we use the token when communicating with this service. One feature with this CLI is we show the token locally stored and their expiration time, which broke when I realised that "exp" was a string not a number. Hope that helps?

[2021-02-21 22:12] paligiannis commented on #1408
@driesvints I debugged the code and I can't figure out what's happening. Service providers bag seems clean! No duplicate registered providers no collision with other packages. Also, $auth is an instance of AuthManager, seems to work correctly, https://prnt.sc/10361fh

[2021-02-22 11:10] driesvints commented on #1370
Thanks @derekmd for those insights.

I've decided to revert https://github.com/laravel/passport/pull/1255 to properly fix this. Please see my reasoning on the PR: https://github.com/laravel/passport/pull/1412

[2021-02-22 14:26] driesvints commented on #1370
We've reverted those changes for the next major release of Passport. At the moment we don't have a date yet for when that'll be released.

[2021-02-22 14:27] #1370 closed

[2021-02-23 07:31] Sephster commented on #1395
Ahh I see. It looks like you've tracked down the issue and it will be resolved in an upcoming version of the JWT package https://github.com/lcobucci/jwt/pull/618. Until then, I think devs will have to implement a custom override. Thanks for the explanation.

[2021-02-23 10:33] prakashmalviya opened #1413 "Installation is not working through artisan command from migration."
- Passport Version: 9.3
- Laravel Version: 7.0
- PHP Version: 7.2
- Database Driver & Version: MySql 5.0

I'm trying to install laravel passport through migration so it will automatically install through the migration process and the end-user does have to run the artisan command.

I have used the below code on my migration but it will give me an error during the migration run.

`
\Artisan::command

[2021-02-23 10:35] driesvints commented on #1413
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2021-02-23 10:35] #1413 closed

[2021-02-23 10:58] prakashmalviya commented on #1413
@driesvints latest version not working for me because I'm using Laravel 7.0

 Problem 1
    - Root composer.json requires laravel/passport ^10.1 -> satisfiable by laravel/passport[v10.1.0].
    - laravel/passport v10.1.0 requires illuminate/auth ^8.2 -> found illuminate/auth[v8.2.0, ..., v8.28.1] but these were not loaded, likely because it conflicts with another require.

Is that any solution for

[2021-02-23 16:00] driesvints opened #1414 "Move routes to dedicates routes file"
Passport is probably one of the oldest first party package we have. It still uses the old way of setting up routes through a dedicated routes method on the Passport class. It's best that we move it to a new `routes/web.php` file in similar fashion as all the other first party packages.

[2021-02-24 03:50] judge2020 commented on #124
With `lcobucci/jwt:^4.0` (check by running `composer show -i Lcobucci/*`), the following code works for me:

[code]

[2021-02-25 07:05] ramkumawathis commented on #87
i have 2 type of users.
1) Login user
2) Guest user
I am using passport api with laravel8.
I have news curd api with comment. The route are : List all news api, Show single news detail api and user post comment api.
My question:-
-> Login user have all access with access_token.
-> But guest user access only news list and single detail api.

How can i access guest news list api and single detail. F

[2021-02-25 13:39] palla451 opened #1415 "Increase refresh token lifetime in controller"
- Passport Version: 10.0.1
- Laravel Version: 8.15.0
- PHP Version: 7.4.0
- Database Driver & Version: MySql 15.1

### Description:
I can't increase the refresh token lifetime when setting remember_me

### Steps To Reproduce:

AuthServiceProvider
[code]

AuthController
[code]

[2021-02-25 13:50] driesvints commented on #1415
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-02-25 13:50] #1415 closed

[2021-02-28 02:10] smujaddid opened #1416 "Revert phpseclib v3 update PR"
- Passport Version: 10.1.0
- Laravel Version: 8.29.0
- PHP Version: 7.4.15
- Database Driver & Version:

### Description:
I'm using `"league/flysystem-sftp": "^1.0",` for my project and I can not update `laravel/passport` to latest version (10.1.1) because of `phpseclib`. Both `league/flysystem` and `league/flysystem-sftp` are still using phpseclib v2 for their 1.x and 2.x library versions. But, `

[2021-03-01 08:55] asif-aly commented on #1033
In case you are using Apache Server, Add this line to your httpd.conf file.

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

[2021-03-01 10:12] driesvints commented on #1416
Thanks. This report indeed convinces me we should backport support for v2 in Passport v10. I've sent in a PR for that here: https://github.com/laravel/passport/pull/1418. We'll remove support for v2 in Passport v11.

[2021-03-01 10:12] #1416 closed

[2021-03-03 06:15] prakashmalviya commented on #1413
@driesvints I have upgraded it to L8 and still have the same issue here is my error stack:

I'm trying the below code on the Migration file:

`Artisan::command('passport:install');
 Artisan::command('passport:keys');`

{
    "message": "Too few arguments to function Illuminate\\Foundation\\Console\\Kernel::command(), 1 passed in vendor\\laravel\\framework\\src\\Illuminate\\Support\\Facades\\Facade

[2021-03-03 14:15] bkintanar commented on #779
This no longer works on the latest Laravel and lcobucci/jwt. Do you have an updated solution?

[2021-03-03 15:19] vedmant commented on #779
@bkintanar Don't have any thought about this, that project is not updated yet, works with older Laravel.

[2021-03-04 01:15] bkintanar commented on #779
@vedmant no worries. I manage to work on it with your example. Here's my take on it. Thank you for your help.

[code]

My approach returns a PersonalAccessTokenResult vs String on your implementation since it's what I needed on my app.

Here's how I apply it.

[code]

[2021-03-04 05:24] prakashmalviya opened #1419 "Installation is not working through artisan command from migration"
Passport Version: 10.0
Laravel Version: 8.0
PHP Version: 7.3
Database Driver & Version: MySql 5.0

I'm trying to install laravel passport through migration so it will automatically install through the migration process and the end-user does have to run the artisan command.

I have used the below code on my migration but it will give me an error during the migration run.

\Artisan::command('passpor

[2021-03-04 05:25] prakashmalviya commented on #1413
I have open #1419  for this

[2021-03-04 10:06] driesvints commented on #1419
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-04 10:06] #1419 closed

[2021-03-04 10:21] prakashmalviya commented on #1419
@driesvints can you please share that question link which is asked on a support channel?

[2021-03-04 10:22] driesvints commented on #1419
Not sure what you mean. The problem from above is a support question. Please post it on one of the channels above.

[2021-03-04 10:32] prakashmalviya commented on #1419
let me ask there but in #1413 you said I have to test it with L8 and if still an issue then you will reopen it. anyways let me post on support.

https://stackoverflow.com/questions/66473237/laravel-passport-installation-is-not-working-through-artisan-command-from-migrat

[2021-03-04 10:34] driesvints commented on #1419
That was a standard answer I post when I see that you're posting an issue under a version that we don't support. I didn't even look at the issue itself. It's also clearly indicated which versions we support when you open an issue:

![Screenshot 2021-03-04 at 11 33 47](https://user-images.githubusercontent.com/594614/109951075-87a0a180-7cdd-11eb-9e46-a3f4a3367ac0.jpg)

[2021-03-04 12:08] amcsi commented on #898
+1

It's not possible to use both the `auth:api` and `client` middlewares together, because if any of them fail auth, it doesn't give a chance for the other to run. This way it's not possible to make routes that can be accessed both with API calls authenticated by a user, and API calls representing a machine.
I know that normally you can allow for multiple auth guards by separating the guards with

[2021-03-04 13:30] amcsi opened #1420 "passport:client ignores --provider for personal access clients"
- Passport Version: 10.1.2
- Laravel Version: 8.17.1
- PHP Version: 7.4.15
- Database Driver & Version: PostgreSQL(libpq) Version => 12.6 (Ubuntu 12.6-0ubuntu0.20.04.1)

### Description:

When running `php artisan passport:client --personal --provider=whatever`, the provider does not get set in the created client.
With the password type client it does work: `php artisan passport:client --password

[2021-03-04 14:32] driesvints commented on #1420
There's no effect for declaring this on the client itself as the personal access client type doesn't direct interacts with the user provider. The token model will already use the correct user provider defined by the API guard.

[2021-03-04 14:32] #1420 closed

[2021-03-04 15:36] amcsi commented on #1420
@driesvints That's not true. Please reconsider for the sake of security.

When a passport guard (for a provider) checks the token of a requests, the client of the token _is_ looked up to check to see if the client's provider matches the auth guard's provider _if_ the client has a provider set.

So here's a concerning scenario:

config/auth.php
[code]

routes/api.php
[code]

The users and adminUser

[2021-03-04 16:38] driesvints commented on #1420
I'll check into this again when I find some time

[2021-03-08 12:28] driesvints commented on #1420
I now see what you actually mean. At the moment multiple guards simply isn't supported for any other grants than the Password Grant Tokens. Taylor made it clear here that we won't be implementing support for other grants atm: https://github.com/laravel/passport/pull/1353

Sorry about that.

[2021-03-08 12:53] amcsi commented on #1420
Thank you for looking into it.

For the record (looking at the ticket you linked) I forgot about the fact that `HasApiTokens` is also agnostic about providers. In my local project when I was testing `personal` clients respecting `provider`, I only actually had one client, so had I two, I wouldn't have been able to specify which provider to use anyway. Though with a little bit of plumbing and invok

[2021-03-08 13:20] driesvints commented on #1420
Yeah while looking at it in the core and at the PR it's definitely a lot more complicated than it seems.

[2021-03-12 14:21] newtoniumx3 opened #1423 "AuthManager Authorization header not working in production"
- Passport Version: 10.1.1
- Laravel Version: 8.12
- PHP Version: 8.0.2
- Database Driver & Version: MySQL 5.7

### Description:

I'm not sure if this is a potential bug or my environment problem but.

The Authorization header passport system is not working in the production environment. The same exact code works on my localhost. I debugged production to make sure the token was being received inta

[2021-03-12 15:13] driesvints commented on #1423
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-12 15:13] #1423 closed

[2021-03-16 03:40] HassanYA commented on #1414
I second this. I have installed laravel passport very recently and have no idea what the endpoints to begin with and cannot write my api documentation

[2021-03-16 12:12] sbn111 commented on #1306
The same issue happened to me how to resolve it

[2021-03-16 12:17] sbn111 opened #1424 "Invalid grant error"
- Passport Version: used this -> joselfonseca/laravel-api from github
- Laravel Version:  8
- PHP Version: 7
-
### Description:
Receiving this response,
Response,
{
"error": "invalid_grant",
"error_description": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the autho

[2021-03-16 12:30] driesvints commented on #1424
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-16 12:30] #1424 closed

[2021-03-16 17:17] sbn111 opened #1426 "Unauthenticate response"
- Passport Version:
- Laravel Version: 8
- PHP Version: 7

### Description:

I have passed authorization header but receiving this response,
{
    "message": "Unauthenticated.",
    "status_code": 401
}

### Steps To Reproduce:
Run this url in post man get method to retrieve list of user - http://127.0.0.1:8000/api/users
I have sent authorization header with bearer token. But it showing unauthenti

[2021-03-16 17:19] driesvints commented on #1426
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-16 17:19] #1426 closed

[2021-03-16 17:35] sbn111 opened #1427 "Unauthenticated response"
- Passport Version: used in joselfonseca/laravel-api
- Laravel Version: 8
- PHP Version: 7
- Database Driver & Version: Mysqli

### Description:
Included bearer token but receiving response as unauthenticated,
Response,
{
    "message": "Unauthenticated.",
    "status_code": 401
}

### Steps To Reproduce:
Tried this link to get list of users - http://127.0.0.1:8000/api/users
And I have included au

[2021-03-17 08:39] driesvints commented on #1427
Stop opening these please and use a support channel

[2021-03-17 08:39] #1427 closed

[2021-03-17 10:48] bswatantra opened #1428 "invalid_grant-The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client, while creating a new user"
- Passport Version: 10.1
- Laravel Version: 8.0.0
- PHP Version: 7.4
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2021-03-17 10:50] #1428 closed

[2021-03-22 08:35] optox commented on #914
Thanks a lot. This help me to solve the problem.

[2021-03-26 00:56] billriess opened #1430 "Invalid dates in JWT"
- Passport Version: 10.1.2
- Laravel Version: 8.33.0
- PHP Version: 7.4
- Database Driver & Version: MySQL 8

### Description:
When validating the token issued from `oauth/login` the `iat`, `nbf`, and `exp` fields are coming back in an invalid date format that includes decimals.

### Steps To Reproduce:
Create a token, validate it against something like https://jwt.io/

This is breaking in some of

[2021-03-26 09:49] driesvints commented on #1430
Afaik this is done with OAuth2 Server. I think I saw something fly by there about Lcobucci\JWT? @Sephster @lcobucci do any of you two know more about this?

[2021-03-26 09:50] driesvints commented on #1430
I see https://github.com/thephpleague/oauth2-server/pull/1198 which isn't tagged yet atm. @billriess do the changes of that PR solve the issue for you?

[2021-03-26 10:24] lcobucci commented on #1430
We already addressed that in https://github.com/lcobucci/jwt/pull/706 and https://github.com/lcobucci/jwt/pull/710

[2021-03-26 10:38] lcobucci commented on #1430
Just to explain things better, time fractions are OK in jwt land. Our mistake was to represent them in strings - to not have precision issues when casting things to string (required to recreate the DateTimeImmutable object).

We've found an alternative to the casting that solves the issue and allows us to use floats - solving compatibility issues with other libs.

[2021-03-26 10:49] driesvints commented on #1430
Thanks @lcobucci. @billriess can you update to the latest JWT version to see if that fixes the issue?

[2021-03-26 20:32] billriess commented on #1430
Odd, I had 4.1.2 already but after updating to 4.1.4 it seems to be good now. Going to close this.

[2021-03-26 20:32] #1430 closed

[2021-03-27 16:23] rmncv opened #1431 "Symfony\Component\ErrorHandler\Error\FatalError: Invalid opcode 117/2/0"
- Passport Version: ^10.0
- Laravel Version: ^8.0
- PHP Version: 8.0.3
- Database Driver & Version: mysql  Ver 8.0.23 for osx10.16 on x86_64

### Description:

Hello. I'm trying to create access+refresh token on user's registration via API (for mobile app). Did everything as described in documentation (also searched a lot on closed issues, tutorials (even video tutorials!), stackoverflow) but when

[2021-03-27 19:19] #1431 closed

[2021-03-30 16:20] romansorin opened #1434 "Class 'Lcobucci\Clock\SystemClock' not found and Target [Lcobucci\JWT\Parser] is not instantiable with building"
- Passport Version: 10.1.2
- Laravel Version: 8.35.0
- PHP Version: 7.4.7
- Database Driver & Version: MySQL, 5.7.12

### Description:

This issue recently popped up in one of our projects, and I've spent the better part of a full day and a half trying to sort it out. When attempting to make an API/HTTP calls that utilize Passport/OAuth, the following errors are returned:

[code]

This SystemClock

[2021-03-30 16:30] driesvints commented on #1434
This seems like a oauth2-server issue, see the stacktrace. Please report this on the oauth2-server tracker.

[2021-03-30 16:30] #1434 closed

[2021-04-01 06:14] tzkmx commented on #754
@mesadhan
Did you find the way to get passport echoing the state provided at the start of the authorization code flow?

Kinda embarrassing telling mobile developers in my company to check that state is the same they sent, just to realize passport does not returns it to the callback URI.

[2021-04-02 13:29] rocksfrow commented on #1296
Thanks for the tip. This should be noted in the upgrade guide IMO.

[2021-04-06 20:25] Tofandel opened #1435 "Add the ability to change the 'auth' middleware when setting up the routes"
There is no straightforward way to change the middleware of some of the routes

Eg in `RouteRegistrar.php`

[code]

Instead of having to manually declare all the routes, it would be nice to add the ability to change the auth middleware there
Eg the ability to do
[code]

Or

[code]

Doing it like this would be trivial

[code]

[2021-04-06 20:50] driesvints commented on #1435
Seems you already attempted a PR 👍

[2021-04-06 20:50] #1435 closed

[2021-04-06 22:06] Tofandel commented on #1435
Yep, in case anyone wonders the prior workaround, this is mine:

[code]

[2021-04-07 12:04] corbosman commented on #1430
Even when they are floats, in our experience talking to about 2 dozen external systems using JWTs, pretty much all of them fail on float dates (so incompatible with Laravel Passport). For those that are stuck in the integer world, my laravel-claims package also has support for custom formatters so you can just format them to ints.  https://github.com/corbosman/laravel-passport-claims

[2021-04-09 07:46] rashmiranjanrrs opened #1437 "Value is not in the allowed date format"
- Passport Version: 10.1.3
- Laravel Version: 8.12
- PHP Version: 7.4
- Database Driver & Version:
- - lcobucci/jwt: 4.1.4

### Description:
I have done everything but unable to solve the bug by updating it to the latest version. Anyone, please help me on this issue.

### Steps To Reproduce:
Only on the live server It's throwing this Error not in local.
![ice_screenshot_20210409-131924](https://us

[2021-04-09 07:54] driesvints commented on #1437
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-04-09 07:54] #1437 closed

[2021-04-09 08:06] rashmiranjanrrs commented on #1437
@driesvints Ofcourse it's a bug

[2021-04-10 21:08] joelbutcher opened #1438 "Installing Passport removes parallel testing capabilities in Laravel >= 8.25"
- Passport Version: v10.1.3
- Laravel Version: v8.36.1
- PHP Version: 8.0.3
- Database Driver & Version: MySQL

### Description:
When installing Laravel Passport, composer removes the `brianium/paratest` package required for the parallel testing feature of Laravel >= 8.25.

### Steps To Reproduce:
- Scaffold a fresh Laravel app using Laravel >= 8.25.
- Install run `php artisan test --parallel` and

[2021-04-12 09:19] driesvints commented on #1438
Think there's something really specific going on for your use case because it works fine for me with the steps from above.

[2021-04-12 09:19] #1438 closed

[2021-04-13 07:29] lk77 opened #1439 "[Feature request] Supporting laravel/sanctum"
Hello,

it seems that when using both sanctum and passport in same project,
passport does not recognize the sanctum token and disconnect the user, which prevents sanctum from handling the request as expected.

The only way to make it works is to define sanctum guard before passport guard in config/auth.php,
but i think it would be great for passport and sanctum to work together out of the box.

To

[2021-04-13 08:15] enaeim opened #1440 "How does the Passport Package check that the third-party client really has the scope it claims in the redirect request?"
- Passport Version: 10.1.3
- Laravel Version: 6.20.16
- PHP Version: 7.4.14
- Database Driver & Version: 10.5.8-MariaDB

### Description:
We are using the 'Authorization Code Grant Token'  for our project. Everything works fine. However, how does the passport check the scope that the third party client claims in the redirect request really belongs to him or not? Maybe he is lying.

To explain furt

[2021-04-13 09:06] driesvints commented on #1439
Heya. Atm we have no plans for this. It's intended that you use either Sanctum or Passport for your authentication and not both.

[2021-04-13 09:06] #1439 closed

[2021-04-13 09:06] driesvints commented on #1440
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-04-13 09:06] #1440 closed

[2021-04-13 13:06] lk77 commented on #1439
Well we need token based api for user/clients and another oauth2 api for iot devices, i don't think passport alone can handle that.

[2021-04-16 07:50] AndreDitVir01 commented on #197
It worked! but i don't know why and what is the effect?

[2021-04-16 22:41] gharbat opened #1441 "Passport drivers usage causes invalid token"
- Passport Version: 10.0
- Laravel Version: 8
- PHP Version:  7.4.0
- Database Driver & Version: MySQL 5.7

### Description:
Laravel responded with 401 unauthenticated once we use access token with driver other that the default one

### Steps To Reproduce:

- let us create a new client ID and client secret  via passport command
 ``` php artisan passport:client  --password  --provider=developers```

[2021-04-17 20:03] taftse commented on #882
Any chance we could finally get this issue fixed?

[2021-04-18 09:45] gharbat commented on #1441
i thinks the issue is here
https://github.com/laravel/passport/blob/a5e4471dd99b7638ab5ca3ecab6cd87cf37eb410/src/Guards/TokenGuard.php#L98

why we compare the provider name from auth.php here ?
if the request in another provider (other than the one in the auth.php then it will fail, we shall check if the provider valid within the keys of `providers` array in auth.php) ?

[2021-04-19 07:19] driesvints commented on #882
@taftse as soon as someone sends in a PR

[2021-04-19 07:23] driesvints commented on #1441
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2021-04-19 07:23] #1441 closed

[2021-04-19 20:09] gharbat commented on #1441
Hey @driesvints, already discussed this issue in the Discord server, and it is appear its a valid bug in passport, once the provider is set in the client we must validate it against array of the keys of the providers array in auth.php, and not the default provider.

thanks !

[2021-04-20 10:19] PhamBaTrungThanh commented on #713
I'm on Laravel 5.4 and MySQL 5.7 and this error still occur, but very rarely (like once/twice a month).

Does anyone have the explaination for this?

[2021-04-23 15:03] gharbat commented on #1441
@driesvints any updates on this ?

[2021-04-23 19:29] driesvints commented on #1441
These changes were introduced in https://github.com/laravel/passport/pull/1220. @billriess can you maybe shed some light on this?

[2021-04-23 22:18] billriess commented on #1441
I can try to take a look at this over the weekend but I've been fairly busy lately so no promises.

This was working when it was merged in though.

[2021-04-24 08:23] amcsi commented on #1415
Yeah I also can't seem to find a way to temporarily change the lifetime of access tokens (for the creation of a single token) outside of AuthServiceProvider.

[2021-04-24 12:36] amcsi commented on #746
What @trd-warren wrote does work, but with a little caveat: if you had `App\Auth\PassportAuthenticator` already resolved from the service container (which in turn resolves `League\OAuth2\Server\AuthorizationServer`) when you call `Passport::personalAccessTokensExpireIn()`, it won't have any effect even for `$user->createToken()`.

`$user->createToken()` also indirectly gets `League\OAuth2\Server\A

[2021-04-26 17:51] ReArmedHalo commented on #1439
Perhaps I am misunderstanding your use case (javascript frontend? and / or other means of consuming) but doesn't Passport have this functionality built-in? https://laravel.com/docs/8.x/passport#consuming-your-api-with-javascript

[2021-04-27 06:46] lk77 commented on #1439
There is two ways of consuming, a first party iot device api, and third party users api,
users should be able to get a token and use that to develop their own software in any language they see fit, like node/php/java or anything else.

[2021-04-29 16:02] adrielalfaro88 opened #1442 "Laravel auth not work"
I have deployed my laravel project in ionos.com domain, and it's worked fine. Now i need to move to a ionos.es domain and the auth not works, its redirects to login page every moment, i do not what is wrong now.
Could you help me please?

[2021-04-29 16:04] driesvints commented on #1442
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-04-29 16:04] #1442 closed

[2021-04-30 17:43] ratheeps commented on #1431
Hi @rmncv ,
How you solve this?

[2021-04-30 17:48] rmncv commented on #1431
Hi @ratheeps
Sending requests like this:
[code]

[2021-05-06 16:49] shez1983 opened #1444 "Passport - returns invalid grant when logging in AFTER few hours (ie login stops working)"
- Passport Version: 10.1.3
- Laravel Version: 8.39.0
- PHP Version: 8.0
- Database Driver & Version: Mysql 5.6

using Vapor/Amazon MysQl Aurora

### Description:

After a while I am unable to login with passport, it returns an invalid_grant error.

Side note:
everytime i deploy which run seeder and initialises a client with SET ID & Secret so these dont change
[code]

### Steps To Reproduce:
1. Re

[2021-05-10 08:51] driesvints commented on #1444
I'm very sorry but I can't help you out here. You indicate that the app works properly locally but not on Vapor. My colleagues have also determined this is not a Vapor issue. I'm going to have to ask you to keep trying a support channel, sorry:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/

[2021-05-10 08:51] #1444 closed

[2021-05-10 10:35] shez1983 commented on #1444
of course a paying customer - isnt important. and login functionality isnt important at all..

i have since figured out (with help of someone) that if i change session driver to dynamoDB (Not cookie) it seems to work. but changing it manually isnt correct way as vapor reverts it back on deploy :/

[2021-05-17 05:40] Acollty opened #1445 "How to use mobile verification code to achieve login"
In my work, I want to use the Passport component to realize SSO single sign-on. During this period, I came across a new requirement, that is, I need to use the mobile phone number and verification code to complete the login, and the password is not involved in this process. May I ask if there is any realization of such list and requirement?

[2021-05-17 09:14] driesvints commented on #1445
This isn't supported and not part of OAuth2 which Passport is intended for.

[2021-05-17 09:14] #1445 closed

[2021-05-23 09:23] laratuto commented on #245
[it worked for me thanks bro. sure](https://laratuto.com/passport-install-in-laravel/)

[2021-05-26 12:25] makao91 commented on #1224
Have the same issue after upgrade laravel framework from 5.4 to 8.40.
In my case, i have just forgotten to change index methods in controllers and routes in routes/api.php as you can read in laravel upgrade guide.
https://laravel.com/docs/6.x/upgrade
"Authorization policies attached to controllers using the authorizeResource method should now define a viewAny method, which will be called when a us

[2021-06-01 14:15] EmileSonneveld commented on #1128
This worked for me too on Laravel Framework 5.8.38
`php artisan config:cache`

[2021-06-07 06:45] xdiegom commented on #1272
Hi @billriess,

I am facing a similar use case of this issue. What I am trying to do is to use an authorization server using passport that will only authorize access tokens to the clients that are registered on the table `oauth_clients`.

As far as I could understand, the client credentials flow it is used to communicate various services between each other, using an **Authorization Server** and ea

[2021-06-08 03:58] north521 opened #1451 "多个guard,如何分别设置不同的令牌有效时间"
多个guard,如何分别设置不同的令牌有效时间

[2021-06-08 06:28] driesvints commented on #1451
Unfortunately we can only provide support in English, sorry.

[2021-06-08 06:28] #1451 closed

[2021-06-08 11:27] peterfox opened #1452 "Remove Firebase JWT dependencies in favour of Lcobucci JWT"
To put it simply, the `firebase/php-jwt` package is a dependency of Passport. Passport has a dependency of `league/oauth2-server` which depends upon `lcobucci/jwt` which has the functionality to encode and decode JWT tokens the same as the Firebase package.

I'm happy to do the work on the changes so `firebase/php-jwt` can be removed so the package only relies on the `lcobucci/jwt` package but wou

[2021-06-08 11:32] driesvints commented on #1452
I've actually been thinking of that as well. We could do that for the next major release maybe. Although I don't know the exact implications atm. If you're willing, feel free to work on a PR for master to check if we can drop it. Thanks!

[2021-06-08 11:50] peterfox commented on #1452
In theory it might not even need a major release as from a quick glance the code using Firebase isn't used in any parameters etc and it's just array/objects being returned so as long as the code for Lcobucci is doing the same it could be a swap out. Doesn't seem to reference the exceptions thrown by encode/decode. The package mostly references Lcobucci classes.

The problem I guess would be those

[2021-06-08 11:55] driesvints commented on #1452
@peterfox technically that indeed shouldn't be an issue. They should have added firebase to their own dependencies in that case. Maybe try a pr to current stable branch and if we feel it's too much of a breaking change we could still swap to master.

[2021-06-10 19:22] IAndreaGiuseppe commented on #379
Hi, I made an improvement to solve this problem but nobody tells me how to share the PR. Can somebody tell me how/where I have to send the PR?

I simply move the routes outside the core to permit a good amount of configuration (like in all new laravel packages) and set up a `Features` class to handle the various sections

Thanks

[2021-06-13 12:15] caixingyue opened #1455 "BadMethodCallException: Call to undefined method App\Models\User::token()"
- Passport Version: 10.1.3
- Laravel Version: 8.46.0
- PHP Version: 8.0.7
- Database Driver & Version:

### Description:
HI~
  When I use middleware to check the scope of the token, there is an exception. Remove the "! $request->user()->token()" in the middleware and it is normal. May I ask if I have not configured anything, thank you

### Steps To Reproduce:
1、I logged in and got a token
  event(

[2021-06-13 12:17] driesvints commented on #1455
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-13 12:18] #1455 closed

[2021-06-15 08:46] KevinYobeth opened #1456 "OAuth2 authorization error on cancel button pressed"
- Passport Version: 10.1.3
- Laravel Version: 8.46.0
- PHP Version: 7..4.11
- Database Driver & Version: mySQL version 5.0.37

### Description:
I'm making an OAuth2 application using Laravel Passport. I use it to login user using their account on the OAuth2 application. It all went well, except, when the user click the cancel button, it will throw the error (attached). I did not modify any form fi

[2021-06-15 08:51] driesvints commented on #1456
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-15 08:51] #1456 closed

[2021-06-15 12:07] arukompas commented on #1408
For me personally, the issue was me trying to inject `Auth` into form validation `rules()` method signature like so:
[code]

instead of injecting it, I used the facade directly and it worked:
[code]

[2021-06-18 17:06] clemblanco commented on #1051
Does that mean that in general Laravel products don't make use of foreign keys, out of the box, because they are not available with, let's say, SQLite?

But then looking at Jetstream, it seems to be using foreign keys.

https://github.com/laravel/jetstream/blob/28b235c6c6c0ca15987bdc9873ea05a37dce6691/database/migrations/2020_05_21_200000_create_team_user_table.php#L18-L19

I'm happy to publish th

[2021-06-18 17:13] driesvints commented on #1452
I'm gonna close this one for now. If you're willing, feel free to send in a PR.

[2021-06-18 17:13] #1452 closed

[2021-06-19 07:43] north521 opened #1457 "Multiple guards, how to set different token valid time"
Multiple guards, how to set different token valid time